<template>
    <div>
        <P2PHeader />
        <div class="payment_box my-2">
            <div class="container">
                <div class="row justify-content-center payment_row align-items-center">
                    <div class="col-md-8 col-lg-6">
                        <div class="payment_inner_box p-4">
                            <div class="payment_heading mb-4">
                                <h6 class="d-flex align-items-center gap-2"><span></span> {{ data?.type }}</h6>
                            </div>
                            <div id="renderForm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ApiClass from '../../api/api';
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import Form from "../common/Form.js"
export default {
    name: "AddPayment",
    components: {
        P2PHeader
    },
    data() {
        return {
            id: '',
            data: '',
        }
    },
    methods: {
        async getById() {
            let response = await ApiClass.getNodeRequest(`P2P/paymentType/getById?id=${this.id}`, true);
            if (response?.data?.status_code == "0") {
                // alert (response.data.message)
            }
            if (response?.data?.status_code == "1") {
                this.data = response?.data?.data
                this.createDynamicForm(this.data?.form_field)

                console.log(this.data);
            }
        },
        async createDynamicForm(data) {
            let formExist = document.getElementById("dynamicForm");
            if (formExist != null) {
                formExist.remove();
            }
            const css_class = {
                form: ["myform"],
                input: ["form-control", "mb-3"],
                button: ["btn", "border", "w-100"],
                select: ["form-select", "mb-3"],
                div: ["input_box", "mb-4", "file_input"]
            };
            Form.createForm({
                targetDiv: "renderForm",
                formID: "dynamicForm",
                array_data: data,
                css_class: css_class,
                func: this.formSubmit,
                btnId: "submit_btn",
            });
        },
        async formSubmit(event) {
            console.log(event);
            event.preventDefault();
            let formData = new FormData(event.target);
            const values = {};
            for (const pair of formData.entries()) {
                values[pair[0]] = pair[1];
            }
            values.currency = this.data.currency;
            values.payment_slug = this.data.slug;
            let response = await ApiClass.postNodeRequest("p2p/paymentType/create-payment", true, values);
            
            if (response?.data?.status_code == 0) {
                this.failed(response?.data?.message)
                // alert (response?.data?.message);
                return;
            }
            if (response?.data?.status_code == 1) {
                // alert (response?.data?.message);
                document.getElementById("dynamicForm").reset()
                this.success(response?.data?.message)
                this.$router.push('payment')
                return;
            }
        }
    },
    mounted() {
        this.id = this.$route.query.id
        this.getById()
    }
}
</script>

<style scoped>
.payment_row {
    min-height: calc(100vh - 51px);
}

.payment_inner_box {
    background-color: var(--white);
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.payment_heading h6 span {
    width: 4px;
    height: 14px;
    border-radius: 5px;
    background-color: var(--active-red);
    display: block;
}

.holder_box p {
    font-size: var(--fs-15);
}

.input_box label {
    font-size: var(--fs-15);
}

.input_box input {
    font-size: var(--fs-14);
}

.input_box .form-control:focus {
    border-color: var(--bs-border-color);
}

.tips_box h6 {
    font-size: var(--fs-15);
}

.tips_box p,
.holder_box span {
    font-size: var(--fs-14);
}

.input_box .form-select {
    font-size: var(--fs-14);
}

.btn_group .cancel_btn {
    border: 1px solid var(--bs-border-color);
    background-color: var(--white);
    font-size: var(--fs-15);
}

.btn_group .confirm_btn {
    border: 1px solid var(--active-yellow);
    background-color: var(--active-yellow);
    font-size: var(--fs-15);
}

.file_input input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.file_input label {
    position: relative;
    border: 1px dashed var(--bs-border-color);
    border-radius: 6px;
    min-height: 100px;
    max-width: 150px;
}

.file_input h6 {
    font-size: var(--fs-15);
    font-weight: 400;
}

.file_input .msg_text {
    font-size: var(--fs-13);
}

@media all and (min-width:320px) and (max-width:767px) {
    .file_input label {
        max-width: 100%;
    }
}
</style>