<template>
    <!-- advertiser-details main div -->
    <!-- P2p Header start -->
    <P2PHeader />
    <!-- P2p Header end -->
    <div class="advertiser-details-box py-2">
        <div class="container">
            <div class="row justify-content-center ">
                <!-- back btn -->
                <div class="back-btn text-end">
                    <span class="me-1">
                        <Router-link to="/p2p" class="border-0 text-grey text-decoration-none">
                            Back  &gt;     
                        </Router-link>
                    </span>
                </div>
                <!-- advertiser-details profile -->
                <div class="advertiser-details row py-3 ">
                    <div class="col-md-6 align-self-center">
                        <div
                            class="advertiser-details-img-box align-items-center d-flex p-2 flex-column flex-md-row gap-3 gap-md-0">
                            <div class="user-logo align-self-center align-self-md-start">
                                <div
                                    class="logo-circle  ms-auto me-md-4 d-flex justify-content-center align-items-center bg-danger rounded-circle text-capitalize ">
                                    <p class="m-0">{{ (data?.user?.name)?.slice(0, 1) }}</p>
                                </div>
                            </div>
                            <div class="user-details">
                                <h6 class="d-flex flex-column flex-md-row align-items-center">{{ data?.user?.name }} <span
                                        v-if="data?.user?.email_verified_at != null" class="ms-2">Verified User</span></h6>
                                <!-- <p
                                    class="joined d-flex flex-column d-md-inline pb-lg-4 text-nowrap text-center text-md-start">
                                    Joined on 2022-05-23<span class="mx-2 px-2 ">Deposit 0.00</span></p> -->
                                <div
                                    class="verified-data d-flex gap-2 mt-lg-2 flex-wrap flex-md-nowrap justify-content-center justify-content-md-start  ">
                                    <p class="m-0 text-nowrap text-center" v-if="data?.user?.email_verified_at != null">
                                        Email
                                        <img src="advertiser-details/tick-green.svg" alt="tick">
                                    </p>
                                    <!-- <p class="m-0 text-nowrap text-center">SMS <img src="advertiser-details/tick-green.svg"
                                            alt="tick"></p>
                                    <p class="m-0 text-nowrap text-center">ID Verification <img
                                            src="advertiser-details/tick-green.svg" alt="tick"></p>
                                    <p class="m-0 text-nowrap text-center">Address <img
                                            src="advertiser-details/tick-green.svg" alt="tick"></p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-md-6 p-0 align-self-center align-self-lg-end d-flex gap-4 gap-md-0 justify-content-center justify-content-md-end">
                        <div
                            class="advertiser-details-feedback-box rouned-3 d-flex p-2 p-md-4 flex-column flex-lg-row gap-3">
                            <div class="feedback-persentage-box d-md-flex d-lg-block align-items-center gap-3">
                                <p class="text-grey feedback-text m-0 mb-lg-2 text-center text-lg-start"> {{
                                    feedData?.positive_feedback >= feedData?.negative_feedback ? "Positive" : "Negative" }}
                                    FeedBack
                                </p>
                                <p class="feedback-persentage m-0 text-center text-lg-start"> <span>
                                        {{ feedData?.total_feedback > 0 ?
                                            ((feedData?.positive_feedback) / (feedData?.total_feedback) * 100).toFixed(2) : '0'
                                        }}%</span>
                                    ({{ feedData?.total_feedback }}) </p>
                            </div>
                            <div class="positive-negative-box d-flex align-items-end mb-1">
                                <div class="positive-negative d-flex gap-2">
                                    <p class="positive-feedback text-grey m-0">Positive <span class="p-1">{{
                                        feedData?.positive_feedback }}</span></p>
                                    <p class="negative-feedback text-grey m-0">Negative <span class="p-1">{{
                                        feedData.negative_feedback }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- trade box -->
                <div class="trade-box d-flex py-5 gap-4 flex-wrap justify-content-center justify-content-lg-start">

                    <div class="trade-inner-box p-3 px-4 border  d-flex flex-column align-items-center rounded-1"
                        v-for="(item, index) in data.box" :key="index">
                        <div class="text-grey d-flex tooltip-box gap-1">
                            {{ item.label }}
                            <div className="wrapper position-relative mx-auto">
                                <svg class="tooltip-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18"
                                    height="18" fill="#76808F">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 21a9 9 0 100-18 9 9 0 000 18zM10.75 8.5V6h2.5v2.5h-2.5zm0 9.5v-7h2.5v7h-2.5z">
                                    </path>
                                </svg>
                                <div className="tooltip">{{ item.text }}</div>
                            </div>
                        </div>

                        <p><span class="time">{{ parseFloat(item.value).toFixed(2) }}</span> {{ item.value_in }}
                        </p>
                        <p v-if="item?.label == 'All Trades'" class="m-0"><span class="text-green">Buy {{ item.total_buy }}
                                /</span> <span class="text-red">Sell {{ item.total_sell }}</span></p>

                        <!-- <div class="trade-inner-box p-3 px-4 border  d-flex flex-column align-items-center rounded-1">
                        <p class="text-grey">30d Trades <a href="#" class="btn p-0" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Tooltip on top">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    fill="#76808F" >
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 21a9 9 0 100-18 9 9 0 000 18zM10.75 8.5V6h2.5v2.5h-2.5zm0 9.5v-7h2.5v7h-2.5z"
                                        fill="#76808F"></path>
                                </svg>
                            </a></p>
                        <p><span class="time">40</span>
                            Time(s)
                        </p>
                    </div>
                    <div class="trade-inner-box p-3 px-4 border  d-flex flex-column align-items-center rounded-1">
                        <p class="text-grey text-nowrap">30d Completion Rate <a href="#" class="btn p-0"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"
                                    fill="#76808F" >
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12 21a9 9 0 100-18 9 9 0 000 18zM10.75 8.5V6h2.5v2.5h-2.5zm0 9.5v-7h2.5v7h-2.5z"
                                        fill="#76808F"></path>
                                </svg>
                            </a></p>
                        <p><span class="time">90.91
                                %</span>
                        </p>
                    </div> -->
                    </div>
                </div>

                <!-- feedback box -->
                <div class="feedback-main-box">
                    <div class="feedback-heading border-bottom d-flex">
                        <h6 class=" pb-4 m-0 px-2">Feedback <span>({{ feedData.total_feedback }})</span> </h6>
                    </div>
                    <div class="feedback-box d-flex py-4 gap-4">
                        <div class="percentage-data align-self-center">
                            <p class="percentage-number mb-2"> {{ feedData?.total_feedback > 0 ?
                                ((feedData?.positive_feedback) / (feedData?.total_feedback) * 100).toFixed(2) : '0' }} %</p>
                            <p class="reviews text-grey">{{ feedData?.total_feedback }} Reviews</p>
                        </div>
                        <div class="percentage-graph align-self-center">
                            <div class="positive-line-box d-flex align-items-center gap-2"><img
                                    src="advertiser-details/like-green.svg" alt="like-and-dislike">
                                <!-- <div class="positive-line position-relative rounded-3"></div> -->
                                <div class=" progress progress-main">
                                    <div class="progress-bar positive-line " role="progressbar"
                                        :style="{ 'width': (feedData?.total_feedback > 0 ? ((feedData?.positive_feedback / feedData?.total_feedback) * 100) : 0) + '%' }"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="positive-graph-data m-0">{{ feedData?.positive_feedback }}</p>
                            </div>
                            <div class="negtive-line-box d-flex align-items-center gap-2"><img
                                    src="advertiser-details/dislike-red.svg" alt="like-and-dislike">
                                <div class=" progress  progress-main">
                                    <div class="progress-bar negative-line " role="progressbar"
                                        :style="{ 'width': (feedData?.total_feedback > 0 ? ((feedData?.negative_feedback / feedData?.total_feedback) * 100) : 0) + '%' }"
                                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="negative-graph-data m-0">{{ feedData?.negative_feedback }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- feedback reviews -->
                <div class="feedback-reviews py-5">
                    <!-- reviews-tab-btn -->
                    <div class="reviews-tab-btn">
                        <ul class="nav nav-pills border-bottom">
                            <li class="nav-item">
                                <!-- (AllBtn = true) && (NegativeBtn = false) && (PostiveBtn = false)  -->
                                <button @click="reviewsBtn(true, false, false, 'All')"
                                    :class="AllBtn == true ? 'active' : ''"
                                    class="btn border-0 rounded-0 pb-2 text-grey px-1 mx-2  " type="button">
                                    All
                                </button>
                            </li>
                            <li class="nav-item">
                                <button @click="reviewsBtn(false, true, false, 'positive')"
                                    :class="PostiveBtn == true ? 'active' : ''"
                                    class="btn border-0 rounded-0 pb-2 text-grey px-1 mx-2 " type="button">
                                    Positive <span>({{ feedData?.positive_feedback }})</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button @click="reviewsBtn(false, false, true, 'negative')"
                                    :class="NegativeBtn == true ? 'active' : ''"
                                    class="btn border-0 rounded-0 pb-2 text-grey px-1 mx-2 " type="button">
                                    Negative <span>({{ feedData?.negative_feedback }})</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- reviews-tabs -->
                    <div class="tab-content">
                        <div>
                            <div class="reviews-tab d-flex flex-column flex-md-row p-3 py-4 gap-3 gap-md-5 border-bottom"
                                v-for="(item, index) in feedData.data " :key="index">
                                <div class="reviewer-data ">
                                    <div class="reviewer-logo d-flex ">
                                        <div
                                            class="reviewer-circle rounded-circle d-flex justify-content-center align-items-center me-2">
                                            {{ (item?.user?.name)?.slice(0, 1) }}
                                        </div>
                                        <p class="reviewer-name mb-2">
                                            {{ item?.user?.name }}
                                        </p>

                                    </div>
                                    <p class="reviewer-date text-grey mb-2">
                                        {{ new Date(item.created_at).toLocaleDateString() }}
                                    </p>

                                </div>
                                <div class="reviewer-review d-flex align-items-start gap-3">

                                    <img v-if="item.feedback_type == 'positive'"
                                        :src="(`advertiser-details/like-green.svg`)" alt="usdt">
                                    <img v-else :src="(`advertiser-details/dislike-red.svg`)" alt="usdt">

                                    <p class="m-0"> {{ item.feedback_comment }}</p>
                                </div>
                            </div>
                            <!-- <div class="pagination-page">

                                <nav aria-label="Page navigation example ">
                                    <ul class="pagination justify-content-end py-4">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item"><a class="page-link text-grey" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link text-grey" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link text-grey" href="#">3</a></li>
                                        <li class="page-item disabled">
                                            <a class="page-link text-grey" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AdvertiserDetailsData from '../assets/json/AdvertiserDetailsData.json'
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import ApiClass from '../../api/api';
export default {
    name: "AdvertiserDetailsView",
    components: {
        P2PHeader
    },
    data() {
        return {
            AllReviewData: AdvertiserDetailsData.AllReviewData,
            PostiveReviewData: AdvertiserDetailsData.PostiveReviewData,
            NegativeReviewData: AdvertiserDetailsData.NegativeReviewData,
            AllBtn: true,
            PostiveBtn: false,
            NegativeBtn: false,
            user_id: '',
            data: '',
            activeTab: 'All',
            feedData: ''
        }
    },
    methods: {
        reviewsBtn(a, p, n, v) {
            this.AllBtn = a;
            this.PostiveBtn = p;
            this.NegativeBtn = n;
            this.activeTab = v;
        },
        async getDetails() {
            let response = await ApiClass.getNodeRequest(`p2p/order/P2p_Profile?user_id=${this.user_id}`);
            if (response?.data?.status_code == 0) {
                return;
            }
            if (response?.data?.status_code == 1) {
                this.data = response?.data?.data
            }
        },

        async gettFeedback() {
            let response = await ApiClass.getNodeRequest(`p2p/feedback/get?user_id=${this.user_id}&type=${this.activeTab}`);
            if (response?.data?.status_code == 0) {
                return;
            }
            if (response?.data?.status_code == 1) {
                this.feedData = response?.data
            }
        }

    },
    mounted() {
        this.user_id = this.$route.query.u_id
        this.getDetails()
        this.gettFeedback()
    },
    watch: {
        activeTab() {
            this.gettFeedback()
        }
    }
}
</script>

<style scoped>
.tooltip-box {
    font-size: var(--fs-12);
}

.wrapper .tooltip {
    color: var(--white);
    background-color: var(--grey);
    width: 200px;
    border-radius: 7px;
    opacity: 0;
    left: -88px;
    position: absolute;
    transition: all 0.25s ease-out;
}

.progress-main {
    width: 150px;
    height: 8px
}

.wrapper:hover .tooltip {
    opacity: 1;
    transform: translateY(0px);
}

.wrapper:hover .tooltip-svg {
    fill: var(--active-yellow);
}

/* advertiser-details css */
.back-btn span {
    font-weight: 500;
}

.feedback-text {
    font-size: var(--fs-13);
}

.feedback-persentage span {
    font-size: var(--fs-20);
    font-weight: 500;
}

.positive-feedback span {
    background: var(--active-green);

}

.negative-feedback span {
    background: var(--active-red);

}

.positive-negative p span {
    color: var(--white);
    border-radius: 5px;
}

.positive-negative p {
    font-size: var(--fs-14);

}

.advertiser-details-feedback-box {
    background: linear-gradient(91.65deg, rgba(234, 236, 239, 0.15) -44.07%, rgba(234, 236, 239, 0.5) 120.88%);
    ;
}

.logo-circle {
    width: 60px;
    height: 60px;
}

.logo-circle p {
    color: var(--white);
    font-size: var(--fs-18);
}

.user-details h6 span {
    color: var(--light-yellow);
    font-size: var(--fs-12);
    opacity: 0.6;
}

.user-details .joined {
    font-size: var(--fs-13);

}

.verified-data p {
    font-size: var(--fs-14);
}

/* trade box */
.trade-inner-box p {
    font-size: var(--fs-14);
}

.trade-inner-box p span {
    font-size: var(--fs-13);
}

.trade-inner-box p .time {
    font-size: var(--fs-18);
    font-weight: 500;
}

.trade-inner-box {
    width: 214px;
    min-height: 132px;
}

/* feedback box css */
.feedback-heading h6 {
    border-bottom: 2px solid var(--active-yellow);
}

.feedback-box .percentage-number {
    font-size: var(--fs-22);
    font-weight: 600;
}

.feedback-box .reviews {
    font-size: var(--fs-14);
}

.positive-line {
    background-color: var(--active-green);
}

.negative-line {
    background-color: var(--active-red);
}

.percentage-graph p {
    font-size: var(--fs-12);
}

/* feedback reviews css */
.reviews-tab-btn ul li button.active {
    color: var(--black) !important;
    font-weight: 500;
    border-bottom: 3px solid var(--active-yellow) !important;
}

.reviews-tab-btn ul li button {
    font-weight: 500;
    font-size: var(--fs-14);
}

.reviewer-circle {
    width: 20px;
    height: 20px;
    background: var(--black);
    color: var(--white);
    font-size: var(--fs-12);
}

.reviewer-date {
    font-size: var(--fs-13);
    margin-left: 30px;
}

.IMPS-name {
    margin-left: 30px;
}

.reviewer-review p {
    font-size: var(--fs-13);
}

.reviewer-review img {
    width: 25px;
}

.pagination-page .pagination-link {
    color: var(--black);
}
</style>