<template>
    <div>
          <!-- P2p Header start -->
          <P2PHeader/>
        <!-- P2p Header end -->
        <!-- My ads header -->
        <div class="adds_header pb-4">
            <div class="container">
                <div class="heading py-3">
                    <h5>My Ads</h5>
                </div>
                <!-- Tabs Start -->
                <div class="tabs_btn_col mb-4">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="NormalAds-tab" data-bs-toggle="pill" data-bs-target="#NormalAds" type="button" role="tab" aria-controls="NormalAds" aria-selected="true">Normal Ads</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="CashAds-tab" data-bs-toggle="pill" data-bs-target="#CashAds" type="button" role="tab" aria-controls="CashAds" aria-selected="false">Cash Ads</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="BlockAds-tab" data-bs-toggle="pill" data-bs-target="#BlockAds" type="button" role="tab" aria-controls="BlockAds" aria-selected="false">block Ads</button>
                        </li>
                    </ul>
                </div>
                <!-- Tabs End -->
                <!-- All field box Start -->
                <div class="all_field_box d-lg-flex align-items-end justify-content-between">
                    <div class="all_field d-flex align-items-end gap-2 flex-wrap flex-lg-nowrap">
                        <!-- All Asset field start -->
                        <div class="asset_field">
                            <p class="mb-1 text_grey"> Asset/type</p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between dropdown_btn py-2" type="button" id="currencybtn"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>
                                        {{ allasset.text }}</span>
                                </button>
                                <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                                    <div class="search-box mb-1">
                                        <div class="input-group ">

                                            <input @dragover="handleDragOver"  type="text" class="form-control border-end-0 shadow-none "
                                                placeholder="Search" aria-label="Search"
                                                aria-describedby="basic-addon3">
                                            <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 24 24"
                                                    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                    <path
                                                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                    </path>
                                                </svg></span>
                                        </div>
                                    </div>
                            <li v-for="(allasset, index) in allassetData" :key="index"
                                        @click="allassetChange(allasset)">

                                        <span>
                                            {{ allasset.text }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- All Asset field end -->
                        <!-- Type field start -->
                        <div class="type_field">
                            <p class="mb-1 text_grey"> Type</p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between dropdown_btn py-2" type="button" id="currencybtn"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>
                                        {{ type.text }}</span>
                                </button>   
                                <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                                    <div class="search-box mb-1">
                                        <div class="input-group ">

                                            <input @dragover="handleDragOver"  type="text" class="form-control border-end-0 shadow-none"
                                                placeholder="Search" aria-label="Search"
                                                aria-describedby="basic-addon3">
                                            <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 24 24"
                                                    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                    <path
                                                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                    </path>
                                                </svg></span>
                                        </div>
                                    </div>
                            <li v-for="(type, index) in typeData" :key="index"
                                        @click="typeChange(type)">

                                        <span>
                                            {{ type.text }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Type field end -->
                        <!-- Status field start -->
                        <div class="status_field">
                            <p class="mb-1 text_grey"> Status</p>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between dropdown_btn py-2" type="button" id="currencybtn"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>
                                        {{ status.text }}</span>
                                </button>   
                                <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                                    <div class="search-box mb-1">
                                        <div class="input-group ">

                                            <input @dragover="handleDragOver"  type="text" class="form-control border-end-0 shadow-none"
                                                placeholder="Search" aria-label="Search"
                                                aria-describedby="basic-addon3">
                                            <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                    viewBox="0 0 24 24"
                                                    style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                    <path
                                                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                    </path>
                                                </svg></span>
                                        </div>
                                    </div>
                            <li v-for="(status, index) in statusData" :key="index"
                                        @click="statusChange(status)">

                                        <span>
                                            {{ status.text }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Status field end -->
                        <!-- Date input field start -->
                        <div class="date_field">
                            <p class="mb-1 text_grey"> Created time</p>
                            <div class="all_double_date rounded-2 d-flex align-items-center justify-content-between">
                                <input @dragover="handleDragOver"  type="date" class="border-0 py-2 form-control shadow-none input_date">
                                <span>-</span>
                                <input @dragover="handleDragOver"  type="date" class="border-0 py-2 form-control shadow-none">
                            </div>
                        </div>
                        <!-- Date input field end -->
                        <!-- Filter btn box start -->
                        <div class="filter_btn_box ms-lg-2">
                            <button type="button" class="btn filter_btn py-2 px-4">Filter</button>
                        </div>
                        <!-- Filter btn box end -->
                        <!-- Reset btn box start -->
                        <div class="reset_btn_box">
                            <button type="button" class="btn reset_btn py-2 px-4">Reset</button>
                        </div>
                        <!-- Reset btn box end -->
                    </div>
                    <div class="add_history">
                        <Router-link to="" class="add_history_link">Ad History</Router-link>
                    </div>
                </div>
                <!-- All field box End -->
            </div>
        </div>
            
         <!-- My ads header -->
         <!-- Main content area start-->
         <div class="ads_content_box py-4">
            <div class="container">
                <div class="content_head d-sm-flex align-items-center gap-sm-3">
                    <div class="form-check mb-2 mb-sm-0">
                        <input @dragover="handleDragOver"  class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            0 Ads
                        </label>
                    </div>
                    <div class="btn_group d-flex align-items-center gap-2">
                        <button type="button" class="btn all_active px-4" disabled> Activate all</button>
                        <button type="button" class="btn all_offline px-4" disabled> Take all offline</button>
                    </div>
                </div>
            </div>
         </div>
         
         <!-- Tabs content box start -->
         <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="NormalAds" role="tabpanel" aria-labelledby="NormalAds-tab">
                <!-- Table box start -->
                <div class="container">
                    <div class="table_box table-responsive-xl">
                <table class="table table-borderless">
                <thead class="align-top">
                    <tr>
                    <th>Ad Number Type Asset/Fiat</th>
                    <th>Total Amount completed Trade QTY. Limit</th>
                    <th>Price Exchange Rate</th>
                    <th>Payment Method</th>
                    <th>Last Update Create Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in MyAdsTableData" :key="index">
                        <td>
                            <div class="ad_number_box d-flex gap-1">
                                <div class="form-check">
                                <input @dragover="handleDragOver"  class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                                <div class="ad_number_text">
                                    <p class="mb-0">{{ data.AddNumber }}</p>
                                    <p v-bind:class="data.Addclass" class="mb-0 ">{{ data.TypeData }}</p>
                                    <p>{{ data.CountryData }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="total_amount_text">
                                <p class="mb-0">{{ data.TotalAmountOne }}</p>
                                <p class="mb-0">{{ data.TotalAmountTwo }}</p>
                                <p class="mb-0">{{ data.TotalAmountThree }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="price_rate">
                                <p class="mb-0">{{ data.PriceDataOne }}</p>
                                <p class="mb-0">{{ data.PriceDataTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="payment_text">
                                <p class="mb-0">{{ data.PaymentData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="last_update">
                                <p class="mb-0">{{ data.LastUpdateData }}</p>
                                <p class="mb-0">{{ data.LastUpdateTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="status_text">
                                <p v-bind:class="data.AddColor" class="mb-0 ">{{ data.StatusData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="action_col d-flex align-items-center gap-2">
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m12 16 4-5h-3V4h-2v7H8z"></path><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0 "><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="M11 10H9v3H6v2h3v3h2v-3h3v-2h-3z"></path><path d="M4 22h12c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2zM4 8h12l.002 12H4V8z"></path><path d="M20 2H8v2h12v12h2V4c0-1.103-.897-2-2-2z"></path></svg> </button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0" data-bs-toggle="modal" v-bind:data-bs-target="data.ModalId"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--active-red);transform: ;msFilter:;"><path d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z"></path><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z"></path></svg></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
                </div>
                </div>
         <!-- Table box end -->
            </div>
            <div class="tab-pane fade" id="CashAds" role="tabpanel" aria-labelledby="CashAds-tab">
                 <!-- Table box start -->
                 <div class="container">
                    <div class="table_box table-responsive-xl">
                <table class="table table-borderless">
                <thead class="align-top">
                    <tr>
                    <th>Ad Number Type Asset/Fiat</th>
                    <th>Total Amount completed Trade QTY. Limit</th>
                    <th>Price Exchange Rate</th>
                    <th>Payment Method</th>
                    <th>Last Update Create Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in MyAdsTableData" :key="index">
                        <td>
                            <div class="ad_number_box d-flex gap-1">
                                <div class="form-check">
                                <input @dragover="handleDragOver"  class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                                <div class="ad_number_text">
                                    <p class="mb-0">{{ data.AddNumber }}</p>
                                    <p v-bind:class="data.Addclass" class="mb-0 ">{{ data.TypeData }}</p>
                                    <p>{{ data.CountryData }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="total_amount_text">
                                <p class="mb-0">{{ data.TotalAmountOne }}</p>
                                <p class="mb-0">{{ data.TotalAmountTwo }}</p>
                                <p class="mb-0">{{ data.TotalAmountThree }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="price_rate">
                                <p class="mb-0">{{ data.PriceDataOne }}</p>
                                <p class="mb-0">{{ data.PriceDataTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="payment_text">
                                <p class="mb-0">{{ data.PaymentData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="last_update">
                                <p class="mb-0">{{ data.LastUpdateData }}</p>
                                <p class="mb-0">{{ data.LastUpdateTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="status_text">
                                <p v-bind:class="data.AddColor" class="mb-0 ">{{ data.StatusData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="action_col d-flex align-items-center gap-2">
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m12 16 4-5h-3V4h-2v7H8z"></path><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0 "><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="M11 10H9v3H6v2h3v3h2v-3h3v-2h-3z"></path><path d="M4 22h12c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2zM4 8h12l.002 12H4V8z"></path><path d="M20 2H8v2h12v12h2V4c0-1.103-.897-2-2-2z"></path></svg> </button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0" data-bs-toggle="modal" v-bind:data-bs-target="data.ModalId"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--active-red);transform: ;msFilter:;"><path d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z"></path><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z"></path></svg></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
                </div>
                </div>
         <!-- Table box end -->
            </div>
            <div class="tab-pane fade" id="BlockAds" role="tabpanel" aria-labelledby="BlockAds-tab">
                 <!-- Table box start -->
                 <div class="container">
                    <div class="table_box table-responsive-xl">
                <table class="table table-borderless">
                <thead class="align-top">
                    <tr>
                    <th>Ad Number Type Asset/Fiat</th>
                    <th>Total Amount completed Trade QTY. Limit</th>
                    <th>Price Exchange Rate</th>
                    <th>Payment Method</th>
                    <th>Last Update Create Time</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(data,index) in MyAdsTableData" :key="index">
                        <td>
                            <div class="ad_number_box d-flex gap-1">
                                <div class="form-check">
                                <input @dragover="handleDragOver"  class="form-check-input shadow-none" type="checkbox" value="" id="flexCheckDefault">
                                </div>
                                <div class="ad_number_text">
                                    <p class="mb-0">{{ data.AddNumber }}</p>
                                    <p v-bind:class="data.Addclass" class="mb-0 ">{{ data.TypeData }}</p>
                                    <p>{{ data.CountryData }}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="total_amount_text">
                                <p class="mb-0">{{ data.TotalAmountOne }}</p>
                                <p class="mb-0">{{ data.TotalAmountTwo }}</p>
                                <p class="mb-0">{{ data.TotalAmountThree }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="price_rate">
                                <p class="mb-0">{{ data.PriceDataOne }}</p>
                                <p class="mb-0">{{ data.PriceDataTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="payment_text">
                                <p class="mb-0">{{ data.PaymentData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="last_update">
                                <p class="mb-0">{{ data.LastUpdateData }}</p>
                                <p class="mb-0">{{ data.LastUpdateTwo }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="status_text">
                                <p v-bind:class="data.AddColor" class="mb-0 ">{{ data.StatusData }}</p>
                            </div>
                        </td>
                        <td>
                            <div class="action_col d-flex align-items-center gap-2">
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m12 16 4-5h-3V4h-2v7H8z"></path><path d="M20 18H4v-7H2v7c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2v-7h-2v7z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg></button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0 "><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--grey);transform: ;msFilter:;"><path d="M11 10H9v3H6v2h3v3h2v-3h3v-2h-3z"></path><path d="M4 22h12c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2zM4 8h12l.002 12H4V8z"></path><path d="M20 2H8v2h12v12h2V4c0-1.103-.897-2-2-2z"></path></svg> </button>
                                <button type="button" class="btn shadow-none py-0 px-0 border-0" data-bs-toggle="modal" v-bind:data-bs-target="data.ModalId"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill: var(--active-red);transform: ;msFilter:;"><path d="M9.172 16.242 12 13.414l2.828 2.828 1.414-1.414L13.414 12l2.828-2.828-1.414-1.414L12 10.586 9.172 7.758 7.758 9.172 10.586 12l-2.828 2.828z"></path><path d="M12 22c5.514 0 10-4.486 10-10S17.514 2 12 2 2 6.486 2 12s4.486 10 10 10zm0-18c4.411 0 8 3.589 8 8s-3.589 8-8 8-8-3.589-8-8 3.589-8 8-8z"></path></svg></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
                </div>
                </div>
         <!-- Table box end -->
            </div>
        </div>
         <!-- Tabs content box end -->
         <!-- Main content area end-->
         <!-- Close Modal start-->
         <!-- Modal -->
            <div class="modal fade" id="close" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content p-3">
                    <div class="modal-body p-0">
                    <div class="edit-box text-center">
                        <div class="edit_icon mx-auto d-flex align-items-center justify-content-center rounded-circle"> 
                         <img class="img-fluid" src="/p2p/icon/worning-icon.svg" >   
                        </div>
                        <h5 class="mt-3 mb-0">Confirm closing ad?</h5>
                        <p class="my-3">Once Closed, You cannot edit this ad.</p>
                    </div>
                    </div>
                    <div class="modal-footer flex-nowrap border-0 p-0">
                        <button type="button" class=" modal-cancel rounded-2 w-50 py-2"
                            data-bs-dismiss="modal">cancel</button>
                        <button type="button" class=" modal-confirm  rounded-2 w-50 py-2">confirm</button>
                    </div>
                </div>
                </div>
            </div>
         <!-- Close Modal end -->
    </div>
</template>
<script>
import AllAssetDatajson from '../assets/json/AllAssetData.json';
import typeDatajson from '../assets/json/TypeData.json';
import statusDatajson from '../assets/json/StatusData.json';
import MyAdsTableDatajson from '../assets/json/MyAdsTableData.json';
import P2PHeader from '../../P2P/components/P2PHeader.vue';

export default{
    name:"MyAds",
    components: {
      P2PHeader
    },
    data(){
return {
    allassetData:AllAssetDatajson.allassetData,
    typeData:typeDatajson.typeData,
    statusData:statusDatajson.statusData,
    MyAdsTableData:MyAdsTableDatajson.MyAdsTableData,
    allasset: {
            text: "All assets"
        },
        type: {
            text: "All status"
        },
        status: {
            text: "All status"
        },
    }
},
methods: {
    allassetChange(selected_allasset) {
            this.allasset = selected_allasset;
        },
        typeChange(selected_type) {
            this.type = selected_type;
        },
        statusChange(selected_status) {
            this.status = selected_status;
        },
}
}
</script>
<style scoped>


.adds_header {
    background-color: var(--white);
    box-shadow: var(--tab-box-shadow);
}
/* Tabs css start */
.tabs_btn_col .nav-link{
    color: var(--grey);
    font-size: var(--fs-14);
    min-width: 140px;
}
.tabs_btn_col .nav-link.active{
    background-color: var(--bs-warning-bg-subtle);
    color: var(--active-yellow);
}
.adds_header p {
    font-size: var(--fs-13);
}
.text_grey{
    color: var(--grey);
}
/* Tabs css end */
/* All field css start*/
.all_field .dropdown{
width: 140px;
}
.all_field .dropdown .dropdown_btn{
    width: 100%;
    background-color: transparent;
    color: var(--black);
    font-size:var(--fs-14);
    border-color: var(--bs-border-color);
}
.all_field .dropdown-menu li {
    padding: 0.3rem;
    font-size: var(--fs-13);
    transition: all 0.3s;
}
.all_field .dropdown-menu li:hover {
    background-color: var(--filter-bg);
}
.search-box .input-group-text{
    background-color: transparent;
}
.search-box input{
    font-size: var(--fs-13);
}
.form-control:focus{
    border-color: var(--bs-border-color);
}
.all_double_date {
    border: 1px solid var(--bs-border-color);
}
.all_double_date input{
    font-size: var(--fs-14);
    max-width: 140px;
    color: var(--grey);
}
.filter_btn_box .filter_btn{
    background-color: var(--active-yellow);
}
.reset_btn_box .reset_btn{
    background-color: var(--filter-bg);
}
.filter_btn_box .filter_btn , .reset_btn_box .reset_btn{
    font-size: var(--fs-14);  
    border: 1px solid var(--white); 
} 
.add_history a{
    color: var(--active-yellow);
    font-size: var(--fs-13);
}
/* All field css end */
/* content area css start */
.content_head label{
    font-size: var(--fs-13);
}
.btn_group .all_active , .btn_group .all_offline {
    color: var(--grey);
    background-color: var(--filter-bg);
    border-color: var(--filter-bg);
    font-size: var(--fs-13);
}
.form-check-input:checked{
    background-color: var(--active-yellow);
    border-color: var(--active-yellow);
}
/* Table css */
.table_box thead{
    border-bottom: 20px solid var(--white);
}
.table_box thead tr th{
    font-size: var(--fs-14);
    font-weight: 500;
    background-color: var(--filter-bg);
    color: var(--grey);
    padding: 1.2em 0.9em;
   
}
.table_box tr:hover{
    background-color: var(--filter-bg);
    transition: all 0.5s ease;
}
.table_box tr td{
    font-size: var(--fs-13);
}
.red_text{
    color: var(--active-red);
}
.green_text{
    color: var(--green);
}
/* content area css end */
.modal-cancel {
    background-color: var(--filter-bg);
    color: var(--black);
    font-size: var(--fs-15);
    border: 1px solid var(--filter-bg);
}

.modal-confirm {
    background-color: var(--active-yellow);
    color: var(--white);
    font-size: var(--fs-15);
    border: 1px solid var(--active-yellow);
}

.edit-box h5 {
    font-size: var(--fs-18);
    color:var(--black);
}
.edit-box p{
    font-size: var(--fs-14);
    color:var(--black);
}
.edit_icon {
    width: 70px;
    height: 70px;
    background:var(--icon-bg) ;
}
.edit_icon img{
    width: 55px;
    height: 55px;
}
/*end 4th model */
/* Media Query css start */
@media all and (min-width:992px) and (max-width:1200px) {
    .all_field .dropdown{
    width: 110px;
}
}
@media all and (min-width:767px) and (max-width:992px) {
    .asset_field , .type_field , .status_field , .date_field{
      width: 49%;
    }
    .all_field .dropdown{
    width: 100%;
    }
    .table_box table{
        width: 1000px;
    }
}   
@media all and (min-width:320px) and (max-width:767px) {
    .asset_field , .type_field , .status_field , .date_field{
      width: 100%;
    }
    .all_field .dropdown{
    width: 100%;
    }
    .tabs_btn_col .nav-link{
        min-width: unset; 
        font-size: var(--fs-13);  
    }
    .table_box table{
        width: 1000px;
    }
    
}   

/* Media Query css end */
</style>