<template>
    <!-- order-page -->
    <div class="order-page-main-box">
        <!-- P2p Header start -->
        <P2PHeader />
        <!-- P2p Header end -->
        <!-- processing/all orders button-->
        <div class="orders-tab-btn  mt-4">
            <div class="container border-bottom">
                <ul class="nav nav-pills ">
                    <li class="nav-item">
                        <button @click="(processingBtn = true) && (allOrderBtn = false)"
                            :class="processingBtn == true ? 'active' : ''" class="btn border-0 rounded-0 pb-2 text-grey"
                            type="button">
                            Processing
                        </button>
                    </li>
                    <li class="nav-item">
                        <button @click="(allOrderBtn = true) && (processingBtn = false)"
                            :class="allOrderBtn == true ? 'active' : ''" class="btn border-0 rounded-0 pb-2 text-grey "
                            type="button">
                            All Orders
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- processing/all orders tabs-->
        <div class="orders-tabs">
            <div class="tab-content">
                <!-- processing & allorders tab-->
                <div>
                    <div class="tab-filter-box">
                        <div class="container">
                            <div class="all-orders-filters row py-3 gap-4 gap-md-0">
                                <div class="col-12">
                                    <div class="all-orders-input-box  row justify-content-center">
                                        <div class="all-orders-input mb-2 mb-xl-0  col-12 col-md-6 col-lg-2 col-xl-2 ">
                                            <p class="m-1 text-grey">Coins</p>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle w-100 border p-1 rounded-1 px-2"
                                                    type="button" id="currencybtn" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span>
                                                        {{ coins.currency ? coins.currency : "Coins" }}</span>
                                                </button>
                                                <ul class="dropdown-menu w-100 py-0" aria-labelledby="dropdownMenuButton1"
                                                    style="overflow-y:scroll ; height: 240px;">

                                                    <li class="px-2 py-2 border-bottom" v-for="(coins, index) in cyrptoData"
                                                        :key="index" @click="coinsChange(coins)">

                                                        <span>
                                                            {{ coins.currency }}
                                                        </span>



                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="all-orders-input mb-3 mb-xl-0  col-12 col-md-6 col-lg-2 col-xl-2 ">
                                            <p class="m-1 text-grey">Order Type</p>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle w-100 border p-1 rounded-1 px-2"
                                                    type="button" id="currencybtn" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span>
                                                        {{ type.name }}</span>
                                                </button>
                                                <ul class="dropdown-menu w-100 py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li class="px-2 py-2 border-bottom" v-for="(type, index) in typeData"
                                                        :key="index" @click="typeChange(type)">
                                                        <span>
                                                            {{ type.name }}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="all-orders-input mb-3 mb-xl-0  col-12 col-md-6 col-lg-2 col-xl-2 "
                                            v-if="allOrderBtn == true">
                                            <p class="m-1 text-grey">Status</p>
                                            <div class="dropdown ">
                                                <button class="dropdown-toggle w-100 border p-1 rounded-1 px-2"
                                                    type="button" id="currencybtn" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <span>
                                                        {{ status.name }}</span>
                                                </button>
                                                <ul class="dropdown-menu w-100 py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li class="px-2 py-2 border-bottom"
                                                        v-for="(status, index) in statusData" :key="index"
                                                        @click="statusChange(status)">
                                                        <span>
                                                            {{ status.name }}
                                                        </span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                        <div class="all-orders-input mb-3 mb-xl-0  col-12 col-md-6 col-lg-2 col-xl-2 "
                                            v-else>
                                            <p class="m-1 text-grey">Status</p>
                                            <div class="dropdown ">
                                                <button class=" w-100 border p-1 rounded-1 px-2" style="   height: 36px;
    font-size: var(--fs-13);
    outline: unset;
    background: var(--white);" type="button" id="currencybtn" aria-expanded="false">
                                                    <span>
                                                        {{ this.chkfir }}</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="all-orders-input mb-3 mb-xl-0  col-12 col-md-6 col-lg-3 col-xl-3 ">
                                            <p class="m-1 text-grey"> Created time</p>
                                            <div
                                                class="all_double_date input__date rounded-2 d-flex align-items-center justify-content-between border">
                                                <input @dragover="handleDragOver" id="date1" type="date"
                                                    class="border-0 py-1 form-control shadow-none input_date"
                                                    @change="onDate($event)"><span>-</span>
                                                <input @dragover="handleDragOver" id="date2" type="date" :min="start_date"
                                                    class="border-0 py-1 form-control shadow-none"
                                                    @change="onDates($event)">
                                            </div>
                                        </div>



                                        <div
                                            class="filter-btn  d-flex align-items-end mb-3 mb-xl-0 gap-2 justify-content-center justify-content-md-end justify-content-xl-start col-12 col-sm-6 col-md-6 col-xl-2 ">
                                            <button class="search-btn border-0 rounded-1 px-3 py-1"
                                                @click="myorders()">Search</button>
                                            <button class="reset-btn border-0 rounded-1 px-3 py-1"
                                                @click="rests()">Reset</button>
                                        </div>
                                        <!-- <div
                                            class="all-orders-btn d-flex mb-3 mb-xl-0 justify-content-center justify-content-md-start justify-content-xl-end align-items-end gap-2 col-12 col-sm-6 col-md-6 col-xl-1 p-xl-0">
                                            <button class=" border-0 rounded-1 px-2 py-1"><img class=""
                                                    src="../assets/svg/download.svg" alt="download"></button>
                                            <button class=" border-0 rounded-1 px-2 py-1"><img class=""
                                                    src="../assets/svg/add.svg" alt="add"></button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="tab-table">

                            <div
                                class="table-heading d-none d-md-flex d-flex justify-content-between px-3 py-3 border-bottom">
                                <p class="m-0 text-grey ">Type/Coin</p>
                                <p class="m-0 text-grey text-center">Fiat amount</p>
                                <p class="m-0 text-grey text-center">Price</p>
                                <p class="m-0 text-grey text-center">Crypto amount</p>
                                <p class="m-0 text-grey text-center">Counterparty</p>
                                <p class="m-0 text-grey text-center">Status</p>
                                <p class="m-0 text-grey text-center">Operation</p>
                            </div>
                            <div class="table-body" v-if="allOrderBtn == true">
                                <div v-if="AllOrdersData.length == 0"
                                    style="text-align: center; color: red; padding-top: 5px;">
                                    NO RECORD FOUND
                                </div>
                                <div v-else>

                                    <div class="table-row border-bottom" v-for="(item, index) in  AllOrdersData "
                                        :key="index">
                                        <div class="table-data px-0 px-md-3 p-3">
                                            <div
                                                class="table-body-upper d-flex flex-column flex-md-row justify-content-between">
                                                <div class="table-buy-sell-info d-flex  flex-column flex-md-row  px-2">
                                                    <p :class="item.BuySellColor"
                                                        class="m-0 buy-sell-text border-end pe-3 fw-bold">{{ item.order_type
                                                        }}
                                                    </p>
                                                    <div
                                                        class="m-0 date-time-text ps-md-3 text-grey d-flex justify-content-between">
                                                        <p class="d-md-none m-0">Created Time</p>
                                                        <p class="m-0 text-end">{{ new
                                                            Date(item.created_at).toLocaleDateString() }}
                                                            {{ new Date(item.created_at).toLocaleTimeString() }}</p>
                                                    </div>
                                                </div>
                                                <div class="table-buy-sell-number d-flex justify-content-between px-2">
                                                    <div class="d-md-none m-0 text-grey">Order Number</div>
                                                    <div class=" d-flex order-number justify-content-end">

                                                        <Router-link :to="'/orderstatus?trade_id=' + item.id"
                                                            class=" heading_link mx-2 text-grey">
                                                            {{
                                                                item.id }}</Router-link>
                                                        <!-- <img class="order-0 order-sm-1" src="../assets/svg/copy.svg" alt="copy"> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="table-body-lower d-flex  flex-column flex-md-row  align-items-center gap-2 gap-md-0 pt-1 pt-md-4 pb-2 px-2">
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-start w-100 td-1 d-flex align-items-center gap-2">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Type/Coin</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <!-- <img :src="(`order/svg/${item.image}`)" alt="usdt"> -->
                                                        {{
                                                            item.currency }}
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-2 ">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Fiat amount</p>
                                                    </div>
                                                    <div class="text-end">{{ item.at_price * item.quantity }}
                                                        {{ item.with_currency }}</div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-3">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Price</p>
                                                    </div>
                                                    <div class="text-end">{{ item.at_price }}</div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-4">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Crypto amount</p>
                                                    </div>
                                                    <div class="text-end">{{ parseFloat(item.quantity) }} {{ item.currency
                                                    }}
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-5">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Counterparty</p>
                                                    </div>
                                                    <div class="text-end" style="cursor:pointer">

                                                        <Router-link :to="'/advertiser-details?u_id=' + item.counter_party"
                                                            class=" heading_link mx-2">
                                                            {{ item.counter_party }}
                                                        </Router-link>
                                                    </div>


                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-6">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Status</p>
                                                    </div>
                                                    <div class="">
                                                        <p class="m-0 text-end">{{ item.status }} </p>
                                                        <span class="text-grey  rounded-2 d-none d-md-block">{{
                                                            item.statusSpan
                                                        }}</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-7">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Operation</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <Router-link :to="'/orderstatus?trade_id=' + item.id"
                                                            class="text-decoration-none heading_link mx-2"> Contact
                                                        </Router-link>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-body" v-else>
                                <div v-if="filteredList.length == 0"
                                    style="text-align: center; color: red; padding-top: 5px;">
                                    NO RECORD FOUND
                                </div>
                                <div v-else>
                                    <div class="table-row border-bottom" v-for="(item, index) in  filteredList "
                                        :key="index">
                                        <div class="table-data px-0 px-md-3 p-3">

                                            <div
                                                class="table-body-upper d-flex flex-column flex-md-row justify-content-between">
                                                <div class="table-buy-sell-info d-flex  flex-column flex-md-row  px-2">
                                                    <p :class="item.BuySellColor"
                                                        class="m-0 buy-sell-text border-end pe-3 fw-bold">{{ item.order_type
                                                        }}
                                                    </p>
                                                    <div
                                                        class="m-0 date-time-text ps-md-3 text-grey d-flex justify-content-between">
                                                        <p class="d-md-none m-0">Created Time</p>
                                                        <p class="m-0 text-end">{{ new
                                                            Date(item.created_at).toLocaleDateString() }}
                                                            {{ new Date(item.created_at).toLocaleTimeString() }}</p>
                                                    </div>
                                                </div>
                                                <div class="table-buy-sell-number d-flex justify-content-between px-2">
                                                    <div class="d-md-none m-0 text-grey">Order Number</div>
                                                    <div class=" d-flex order-number justify-content-end">

                                                        <Router-link :to="'/orderstatus?trade_id=' + item.id"
                                                            class=" heading_link mx-2 text-grey">
                                                            {{
                                                                item.id }}</Router-link>
                                                        <img class="order-0 order-sm-1" src="../assets/svg/copy.svg"
                                                            alt="copy">
                                                    </div>
                                                </div>
                                            </div>
                                            <div
                                                class="table-body-lower d-flex  flex-column flex-md-row  align-items-center gap-2 gap-md-0 pt-1 pt-md-4 pb-2 px-2">
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-start w-100 td-1 d-flex align-items-center gap-2">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Type/Coin</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <!-- <img :src="(`order/svg/${item.image}`)" alt="usdt"> -->
                                                        {{
                                                            item.currency }}
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-2 ">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Fiat amount</p>
                                                    </div>
                                                    <div class="text-end">{{ item.at_price * item.quantity }}
                                                        {{ item.with_currency }}</div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-3">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Price</p>
                                                    </div>
                                                    <div class="text-end">{{ item.at_price }}</div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-4">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Crypto amount</p>
                                                    </div>
                                                    <div class="text-end">{{ parseFloat(item.quantity) }} {{ item.currency
                                                    }}
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-5">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Counterparty</p>
                                                    </div>
                                                    <div class="text-end" style="cursor:pointer">

                                                        <Router-link :to="'/advertiser-details?u_id=' + item.counter_party"
                                                            class=" heading_link mx-2">
                                                            {{ item.counter_party }}
                                                        </Router-link>
                                                    </div>


                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-6">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Status</p>
                                                    </div>
                                                    <div class="">
                                                        <p class="m-0 text-end">{{ item.status }} </p> <span
                                                            class="text-grey  rounded-2 d-none d-md-block">{{
                                                                item.statusSpan
                                                            }}</span>
                                                    </div>
                                                </div>
                                                <div
                                                    class="text-center d-flex justify-content-between justify-content-md-center w-100 td-7">
                                                    <div class="d-md-none">
                                                        <p class="m-0 text-grey text-start ">Operation</p>
                                                    </div>
                                                    <div class="text-end">
                                                        <Router-link :to="'/orderstatus?trade_id=' + item.id"
                                                            class="text-decoration-none heading_link mx-2"> Contact
                                                        </Router-link>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import OrderData from '../assets/json/OrderData.json'
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import ApiClass from '../../api/api';
export default {
    name: "OrderView",
    components: {
        P2PHeader
    },
    data() {
        return {
            // http://192.168.10.99:5056/p2p/order/get_crypto
            allOrderBtn: true,
            processingBtn: false,
            start_date: '',
            end_date: '',
            order_type: '',
            currency: '',
            status_name: '',

            // AllOrders tab
            AllOrdersData: {},
            // // Processing tab
            ProcessingData: {},
            chkfir: 'processing',
            coins: {},

            cyrptoData: '',
            type: {
                name: "Buy/Sell"
            },
            typeData: [
                {
                    name: "Buy/Sell",
                    value: ''
                },
                {
                    name: "Buy",
                    value: 'Buy'

                },
                {
                    name: "Sell",
                    value: 'Sell'

                }
            ],
            status: {
                name: "All Status"
            },
            statusData: [
                {
                    name: "All Status",
                    value: ''
                },
                {
                    name: "Completed",
                    value: 'completed'
                },
                {
                    name: "Cancelled",
                    value: 'cancelled'
                },
                {
                    name: "Expired",
                    value: 'expired'
                }, {
                    name: "Disputed",
                    value: 'disputed'
                }
            ]

        }
    },
    computed: {
        filteredList() {
            return this.ProcessingData.filter(item => {
                // Apply your filtering logic here  
                return item.status == this.chkfir;
            });
        }
    },

    methods: {
        rests() {
            this.start_date = '';
            document.getElementById('date1').value = '';
            document.getElementById('date2').value = '';
            this.end_date = '';
            this.currency = '';
            this.order_type = '';
            this.status_name = ''

            this.type = {
                name: "All types"
            };
            this.status = {
                name: "All status"
            };

            this.coins = {
                name: "All status"
            };


            this.myorders();
        },
        coinsChange(selected_coins) {
            this.coins = selected_coins;
            this.currency = selected_coins.currency;

        },
        typeChange(selected_type) {
            this.type = selected_type;
            this.type.name = selected_type.name;
            this.order_type = selected_type.value;
        },
        statusChange(selected_status) {
            this.status = selected_status;
            this.status_name = selected_status.value;
        },
        onDate(event) {
            this.start_date = event.target.value;
        },
        onDates(event) {
            this.end_date = event.target.value;
        },
        async myorders() {
            let response = await ApiClass.getNodeRequest(`p2p/order/trade-history?start_date=${this.start_date}&end_date=${this.end_date}&order_type=${this.order_type}&currency=${this.currency}&status=${this.status_name}`, true);
            if (response?.data?.status_code == 0) {
                return;
            }
            if (response?.data?.status_code == 1) {
                this.AllOrdersData = (response?.data?.data?.data);
                this.ProcessingData = (response?.data?.data?.data);
                return;
            }
        }
    },
    async mounted() {
        this.myorders();
        let result = await ApiClass.getNodeRequest('p2p/order/get_crypto', true);
        if (result.data.status_code == 1) {
            this.cyrptoData = (result.data?.currency);

        }
    },
    watch: {
        // whenever question changes, this function will run
        order_type() {
            this.myorders()
        },
        currency() {
            this.myorders()
        },
        status_name() {
            this.myorders()

        }

    },
};
</script>
<style scoped>
/* processing/all orders/profit & loss statement button style */
.all-orders-input input {
    font-size: var(--fs-14);
    min-width: 145px;
    color: var(--grey);
}

.input__date {
    height: 36px;
}

.orders-tab-btn button.active {
    color: var(--black) !important;
    font-weight: 500;
    border-bottom: 3px solid var(--active-yellow) !important;

}

/* all orders inputs style */
.all-orders-input p {
    font-size: var(--fs-13);
}

.all-orders-btn button {
    background-color: var(--refresh-btn-bg);
    font-size: var(--fs-14);
    height: 36px;
}

.all-orders-btn img {
    min-width: 20px;
}

.all-orders-input .dropdown-toggle,
.all-orders-double-date {
    height: 36px;
    font-size: var(--fs-13);
    outline: unset;
    background: var(--white);
}

.all-orders-input .dropdown-menu {
    font-size: var(--fs-13);
    outline: unset;
    background: var(--white);
    border-radius: 3px;
}

.all-orders-input .dropdown-menu li:nth-last-child(1) {
    border-bottom: 0 !important;
}

.all-orders-input .dropdown-menu li:hover {
    background: var(--active-yellow);
}

.all-orders-input .dropdown-menu li span {
    cursor: context-menu;
}

.tab-filter-box {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.search-btn {
    background-color: var(--active-yellow);
    color: var(--black);
    height: 36px;
    font-size: var(--fs-14);
}

.reset-btn {
    background-color: var(--refresh-btn-bg);
    color: var(--black);
    height: 36px;
    font-size: var(--fs-14);
}

/* table style */
.table-heading p {
    font-size: var(--fs-12);
}

.table-body-upper {
    font-size: var(--fs-15);
    font-weight: 500;
}

.table-buy-sell-number img {
    width: 15px;
    cursor: pointer;
}

.td-1 img {
    width: 20px;
}

.table-body-lower {
    font-size: var(--fs-14);
}

.td-2,
.td-6 p {
    font-weight: 500;
}

.td-5 a {
    color: var(--black);
}

.td-6 span {
    font-size: var(--fs-12);
    background-color: var(--refresh-btn-bg);
}

.td-7 a {
    color: var(--light-yellow)
}

.table-heading p,
.table-body-lower div {
    min-width: 15%;
    word-break: break-all;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .table-heading p,
    .table-body-lower div {
        white-space: nowrap;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-body-upper {
        font-size: var(--fs-14);
        font-weight: unset;
    }

    .date-time-text p,
    .table-buy-sell-number div {
        white-space: nowrap;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .table-buy-sell-number div a {
        white-space: nowrap;
        width: 61%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .buy-sell-text {
        border: unset !important;
    }
}</style>
