<template>
    <div>
        <!-- P2p Header start -->
        <P2PHeader />
        <!-- P2p Header end -->
        <section class="order-result">
            <div class="order-result-info">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-md-6">
                            <div class="order-info text-center text-sm-start mb-2 mb-sm-0">
                                <h3 class="mb-0 pb-2"> {{ type }} Order {{ data?.status }} 
                                    
                                    <span class="ms-2" v-if="data?.status =='disputed'">
                                         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" style="fill:var(--active-yellow);"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path></svg>
                                    </span>

                                    <span class="ms-2" v-else>
                                        <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15" style="fill:var(--active-green);"><path
                                                d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" /></svg>
                                    </span>
                                </h3>
                                <p class="mb-0"> {{ (type == 'Sell' && data?.seller_confirmation == 1) ?
                                    `Successfully sold ${data.quantity} ${data.currency}` : '' }}
                                    {{ (type == 'Buy' && data?.seller_confirmation == 1) ?
                                        `Successfully buy ${data.quantity} ${data.currency}` : '' }}
                                    {{ data.buyer_confirmation == '2' ? `The counterparty has canceled the order.` : '' }}
                                </p>
                            </div><!--order-info-->
                        </div><!--col-md-6-->

                        <div class="col-sm-6 col-md-6">
                            <div class="order-number text-center text-sm-start">
                                <p class="mb-0 pb-2">Order Number <span>{{ data.id }} <span style="cursor: pointer;">
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14"
                                                style="fill:var(--grey)">
                                                <path
                                                    d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z" />
                                            </svg> -->
                                        </span>
                                    </span></p>

                                <p class="mb-0">Time Created <span>{{ new Date(data.created_at).toLocaleString() }}</span>
                                </p>
                            </div><!--order-number-->
                        </div><!--col-md-6-->
                    </div><!--row-->
                </div><!--container-->
            </div><!--order-created-info-->
            <div class="chat-box-main-btn pt-3 d-lg-none">
                <div class="container">
                    <div class="chat-box-btn d-flex justify-content-end">
                        <button @click="ChatBox = true" class="border-0 bg-transparent mx-2"><img
                                src="../assets/svg/chat-box-btn.svg" alt="chat-box-btn"></button>
                    </div>
                </div>
            </div>
            <div class="order-info mt-5">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-12 col-lg-7">
                            <div class="order-amount mb-5">
                                <div class="order-heading mb-3">
                                    <h6 class="mb-0">Order Info</h6>
                                </div><!--order-heading-->

                              

                                <div class="amount-info">
                                    <div class="amount-box" id="amount">
                                        <h5 class="mb-0">Amount</h5>
                                        <h6 class="mb-0" :style="type == 'Buy' ? 'color:var(--active-green)' :'color:var(--active-red)'">{{ data?.quantity *
                                            data?.at_price }} {{ data?.with_currency }}</h6>
                                    </div>

                                    <div class="amount-box" id="price">
                                        <h5 class="mb-0">Price</h5>
                                        <h6 class="mb-0">{{ data?.at_price }} {{ data?.with_currency }}</h6>
                                    </div>

                                    <div class="amount-box" id="quantity">
                                        <h5 class="mb-0">Quantity</h5>
                                        <h6 class="mb-0">{{ data?.quantity }} {{ data?.currency }}</h6>
                                    </div>
                                </div><!--amount-info-->

                                
                            </div><!--order-amount-->



                            <div class="button-box mb-4">
                                <button class="btn">View My Balance</button>
                            </div><!--button-box-->
                            <div v-if="data?.feedback" class="feedback-done mb-3 border-bottom">
                            <!-- <div v-if="data.feedback.length != 0" class="feedback-done mb-3 border-bottom"> -->
                                My Feedback
                                <div class="feedback-button-box my-3">
                                    <button v-if=" (data?.feedback.length > 0) && data && data?.feedback[0]?.feedback_type == 'positive'"
                                        class="btn border-0 feedback-positive d-flex justify-content-start gap-4">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"
                                                style="fill:var(--active-green)">
                                                <path
                                                    d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z" />
                                            </svg></span> Postive
                                    </button>
                                    <button v-if="(data?.feedback.length >0 ) && data && data?.feedback[0]?.feedback_type == 'negative'"
                                        class="btn feedback-negative border-0 d-flex justify-content-start gap-4">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"
                                                style="fill:var(--active-red)">
                                                <path
                                                    d="M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-18.5-10.5-34.6-25.9-42.6C497 236.6 504 223.1 504 208c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 384H96c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H32C14.3 96 0 110.3 0 128V352c0 17.7 14.3 32 32 32z" />
                                            </svg></span> Negative
                                            
                                    </button>
                                </div>
                                
                                {{  data && data?.feedback[0]?.feedback_comment }}
 
                                <p v-if="data?.feedback.length>0" class="date-time-box d-flex my-3 align-items-center  gap-3 text-grey">
                                    {{ data && new Date(data.feedback[0].created_at).toLocaleString() }}
                                    <button type="button" class="border-0 bg-transparent p-0" data-bs-toggle="modal"
                                        data-bs-target="#delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"
                                            fill="var(--grey)">
                                            <path d="M3 4h18v3H3z"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M15 2H9v2h6V2zm4 5H5v14h14V7zm-8.5 2H8v9h2.5V9zm3 0H16v9h-2.5V9z"></path>
                                        </svg>
                                    </button>
                                </p>
                            </div>
                            <div v-if="data?.feedback?.length == 0" class="feedback-button">
                                <div class="feedback-head mb-3">
                                    <h6 class="mb-0">How was your trading experience?</h6>
                                </div><!--feedback-head-->

                                <div class="feedback-button-box mb-4">
                                    <button @click="feedback(true, false)"
                                        :class="FeedbackPositive == true ? 'feedback-positive' : ''"
                                        class="btn border-0 d-flex justify-content-start gap-4">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"
                                                style="fill:var(--grey)"
                                                :style="FeedbackPositive == true ? 'fill:var(--active-green)' : ''">
                                                <path
                                                    d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z" />
                                            </svg></span> Postive
                                    </button>
                                    <button @click="feedback(false, true)"
                                        :class="FeedbackNegative == true ? 'feedback-negative' : ''"
                                        class="btn border-0 d-flex justify-content-start gap-4">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"
                                                style="fill:var(--grey)"
                                                :style="FeedbackNegative == true ? 'fill:var(--active-red)' : ''">
                                                <path
                                                    d="M313.4 479.1c26-5.2 42.9-30.5 37.7-56.5l-2.3-11.4c-5.3-26.7-15.1-52.1-28.8-75.2H464c26.5 0 48-21.5 48-48c0-18.5-10.5-34.6-25.9-42.6C497 236.6 504 223.1 504 208c0-23.4-16.8-42.9-38.9-47.1c4.4-7.3 6.9-15.8 6.9-24.9c0-21.3-13.9-39.4-33.1-45.6c.7-3.3 1.1-6.8 1.1-10.4c0-26.5-21.5-48-48-48H294.5c-19 0-37.5 5.6-53.3 16.1L202.7 73.8C176 91.6 160 121.6 160 153.7V192v48 24.9c0 29.2 13.3 56.7 36 75l7.4 5.9c26.5 21.2 44.6 51 51.2 84.2l2.3 11.4c5.2 26 30.5 42.9 56.5 37.7zM32 384H96c17.7 0 32-14.3 32-32V128c0-17.7-14.3-32-32-32H32C14.3 96 0 110.3 0 128V352c0 17.7 14.3 32 32 32z" />
                                            </svg></span> Negative
                                    </button>
                                </div>
                            </div><!--feedback-button-->

                            <div v-if="data?.feedback?.length == 0" class="feedback-text">
                                <div class="form-floating mb-3">

                                    <textarea class="form-control" v-model="feedback_comment"
                                        placeholder="Leave a comment here" id="floatingTextarea2"
                                        style="height: 130px"></textarea>
                                    <label for="floatingTextarea2">Comments</label>
                                </div>
                                <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.feedback_comment.$error">
                                                {{ v$.feedback_comment.$errors[0].$message }}
                                             </span>
                                <div class="check-box">
                                    <!-- <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Anonymous By selecting this, your comment will be displayed anonymously
                                    </label>
                                </div> -->

                                    <div class="comment-btn">
                                        <button class="btn" @click="CreateComment()">Leave Comments</button>
                                    </div>
                                </div>
                            </div><!--feedback-text-->
                        </div><!--col-md-6-->

                    
                        <div class="d-lg-block col-12 col-lg-4 p-0 p-sm-2" v-show="ChatBox == true">
                            <div class="chat-outer-box">
                                <ChatBox page="final" :closeChatBox="ChatBox" :chatData="data" :OtherUserDetail="OtherUserDetail" :UserId="UserId.toString()"  @closeChatBox="closeChat"/>
                            </div>
                        </div>
                                
                    </div>
                </div><!--container-->

            </div>
        </section><!--order-result-->
        <!-- Close Modal start-->
        <!-- Modal -->
        <div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="editLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content p-3">
                    <div class="modal-body p-0">
                        <div class="edit-box text-center">
                            <div class="edit_icon mx-auto d-flex align-items-center justify-content-center rounded-circle">
                                <img class="img-fluid" src="/p2p/icon/worning-icon.svg">
                            </div>
                            <p class="my-3">Are you sure you want to delete this feedback?</p>
                        </div>
                    </div>
                    <div class="modal-footer flex-nowrap border-0 p-0">
                        <button type="button" class=" modal-cancel rounded-2 w-50 py-2" id="closeDelete"
                            data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class=" modal-confirm  rounded-2 w-50 py-2"
                            @click="deleteComment()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Close Modal end -->
    </div>
</template>

<script>
import ChatBox from '../components/ChatBox.vue'
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import ApiClass from '../../api/api';
import useVuelidate from "@vuelidate/core";
import { required,helpers} from "@vuelidate/validators";
export default {
    name: "OrderStatus",
    setup() {
        return {  
            v$: useVuelidate(),
        };
    },
    data() {
        return {
           
            trade_id: '',
             data: {},
            type: '',
            OtherUserDetail: {},
            buyer: '',
            seller: '',
            UserId: '',
            FeedbackPositive: false,
            FeedbackNegative: false,
            feedback_type: '',
            feedback_comment: '',
            ChatBox: true,
        }
    },
    validations() {
        return {
            feedback_comment: {
                required: helpers.withMessage("Comment is required", required),
            },
        }
    },
    components: {
        P2PHeader,
        ChatBox
    },

    async mounted() {
        this.trade_id = this.$route.query.trade_id
        this.tradeData()

    },
    methods: {
        async tradeData() {
            let response = await ApiClass.getNodeRequest(`P2P/trade/get?trade_id=${this.trade_id}`, true);
          
            if (response?.data?.status_code == 1) {
                this.data = response?.data?.data

                console.log('dasdasfasfas', this.data)
                this.buyer = response?.data?.data?.buyer
                this.seller = response?.data?.data?.seller
                this.UserId = JSON.parse(localStorage.getItem("user")).id
                this.type = this.buyer?.user_id == this.UserId ? "Buy" : "Sell"
                // this.userType = this.type == 'Buy' ? "Buyer" : "Seller"
                if(this.data.status == 'processing'){
                    let t =   this.type == 'Buy' ? "buy_detail" : "sell_detail"
                    this.$router.push(`${t}?trade_id=${this.trade_id}`)
                }

                //other user Details
                this.OtherUserDetail = this.buyer?.user_id == this.UserId ? this.seller : this.buyer
            }
        },

        feedback(p, n) {
            this.FeedbackPositive = p
            this.FeedbackNegative = n
            this.feedback_type = p ? 'positive' : 'negative'
        },

        closeChat(payload){
            this.ChatBox = payload
        },
        async CreateComment() {
            let validate = await this.v$.$validate();
            if (!validate) return;
            var param = {
                trade_id: this.trade_id,
                user_id: this.UserId,
                receiver_id: this.OtherUserDetail?.user_id,
                feedback_type: this.feedback_type ?this.feedback_type:"positive",
                feedback_comment: this.feedback_comment
            }
console.log(this.feedback_type,"this.feedback_typethis.feedback_type");
            let result = await ApiClass.postNodeRequest('p2p/feedback/create', true, param);
            if (result.data.status_code == 1) {
                this.tradeData()
                this.feedback_comment = ''
                this.FeedbackPositive = false
                this.FeedbackNegative = false
            }
        },
        async deleteComment() {
            let result = await ApiClass.deleteNodeRequest(`p2p/feedback/delete?trade_id=${this.trade_id}`, true);
            if (result.data.status_code == 1) {
                document.getElementById("closeDelete").click()
                this.tradeData()
            }
        }
    },
    
}
</script>


<style scoped>
/**====================== ORDER RESULT INFO CSS START ======================**/

.feedback-positive {
    background-color: var(--active-green) !important;
    color: var(--white) !important;
}

.feedback-negative {
    background-color: var(--active-red) !important;
    color: var(--white) !important;
}

.order-result-info {
    padding: 25px 0;
    background-color: var(--filter-bg);
}

.feedback-button-box button {
    background: var(--refresh-btn-bg);
}

.feedback-done {
    font-size: var(--fs-14);
}

.date-time-box {
    font-weight: 500 !important;
}

.order-info h3 {
    font-size: var(--fs-18);
    font-weight: 600;
    color: var(--black);
}

.order-info p {
    font-size: var(--fs-14);
    font-weight: 400;
    color: var(--black);
}




.order-number {
    text-align: end;
}

.order-number p {
    font-size: var(--fs-13);
    color: var(--grey);
    font-weight: 400;
}

.order-number p span {
    color: var(--black);
    font-weight: 500;
}

/**====================== ORDER RESULT INFO CSS FINISH ======================**/


/**====================== ORDER INFO CSS START ======================**/

.order-heading h6 {
    font-size: var(--fs-17);
    font-weight: 500;
    color: var(--black);
}

.amount-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amount-box h5 {
    font-size: var(--fs-15);
    font-weight: 600;
    color: var(--grey);
    padding-bottom: 7px;
}

.amount-box h6 {
    font-size: var(--fs-14);
    font-weight: 500;
    color: var(--black);
}

.payment-heading h6 {
    font-size: var(--fs-17);
    font-weight: 500;
    color: var(--black);
}

.payment-box {
    padding: 25px 15px;
    background-color: var(--filter-bg);
    border-radius: 4px;
}

.payment-box span {
    font-size: var(--fs-12);
    padding: 4px;
    display: inline-block;
    background-color: transparent;
    font-weight: 500;
    color: var(--black);
    border: 1px solid var(--badge-border);
    border-radius: 4px;
    cursor: pointer;
}

.button-box {
    border-bottom: 2px solid var(--market-border);
    padding-bottom: 20px;
}

.button-box button.btn {
    background: transparent;
    border: none;
    color: var(--light-yellow);
    text-transform: capitalize;
    font-weight: 500;
    font-size: var(--fs-14);
}


.feedback-head h6 {
    font-size: var(--fs-17);
    font-weight: 500;
    color: var(--black);
}

.feedback-button-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feedback-button-box button.btn {
    border: 2px solid var(--badge-border);
    min-width: 154px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-15);
    font-weight: 500;
    color: var(--black);
    min-height: 46px;
    border-radius: 34px;
}

.feedback-button-box button.btn span {
    background: var(--white);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
}

.feedback-text .form-floating .form-control {
    border: 1px solid var(--active-yellow);
    font-size: var(--fs-14);
    color: var(--black);
}

.feedback-text .form-floating .form-control:focus {
    box-shadow: none;
}


.form-floating label {
    font-size: var(--fs-13);
    font-weight: 500;
    color: var(--black);
}

.check-box .form-check label.form-check-label {
    font-size: var(--fs-13);
    font-weight: 500;
    color: var(--black);
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-btn button.btn {
    background-color: var(--active-yellow);
    font-size: var(--fs-13);
    min-width: 150px;
    font-weight: 600;
    color: var(--black);
}

/* content area css end */
.modal-cancel {
    background-color: var(--filter-bg);
    color: var(--black);
    font-size: var(--fs-15);
    border: 1px solid var(--filter-bg);
}

.modal-confirm {
    background-color: var(--active-yellow);
    color: var(--white);
    font-size: var(--fs-15);
    border: 1px solid var(--active-yellow);
}

.edit-box h5 {
    font-size: var(--fs-18);
    color: var(--black);
}

.edit-box p {
    font-size: var(--fs-14);
    color: var(--black);
}

.edit_icon {
    width: 70px;
    height: 70px;
    background: var(--icon-bg);
}

.edit_icon img {
    width: 55px;
    height: 55px;
}

/**====================== ORDER INFO CSS FINISH ======================**/
/* Media Query css */
@media all and (min-width: 320px) and (max-width:767px) {
    .button-box button.btn {
        font-size: var(--fs-13);
    }

    .feedback-button-box button.btn {
        min-width: 145px;
    }
}

@media all and (min-width: 320px) and (max-width:576px) {
    .check-box {
        display: block;
    }

    .check-box .form-check {
        margin-bottom: 10px;
    }
}

/* Media Query css */
</style>