<template>
    <div>
      
        <section class="banner_sec">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="info_box">
                            <h2 class="mb-0 pb-3">
                                Buy and Sell TetherUS (USDT) with Your Preferred Payment Methods
                            </h2>
                            <p class="mb-0">
                                Buy and sell TetherUS safely and easily on Binance P2P. Find the
                                best offer below and buy <br />
                                and sell USDT with Your Preferred Payment Methods today.
                            </p>
                        </div>
                        <!--info_box-->
                    </div>
                    <!--col-md-6-->
                </div>
                <!--row-->
            </div>
            <!--container-->
        </section>
        <!--banner_sec-->
        <!-- P2p Header  -->
        <P2PHeader/>
        <!-- P2p Header  -->
        <section class="p2p_main_sec">
            <div class="tab-box">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 col-lg-2 pt-2">
                            <div class="tab_heading">
                                <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation" v-for="(or,i) in orders" :key="i">
                                        <button @click="type_change(or)" :class="`nav-link ${or.type == 'buy' ? 'green_active active':'red_active'}`" :id="`pills-${or.type}-tab`"
                                            data-bs-toggle="pill" :data-bs-target="`#pills-${or.type}`" type="button" role="tab"
                                            :aria-controls="`pills-${or.type}`" aria-selected="true">
                                            {{or.name}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <!--tab_heading-->
                        </div>
                        <!--col-md-2-->
                        

                        <div class="col-md-7  align-self-center" :class="currencies.length > 9? 'col-lg-7': 'col-lg-10'">
                            <div class="pair_box d-flex " :class="moreBtn == true? 'pair-box-show':''">
                                <div class="pair_btn" v-for="(curr, i) in currencies" :key="i">
                                    <button :class="`border-0 bg-transparent py-3 ${i==sel_index?'active':''}`" @click="(sel_index=i,sel_curr=curr, getbuyOrders(this.order_type))">{{ curr.currency }}</button>
                                </div>
                                <!--pair_btn-->
    
                            </div>
                            <!--pair_box-->
                        </div>
                        <div class="col-md-1 col-lg-3 more-btn  pt-3 d-none d-lg-block" v-if="currencies.length > 9">
                            <button class="border-0 bg-transparent text-nowrap" @click="moreBtn = !moreBtn">More
                                <svg :style="moreBtn == true? 'transform: rotate(180deg);':''" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24" 
                                style="fill: var(--blue);"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path>
                                </svg>
                            </button>
                        </div>
                        <!--col-md-10-->
                    </div>
                    <!--row-->
                </div>
                <!--container-->
            </div>
            <!--tab-box-->

            <div class="filter-box mt-4">
                <div class="container">
                    <div class="row filter_inner_row align-items-center justify-content-between">
                        <div class="col-md-12 col-xl-9">
                            <div class="row filter_row align-items-center">
                                <div class="col-md-4">
                                    <div class="filter_inner_box">
                                        <div class="label-box mb-1">
                                            <label>Amount</label>
                                        </div>

                                        <div class="input-group">
                                            <input @dragover="handleDragOver"  type="text" class="form-control" placeholder="Enter Amount" v-model="c_amount"
                                                aria-label="Enter Amount" aria-describedby="basic-addon1" @keydown="clear_amount($event)"/>
                                            <span class="input-group-text" id="basic-addon1">{{sel_w_curr.currency}}</span>
                                            <span class="input-group-text" id="basic-addon2"><button class="btn" @click="amt_search">search</button></span>
                                        </div>
                                    </div><!--filter_inner_box-->
                                </div><!--col-md-3-->

                                <div class="col-md-2">

                                    <div class="filter_inner_box" id="fiat">
                                        <div class="label-box mb-1">
                                            <label>Fiat</label>
                                        </div>

                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="currencybtn"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span>
                                                    <img :src="sel_w_curr.image" alt="country_icon" style="width: 17px;" />
                                                    {{ sel_w_curr.currency }}</span>
                                            </button>
                                            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                                                <div class="search-box mb-1">
                                                    <div class="input-group">

                                                        <input @dragover="handleDragOver"  type="text" class="form-control border-end-0"
                                                        placeholder="Search" aria-label="Search" v-model="w_curr_search" onkeyup ="return(event.target.value = event.target.value .toUpperCase())"
                                                            aria-describedby="basic-addon3">
                                                        <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                viewBox="0 0 24 24"
                                                                style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                                <path
                                                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                                </path>
                                                            </svg></span>
                                                    </div>
                                                </div>

                                                <li v-for="(w_curr, index) in filter_w_curr" :key="index" @click="w_curr_change(w_curr)">
                                                    <span>
                                                        <img :src="w_curr.image" alt="country_icon"
                                                            style="width: 17px;" />
                                                       {{w_curr.currency}}
                                                    </span>

                                                </li>
                                            </ul>
                                        </div>

                                    </div><!--filter_inner_box-->
                                </div><!--col-md-3-->

                                <div class="col-md-3">
                                    <div class="filter_inner_box" id="payment">
                                        <div class="label-box mb-1">
                                            <label>Payment</label>
                                        </div><!--label-box-->
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="paymentbtn"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span>
                                                      <!-- <img style="width: 20px;" :src="(`/payment-data/upi.svg`)" alt="img"> -->
                                                    {{ sel_payment}}</span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <div class="search-box mb-1">
                                                    <div class="input-group ">

                                                        <input @dragover="handleDragOver"  type="text" class="form-control border-end-0"
                                                            placeholder="Search" aria-label="Search" v-model="payment_search" onkeyup="return(event.target.value = event.target.value .toUpperCase())"
                                                            aria-describedby="basic-addon3">
                                                        <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                viewBox="0 0 24 24"
                                                                style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                                <path
                                                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                                </path>
                                                            </svg></span>
                                                    </div>
                                                </div>



                                                <li @click="paymentChange(payment='','All Payments')">
                                                    <span> <p :style="getPaymentColor()" class="mb-0"></p>All Payments</span>
                                                </li>

                                                <li v-for="(payment, index) in fiter_payments" :key="index"
                                                    @click="paymentChange(payment)">
                                                    

                                                    <span>
                                                      <p :style="getPaymentColor()" class="mb-0"></p>
                                                        {{ payment.type }}
                                                    </span>

                                                    <!-- <span>
                                                       <img style="width: 20px;" :src="(`/payment-data/upi.svg`)" alt="img">
                                                        {{ payment.type }}
                                                    </span> -->



                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--filter_inner_box region-->
                                </div><!--col-md-3-->

                                <div class="col-md-3">
                                    <div class="filter_inner_box" id="region">
                                        <div class="label-box mb-1">
                                            <label>Available Region(s)</label>
                                        </div><!--label-box-->

                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="regionbtn"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                <span style="white-space: break-spaces;" v-if="sel_region == 'All Region'">
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="fill: #8e8f91" width="18" height="18" viewBox="0 0 512 512">
                                                      <path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 21 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
                                                    {{ sel_region }}</span>
                                                <span style="white-space: break-spaces;" v-else><img :src="sel_region_img" alt="region_icon"
                                                        style="width: 20px;" />
                                                    {{ sel_region }}</span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                <div class="search-box mb-1">
                                                    <div class="input-group ">

                                                        <input @dragover="handleDragOver"  type="text" class="form-control border-end-0"
                                                            placeholder="Search" aria-label="Search" v-model="region_search" onkeyup="return(event.target.value = event.target.value .toUpperCase())" aria-describedby="basic-addon3">
                                                        <span class="input-group-text border-start-0" id="basic-addon3"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                viewBox="0 0 24 24"
                                                                style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
                                                                <path
                                                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
                                                                </path>
                                                            </svg></span>
                                                    </div>
                                                </div>

                                                 <li @click="regionChange(region,'All Region')">
                                                    <span>
                                                      <svg xmlns="http://www.w3.org/2000/svg" style="fill: #8e8f91" width="18" height="18" viewBox="0 0 512 512">


                                                      <path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 21 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
                                                       All Region
                                                    </span>
                                                </li>

                                                <li v-for="(region, index) in filter_region" :key="index"
                                                    @click="regionChange(region)">

                                                    <span>
                                                        <img :src="region.image" alt="region_icon"
                                                            style="width: 20px;" />
                                                        {{ region.name }}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!--filter_inner_box region-->
                                </div><!--col-md-3-->
                            </div><!--row filter_row-->
                        </div><!--col-md-10-->

                        <div class="col-md-2 col-xl-2">
                            <div class="refresh_button">
                                <div class="dropdown">
                                    <button class="btn btn-secondary" type="button" id="currencybtn"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>
                                            <img v-if="!ref_set" src="/p2p/icon/refresh.svg" alt="refresh_icon" style="width: 17px;" />
                                            <spinner v-if="ref_set" width="17px"/>
                                            {{ refresh.name }}
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li v-for="(refresh, index) in RefreshData" :key="index" @click="refreshChange(refresh)">
                                            <span>{{ refresh.name }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--refresh_button-->
                        </div><!--col-md-2-->
                    </div><!--row filter_inner_row-->
                </div><!--container-->
            </div><!--filter-box-->

            <div class="content_box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-buy" role="tabpanel"
                                    aria-labelledby="pills-buy-tab" tabindex="0">
                                    <P2PMarket v-if ="order_type=='BUY'" order_side="buy" :loading="loading" :orders_detail="buyOrders" :sel_curr="sel_curr" :sel_w_curr="sel_w_curr" :recordData="recordData" :current_page="current_page" @paginateEvent="page_evt" @setPayment="u_payment"/>
                                </div>
                                <div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab" tabindex="0">
                                    <P2PMarket  v-if ="order_type=='SELL'" order_side="sell" :loading="loading" :orders_detail="buyOrders" :sel_curr="sel_curr" :sel_w_curr="sel_w_curr" :recordData="recordData" :current_page="current_page" @paginateEvent="page_evt" @setPayment="u_payment"/>
                                </div>

                             
                            </div>
                        </div><!--col-md-12-->
                    </div><!--container-->
                </div><!--container-->
            </div><!--content_box-->
        </section>
        <!--p2p_main_sec-->
    </div>
</template>

<script>
import ApiClass from "@/api/api.js";
// import P2PData from "../assets/json/P2PData.json";
import P2PMarket from "../components/P2PMarket.vue";
import Multiselect from '@vueform/multiselect'
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import spinner from "../components/spinner.vue";

export default {
    name: "P2PView",
    components: {
        P2PMarket,
        Multiselect,
        P2PHeader,
        spinner
    },
    data() {
        return {
            loading:true,
            moreBtn: false,
            orders:[
                {name:'BUY',type:'buy'},
                {name:'SELL',type:'sell'}
            ],
            order_type:'BUY',
            sel_index:0,
            c_amount:'',
           
            
            buyOrders:[],
            orders_detail:[],
            with_currencies:[],

            sel_curr:{
                currency:'',
                decimal:'',
            },
            sel_w_curr:{
                currency:'',
                decimal:'',
                symbol:'',
                image:''
            },
            
            page:1,
            per_page:5,
           
            w_curr_search:'',
            PaymentData:[],
            sel_payment:'',
            all_data:{},
            payment_search:'',
            RegionData:[],
            region_search:'',
            sel_region:'',
            sel_region_img:'',
            CountryData:{},
            currencies:'',
            recordData:10,
            current_page:1,
            ref_set:false,
            myInterval:'',

            RefreshData:[
                {
                    name:'Not now',
                    value:''
                },

                {
                    name:'5s to refresh',
                    value:'5000'
                },
                {
                    name:'10s to refresh',
                    value:'10000'
                },
                {
                    name:'20s to refresh',
                    value:'20000'
                }
            ],
            refresh: {
                name: "refresh"
            },

            // CountryData: P2PData.CountryData,
            // PaymentData: P2PData.PaymentData,
            // RegionData: P2PData.RegionData,
            //   PairData: P2PData.PairData,
        };
    },
   

    async mounted(){
        await this.paymentsType()
        await this.getRegions()
        await this.getCurrencies() 
        await this.getbuyOrders('BUY') 
    },

   

    methods: {
        async paymentsType(){
            var p_res = await ApiClass.getNodeRequest('p2p/paymentType/get',false);
           
            if(p_res?.data){
                this.all_data = p_res.data.data
                this.with_currencies = p_res.data.fiat

                this.sel_w_curr.currency = this.with_currencies[0].currency;
                this.sel_w_curr.image = this.with_currencies[0].image;
                this.sel_w_curr.symbol = this.with_currencies[0].iso_code;
                this.sel_w_curr.decimal = this.with_currencies[0].fiat_decimal;

                this.PaymentData = this.all_data[this.sel_w_curr.currency]
                // this.sel_payment = this.PaymentData?.[0].type
                // this.payment_slug = this.PaymentData?.[0].slug
                this.sel_payment = 'All Payments'
                this.payment_slug = ''
                return
            } 
        },

        async w_curr_change(w_curr) {
            this.sel_index = 0
            this.sel_w_curr.currency = w_curr.currency;
            this.sel_w_curr.image = w_curr.image;
            this.sel_w_curr.symbol = w_curr.iso_code;
            this.sel_w_curr.decimal = w_curr.fiat_decimal;
            this.PaymentData = this.all_data[this.sel_w_curr.currency]
            // this.sel_payment = this.PaymentData?.[0].type
            this.sel_payment = 'All Payments'
            await this.getCurrencies()
           
            await this.getbuyOrders(this.order_type)

        },
        paymentChange(payment,static_data='') {
            
            if(static_data) {
                this.sel_payment = static_data;
                this.payment_slug = ''
                this.getbuyOrders(this.order_type)
                return  
            }
            this.sel_payment = payment.type
            this.payment_slug = payment.slug
            this.getbuyOrders(this.order_type)
             
        },

        u_payment(p){
            let payment = {}
            payment.slug = p
            payment.type = p.replace("_", " ").toUpperCase()
            this.paymentChange(payment)
        },
        
        getPaymentColor(){
            const colors = ['b9954a','143a58','b867ef','d88573','79ba0a','5cf021','15c6a4','79b2a7'];
            const random = Math.floor(Math.random() * colors.length);
            return {
                    margin: "0px 4px 0px -4px",
                    minWidth: "0px",
                    width: "4px",
                    height: "14px",
                    borderRadius: "2px",
                    backgroundColor: '#'+colors[random].toString(16)+' !important' ,
            } 
        },

        async getRegions(){
            var reg_res = await ApiClass.getNodeRequest('p2p/order/country');
            if(reg_res?.data){
                this.RegionData=reg_res?.data.data
                // this.sel_region_img = this.RegionData[0].image;
                // this.sel_region = this.RegionData[0].name;
                this.sel_region = 'All Region';
            }
            return
        },
        regionChange(region,static_data="") {
            if(static_data){
                this.sel_region =static_data;
                this.getbuyOrders(this.order_type)
                 return
            } 

            this.sel_region = region.name;
            this.sel_region_img = region.image;
           this.getbuyOrders(this.order_type)
        },
        async getCurrencies(){
            var c_res = await ApiClass.getNodeRequest(`p2p/order/order_crypto?with_currency=${this.sel_w_curr.currency}`,true)
            
            if(c_res?.data){
                this.currencies = c_res.data.data ?? ''
                this.sel_curr.currency = this.currencies[0]?.currency ?? ''
                this.sel_curr.decimal = this.currencies[0]?.decimal ?? ''
            }
        },

        type_change(or){
            this.order_type =  or.name
            this.getbuyOrders(this.order_type,1);
        },

        page_evt(e,p,per_page){
            this.page = p
            this.per_page = per_page
            this.getbuyOrders(this.order_type,p,per_page);
        },

        async getbuyOrders(type,p=1,per_page=5){
           
            this.loading = true
            let payment = this.sel_payment=='All Payments' ? '' :this.payment_slug
            let region = this.sel_region=='All Region' ? '' : this.sel_region

            console.log("apiiii")
            var o_res = await ApiClass.getNodeRequest(`p2p/order/get?order_type=${type}&with_currency=${this.sel_w_curr.currency}&payment_type=${payment}&currency=${this.sel_curr.currency}&region=${region}&amount=${this.c_amount}&page=${p}&per_page=${per_page}`);
            this.loading = false
            if(o_res?.data.status_code == 1){
               
                this.buyOrders = o_res.data.data.data ?? []
                console.log(this.buyOrders)
                this.ref_set =  false
                this.current_page = o_res.data.data.current_page
                this.recordData = o_res.data.data.total
            }
            
        },

        amt_search(){
            this.getbuyOrders(this.order_type)
        },

        clear_amount(event){
            if (event.key === "Enter") {
                this.c_amount.length == 1? this.c_amount='' :''
                this.getbuyOrders(this.order_type)
            }
        },
       
        refreshChange(selected_refresh) {
            this.refresh = selected_refresh;
            this.refresh.name = selected_refresh.name;
          

            if(selected_refresh.value != ''){
                this.myInterval = setInterval(()=>{
                    this.ref_set =  true
                    this.getbuyOrders(this.order_type,this.page,this.per_page)
                    
                }, selected_refresh.value);
            }else{
                 clearInterval(this.myInterval);
            }
           
        }, 
    },

    computed: {
         filter_w_curr() {
            return this.with_currencies?.filter(p => {
                return p.currency.toLowerCase().indexOf(this.w_curr_search.toLowerCase()) != -1;
            })

        },
        fiter_payments(){
             return this.PaymentData?.filter(p => {
                return p.type.toLowerCase().indexOf(this.payment_search.toLowerCase()) != -1;
            })
        },
        filter_region(){
            return this.RegionData.filter(p => {
                return p.name.toLowerCase().indexOf(this.region_search.toLowerCase()) != -1;
            })
        }
    }
};
</script>


<style src="@vueform/multiselect/themes/default.css"></style>

<style scoped>
/**============ BANNER SEC CSS START ============**/
.banner_sec {
    background-image: url(../assets/images/p2p_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_box {
    text-align: center;
}
.more-btn svg{
    transition: all 0.3s ease;
}
.more-btn button{
   color: var(--blue);
   font-size: var(--fs-12);
}

.info_box h2 {
    color: var(--white);
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-30);
}

.info_box p {
    color: var(--white);
    font-size: var(--fs-15);
    font-weight: 500;
}

/**============ BANNER SEC CSS FINISH ============**/

/**============ TAB BOX CSS START ============**/
.pair-box-show{
    height: unset !important;
}

.tab-box {
    box-shadow: var(--tab-box-shadow);
}

.tab_heading ul#pills-tab {
    background: var(--tab-bg);
    border: 1px solid var(--tab-border);
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

ul#pills-tab .nav-item .nav-link {
    height: 30px;
    font-size: var(--fs-13);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 500;
    color: var(--black);
}

ul#pills-tab .nav-item .nav-link.active {
    box-shadow: var(--tab-active-shadow);
    color: var(--white);
}

ul#pills-tab .nav-item .nav-link.green_active.active {
    background: var(--active-green);
}

ul#pills-tab .nav-item .nav-link.red_active.active {
    background: var(--active-red);
}

.pair_box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 55px;
    overflow: hidden;
}

.pair_btn button {
    font-size: var(--fs-14);
    color: var(--black);
    width: 58px;
}

.pair_btn button.active {
    color: var(--active-yellow);
    border-bottom: 2px solid var(--active-yellow) !important;
    position: relative;
}

/**============ TAB BOX CSS FINISH ============**/
/* .cus_cross{
    position: relative;
}
.cus_cross::before{
 position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: crimson;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
    margin: auto;
} */

.filter_inner_box .label-box label {
    font-size: var(--fs-12);
    color: var(--grey);
    font-weight: 500;
}

.filter_inner_box .form-control {
    background-color: var(--filter-bg) !important;
    border-radius: 5px;
    border-color: var(--filter-bg);
    font-size: var(--fs-13);
    color: var(--black);
    min-height: 45px;
}

.filter_inner_box .form-control:focus {
    box-shadow: none;
}

.filter_inner_box .form-control::placeholder {
    color: var(--black);
    font-weight: 500;
}

.filter_inner_box .input-group-text {
    background-color: var(--filter-bg) !important;
    border: none;
}

#basic-addon1 {
    font-size: var(--fs-14);
    color: var(--grey);
    font-weight: 500;
    position: relative;
}

#basic-addon1::before {
    position: absolute;
    content: "";
    top: 12px;
    right: -2px;
    width: 1px;
    height: 20px;
    background-color: var(--grey);
}

#basic-addon2 {
    padding: 0;
}

#basic-addon2 button.btn {
    color: var(--light-yellow);
    font-size: var(--fs-14);
    text-transform: capitalize;
    font-weight: 500;
}

#basic-addon2 button.btn:hover {
    color: var(--active-yellow);
}



.filter_inner_box .dropdown .btn-secondary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--filter-bg);
    border-color: var(--filter-bg);
    min-height: 45px;
    font-size: var(--fs-13);
    font-weight: 500;
    color: var(--black);
}

.dropdown-toggle::after {
    background-image: url(/p2p/icon/arrow_down.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 10px;
    width: 10px;
}

.filter_inner_box ul.dropdown-menu {
    border: none;
    background-color: var(--white);
    box-shadow: var(--tab-box-shadow);
    padding: 0;
    height: 300px;
    overflow-y: scroll;
}

.filter_inner_box ul.dropdown-menu li {
    padding: 8px 8px;
    cursor: pointer;
}

.filter_inner_box ul.dropdown-menu li:hover {
    background-color: var(--filter-bg);
}

.filter_inner_box ul.dropdown-menu li span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-12);
    font-weight: 500;
    color: var(--black);
}


.filter_inner_box ul.dropdown-menu .search-box {
    padding: 10px 10px;
    position: sticky;
    top: 0;
    background: var(--white);
}


.filter_inner_box ul.dropdown-menu .search-box .input-group .form-control {
    background-color: var(--white) !important;
    border-color: var(--active-yellow);
}

.filter_inner_box ul.dropdown-menu .search-box .input-group #basic-addon3 {
    background-color: var(--white) !important;
    border: 1px solid var(--active-yellow);
    cursor: pointer;
}


.refresh_button .dropdown .btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--filter-bg);
    border-color: var(--filter-bg);
    min-height: 45px;
    font-size: var(--fs-13);
    font-weight: 500;
    color: var(--black);
    min-width: 150px;
    text-transform: capitalize;
    margin-top: 25px;
}

.refresh_button ul.dropdown-menu {
    border: none;
    background-color: var(--white);
    box-shadow: var(--tab-box-shadow);
    padding: 0;
}

.refresh_button ul.dropdown-menu li {
    padding: 8px 8px;
    cursor: pointer;
}

.refresh_button ul.dropdown-menu li:hover {
    background-color: var(--filter-bg);
}

.refresh_button ul.dropdown-menu li span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--fs-12);
    font-weight: 500;
    color: var(--black);
}


/**============ CONTENT BOX CSS START ============**/
.content_box {
    margin-top: 35px;
}

/**============ CONTENT BOX CSS FINISH ============**/


@media all and (min-width: 992px) and ( max-width: 1199px) {
    .pair_box {
    display: unset;
  }

  .pair_btn {
    float: left;
    margin-left: 10px;
}

.pair_btn button.btn.active::before {
    bottom: 0;
}
}


@media all and (min-width: 768px) and ( max-width: 991px) {
    .pair_box {
    display: unset;
    height: unset !important;
    gap:2px;
  }

  .pair_btn {
    float: left;
    margin-left: 10px;
}
  .pair_btn button {
    font-size: var(--fs-12);
    width: 40px;
}

.pair_btn button.btn.active::before {
    bottom: 0;
}

.info_box h2 {
    font-size: var(--fs-20);
}

.info_box p {
    font-size: var(--fs-14);
}
}


@media all and (min-width:320px) and (max-width: 767px) {
  .pair_box {
    display: unset;
    height: unset !important;
    gap:2px;
  }


  .pair_btn {
    float: left;
    margin-left: 10px;
}
  .pair_btn button {
    font-size: var(--fs-12);
    width: 40px;
}

.pair_btn button.btn.active::before {
    bottom: 0;
}

.info_box h2 {
  font-size: var(--fs-16);
}

.info_box p {
  font-size: var(--fs-12);
}

.info_box p br {
  display: none;
}
}

</style>