<template>
    <P2PHeader />
    <div class="payment-main-box py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="payment-heading mb-4">

                        <h3 class="border-bottom pb-3">Payment</h3>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="payment-info text-grey text-center text-md-start">
                        P2P payment methods: When you sell cryptocurrencies, the payment method added will be displayed to
                        buyer as
                        options to accept payment, please ensure that the account owner's name is consistent with your
                        verified name on
                        (companty name). You can add up to 20 payment methods.
                    </div>
                </div>

               
                <div class="col-md-6 mb-4">
                    <div class="add-payment-method text-center text-md-end d-flex gap-2 justify-content-end">
                        <div class="dropdown">
                            <a class="text-decoration-none py-2 px-3 rounded-2  dropdown-toggle" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/svg/plus.svg" alt="plus"> {{ selectedPaymentType }}
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="position-relative" @click="(selectedPaymentType = payment,getAllPayDetails())" v-for="(payment, index) in Object.keys(paymentTypedata)" :key="index">
                                   <!-- <span> <p :style="getPaymentColor()" class="mb-0"></p> {{ payment }} </span> -->
                                        
                                    <span class="dropdown-item py-2 d-flex gap-2 align-items-center">
                                        
                                        <p :style="getPaymentColor()" class="mb-0"></p> {{ payment }}
                                    </span>
                                </li>

                            </ul>

                        </div>
                        <div class="dropdown">
                            <a class="text-decoration-none py-2 px-3 rounded-2  dropdown-toggle" href="#" role="button"
                                id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../assets/svg/plus.svg" alt="plus"> Add a payment method
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li class="position-relative" v-for="(v, index) in paymentTypedata[selectedPaymentType]"
                                    :key="index">
                                    <div class="dropdown-item py-2 d-flex align-items-center gap-2">
                                        <p :style="getPaymentColor()" class="mb-0"></p> 
                                        <router-link :to="`/Add?id=${v.id}`">

                                            {{ v.type }}    
                                        </router-link>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="payment-details-box border rounded-1 my-2" v-for="(details, index) in paymentDetailsData" :key="index">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div
                                class="payment-details-heading py-2 px-3 d-flex justify-content-between align-items-center">
                                <div class="payment-name">
                                    <p class=" d-flex gap-2 align-items-center mb-0">
                                        <span :style="getPaymentColor()"></span> {{ details.payment_slug }}
                                    </p>
                                </div>
                                {{ details?.is_verify == 0 ? 'verification Pending' : "" }}
                                {{ details?.is_verify == 1 ? 'Verified' : "" }}
                                {{ details?.is_verify == 2 ? 'Rejected' : "" }}


                                <div class="payment-action">
                                    <div className="form-check form-switch justify-content-center d-flex">
                                        <input @dragover="handleDragOver"  className="form-check-input" role="button"
                                            :type="details.status ? 'checkbox' : ''" :checked="details.status"
                                            @click="updateStatus(details?.id, details.status)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-3 p-0" v-for="(v, index) in Object.keys(details.payment_detail)"
                            :key="index">
                            <div class="payment-details p-3">
                                <div class="payment-details-ques pb-2 text-grey ">{{ v }} </div>
                                <div class="payment-details-ans text-break">{{ details.payment_detail[v] }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal Box -->
        <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="editmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title modal_payment" id="staticBackdropLabel"> Select a Payment Method</h5>
                        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body pt-0">
                        <div class="recommended_box">
                            <h6 class="mb-3 heading"> Recommended</h6>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6" v-for="(data, index) in RecommendedData" :key="index">
                                    <div class="payment_method mb-3">
                                        <Router-Link v-bind:to="data.Links"
                                            class="d-flex align-items-center gap-2 text-decoration-none">
                                            <span v-bind:class="data.ColorChange"></span>
                                            {{ data.RecommendedText }}
                                        </Router-Link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="all_payment_box py-4">
                            <div class="row align-items-center">
                                <div class="col-sm-6 col-md-6">
                                    <div class="allpayment_head">
                                        <h6>All Payment Methods</h6>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="search_box">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                    viewBox="0 0 24 24"
                                                    style="fill: var(--bs-border-color);transform: ;msFilter:;">
                                                    <!-- <path
                                                        d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                                                    </path> -->
                                                </svg></span>
                                            <input @dragover="handleDragOver"  type="text" class="form-control shadow-none border-start-0"
                                                placeholder="Search.." aria-label="Search.."
                                                aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="all_letter d-flex align-items-center mt-3 flex-wrap">
                                        <span class="active px-1">All</span>
                                        <span class="px-1">A</span>
                                        <span class="px-1">B</span>
                                        <span class="px-1">C</span>
                                        <span class="px-1">D</span>
                                        <span class="px-1">E</span>
                                        <span class="px-1">F</span>
                                        <span class="px-1">G</span>
                                        <span class="px-1">H</span>
                                        <span class="px-1">I</span>
                                        <span class="px-1">J</span>
                                        <span class="px-1">K</span>
                                        <span class="px-1">L</span>
                                        <span class="px-1">M</span>
                                        <span class="px-1">N</span>
                                        <span class="px-1">O</span>
                                        <span class="px-1">P</span>
                                        <span class="px-1">Q</span>
                                        <span class="px-1">R</span>
                                        <span class="px-1">S</span>
                                        <span class="px-1">T</span>
                                        <span class="px-1">U</span>
                                        <span class="px-1">V</span>
                                        <span class="px-1">W</span>
                                        <span class="px-1">X</span>
                                        <span class="px-1">Y</span>
                                        <span class="px-1">Z</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6 col-md-6" v-for="(bank, index) in AllBankData" :key="index">
                                    <div class="payment_method mb-3">
                                        <Router-Link v-bind:to="bank.Links"
                                            class="d-flex align-items-center gap-2 text-decoration-none">
                                            <span v-bind:class="bank.ColorChange"></span>
                                            {{ bank.BankName }}
                                        </Router-Link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- {{data[selected] == > loop}} -->
        <!-- Edit Modal Box -->
        <!--Delete Modal Box-->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered  modal-sm">
                <div class="modal-content">
                    <div class="modal-body pb-0 pt-4 px-3">
                        <div class="delete_box">
                            <div
                                class="delete_icon d-flex align-items-center justify-content-center rounded-circle mx-auto ">
                                <img class="img-fluid" src="/p2p/icon/worning-icon.svg" alt="">
                            </div>
                            <div class="delete_content mt-3 text-center">
                                <p>Are you sure you want to delete this payment method?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 flex-nowrap pt-0 pb-4 px-3">
                        <button type="button" class="btn cancel_btn  w-50 rounded-1" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn confirm_btn  w-50 rounded-1">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Delete Modal Box-->

    </div>
</template>
<script>
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import RecommendedDatajson from "../assets/json/RecommendedData.json";
import ApiClass from '../../api/api';
export default {

    name: 'PaymentView',
    components: {
        P2PHeader
    },
    data() {
        return {
            paymentDetailsData: {},
            RecommendedData: RecommendedDatajson.RecommendedData,
            AllBankData: {},
            paymentTypedata: {},
            selectedPaymentType: '',
            selectedPaymentMethod: '',
            id:''
        }
    },
    mounted() {
        this.id = this.$route.query.id
        this.getData()
       
    },
    methods: {
        async getData() {
            let response = await ApiClass.getNodeRequest(`P2P/paymentType/get`, true);
            if (response?.data?.status_code == "1") {
                this.paymentTypedata = response?.data?.data
                this.selectedPaymentType = Object.keys(this.paymentTypedata)[0]
                this.getAllPayDetails()
            }
        },

        async getAllPayDetails() {
            let response = await ApiClass.getNodeRequest(`p2p/paymentType/all-payment?with_currency=${this.selectedPaymentType}`, true);
            if (response?.data?.status_code == "1") {
                this.paymentDetailsData = response?.data?.data?.data
            }
        },

        async updateStatus(id, status) {
            status = status == 0 ? 1 : 0;
            let response = await ApiClass.postNodeRequest(`p2p/paymentType/payment-status?id=${id}&status=${status}`, true);

            if (response?.data?.status_code == 0) {
                this.getAllPayDetails()
                this.failed(response?.data?.message)
                return;
            }
            if (response?.data?.status_code == 1) {
                this.getAllPayDetails()
                this.success(response?.data?.message)
                return;
            }
            //payment-status id status
        },

        getPaymentColor() {
            const colors = ['b9954a', '143a58', 'b867ef', 'd88573', '79ba0a', '5cf021', '15c6a4', '79b2a7'];
            const random = Math.floor(Math.random() * colors.length);
            return {
                minWidth: "0px",
                width: "4px",
                height: "14px",
                borderRadius: "2px",
                backgroundColor: '#' + colors[random].toString(16) + ' !important',

            }
        },
        async getById() {
            let response = await ApiClass.getNodeRequest(`P2P/paymentType/getById?id=${this.id}`, true);
            if (response?.data?.status_code == "1") {
                this.data = response?.data?.data
            }
        },
    }
}
</script>
<style scoped>
.payment-heading h3 {
    font-weight: 600;
}

.payment-info {
    font-size: var(--fs-12);

}

.add-payment-method .dropdown-toggle {
    background-color: var(--refresh-btn-bg);
    font-size: var(--fs-13);
    color: var(--black);
    font-weight: 500;
    min-width: 241px;
}

.add-payment-method .dropdown-menu .dropdown-item {
    font-size: var(--fs-13);
    color: var(--black);
    font-weight: 500;
    min-width: 241px;
}

/* .add-payment-method .dropdown-menu li:nth-last-child(1) p {
    display: none;
} */

.dropdown-item.active, .dropdown-item:active {
    /* color: var(--bs-dropdown-link-active-color);
    text-decoration: none; */
    background-color:transparent;
}

.add-payment-method .dropdown-menu li a:active {
    background-color: transparent;
}

.add-payment-method .dropdown-menu li:nth-last-child(1) a::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: url('../assets/svg/arrow-right.svg') no-repeat right;
}

.payment-details-heading {
    background-color: var(--market-border);
}

.payment-name {
    font-weight: 500;
    font-size: var(--fs-13);
}

.payment-action button {
    font-weight: 500;
    font-size: var(--fs-13);
}

.payment-details-ques {
    font-size: var(--fs-12);
    font-weight: 500;
}

.payment-details-ans {
    font-size: var(--fs-14);
}

/* Edit Modal css */
.modal_payment {
    font-size: var(--fs-18);
}

.recommended_box .heading {
    font-size: var(--fs-15);
}

.recommended_box {
    border-bottom: 1px solid var(--market-border);
}

.payment_method a span {
    width: 3px;
    height: 18px;
    border-radius: 20px;
}

.payment_method a {
    font-size: var(--fs-14);
    color: var(--black);
}

.color_one {
    background-color: var(--active-yellow);
}

.color_two {
    background-color: var(--active-red);
}

.allpayment_head h6 {
    font-size: var(--fs-15);
}

.search_box .input-group-text {
    background-color: transparent;
}

.search_box .form-control:focus {
    border-color: var(--bs-border-color);
}

.search_box .form-control {
    font-size: var(--fs-14);
}

.all_letter span {
    font-size: var(--fs-12);
    cursor: pointer;
}

.all_letter .active {
    background-color: var(--active-yellow);
    border-radius: 3px;
}

/* delete modal css */
.delete_box .delete_icon img {
    width: 55px;
    height: 55px;
}

.delete_box .delete_icon {
    width: 70px;
    height: 70px;
    background: var(--icon-bg);
}

.modal-footer .cancel_btn {
    background-color: var(--filter-bg);
    color: var(--black);
    font-size: var(--fs-15);
    border: 1px solid var(--filter-bg);
}

.modal-footer .confirm_btn {
    background-color: var(--active-yellow);
    color: var(--white);
    font-size: var(--fs-15);
    border: 1px solid var(--active-yellow);
}

.delete_content p {
    font-size: var(--fs-14);
}

.dropdown-menu.show {
    display: block;
    max-height: 219px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}</style>