<template>
  <div class="bg_color">
    <!-- P2p Header start -->
    <P2PHeader />
    <!-- P2p Header end -->
    <!-- Post Normal Ad header start -->
    <section class="post_ad_header">
      <div class="container">
        <div class="post_heading py-3">
          <h5 class="mb-0">Post Normal Ad</h5>
        </div>
      </div>
    </section>
    <!-- Post Normal Ad header start -->
    <!-- Post Normal content Area Start-->
    <section class="post_content_area">
      <div class="container">
        <div class="main_content_box">
          <form class="py-5">
            <!-- Progess List -->
            <ul class="from_progress_bar d-flex pb-4 ps-0">
              <li :class="first" class="active">Set Type & Price</li>
              <li :class="second">Set Total Amount & Payment Method</li>
              <li :class="third">Set Remarks & Automatic Response</li>
            </ul>
            <!-- Progess List -->
            <!-- first step -->
            <div class="first_step mt-5" v-if="first == 'active'">
              <div class="main_box mb-5">
                <ul class="nav nav-pills mb-3 nav-fill pill_btn" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation" v-for="order_types in order_type_items" :key="order_types.tab">
                    <button :class="`nav-link ${ order_types.type == form_data.order_type ? 'active' : ''}`"
                      id="Buy-btn-tab" data-bs-toggle="pill" data-bs-target="#Buy-btn" type="button" role="tab" aria-controls="Buy-btn" aria-selected="true"
                      v-on:click="changeOrderTab(order_types.type)"
                    >
                      {{ order_types.tab }}
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="Buy-btn" role="tabpanel" aria-labelledby="Buy-btn-tab">
                    <!-- Buy box start -->
                    <div class="buy_box py-4 px-3 px-sm-5">
                      <!-- Crypto Exchange box Start -->
                      <div class="btn_exchange_box d-sm-flex align-items-center gap-3 pb-4">
                        <div class="exchange_box_one mb-4 mb-sm-0">
                          <p class="mb-2">Asset</p>
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between w-100 dropdown_btn"
                              type="button" id="currencybtn" data-bs-toggle="dropdown" aria-expanded="false">
                              <span v-if="image.currency == ''">
                                <img :src="`/p2p/${curr.icon}`" alt="" style="width: 17px"/>
                                   {{ curr?.name }}
                              </span >
                              <span v-else>
                                <img :src="`${image?.currency}`" alt="" style="width: 17px"/>
                                  {{ form_data?.currency }}
                                </span>
                            </button>
                            <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                              <div class="search-box mb-1">
                                <div class="input-group">
                                  <input @dragover="handleDragOver"  type="text" class="form-control border-end-0 shadow-none" placeholder="Search" aria-label="Search" aria-describedby="basic-addon3"
                                    v-model="filters_.currency_search"
                                  />
                                  <span class="input-group-text border-start-0" id="basic-addon3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                      style="fill: var(--grey);transform: ;msfilter: ;">
                                      <path
                                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"
                                      ></path>
                                    </svg >
                                  </span>
                                </div>
                              </div>
                              <li v-for="(currency, index) in showCurrencyList" :key="index" @click="currencyChange(currency)">
                                <span>
                                  <img :src="`${currency?.image}`" alt="" style="width: 17px"/>
                                  {{ currency?.currency }}
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="icon d-none d-sm-block">
                          <img class="img-fluid" src="/p2p/icon/arrow_right.svg" alt="right arrow"/>
                        </div>
                        <div class="exchange_box_two">
                          <p class="mb-2 d-flex align-items-center gap-1">
                            With Fait
                            <img class="min-fluid" src="/p2p/icon/error_icon.svg" alt="error"/>
                          </p>
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center justify-content-between w-100 dropdown_btn"
                             type="button" id="currencybtn" data-bs-toggle="dropdown" aria-expanded="false">
                              <span v-if="image.with_currency == ''">
                                <img :src="`/p2p/${asset.icon}`" alt="" style="width: 17px"/>
                                {{ asset?.name }}
                                </span>
                              <span v-else>
                                <img :src="`${image?.with_currency}`" alt="" style="width: 17px"/>
                                {{ form_data?.with_currency }}

                                </span>
                            </button>
                             <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton1">
                              <div class="search-box mb-1">
                                <div class="input-group">
                                  <input @dragover="handleDragOver"  type="text" class="form-control shadow-none border-end-0" placeholder="Search" aria-label="Search" aria-describedby="basic-addon3"
                                    v-model="filters_.with_currency_search"
                                  />
                                  <span class="input-group-text border-start-0" id="basic-addon3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                      style="fill: var(--grey);transform: ;msfilter: ;">
                                      <path
                                        d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"
                                      ></path></svg
                                  ></span>
                                </div>
                              </div>

                              <li v-for="(with_currency, index) in show_With_CurrencyList" :key="index" @click="with_Currency_Change(with_currency)" >
                                <span>
                                  <img :src="`${with_currency?.image}`" alt="" style="width: 17px"/>
                                  {{ with_currency?.currency }}
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Crypto Exchange box End -->
                    </div>
                    <!-- Buy box end -->
                  </div>
                </div>
              </div>
            </div>
            <!-- End first step -->
            <!-- second step -->
            <div class="second_step mt-5" v-if="second == 'active'">
              <div class="main_box mb-5 p-4">
                <div class="row mb-4">
                  <!-- Total Amount column start -->
                  <div class="col-md-12 col-lg-6">
                    <div class="total_amount_input mb-4">
                      <label for="exampleInputEmail1" class="form-label">Price</label>
                      <div class="input-group input_field">
                        <input @dragover="handleDragOver"  type="text" class="form-control shadow-none" placeholder="0" aria-label="Username"
                          v-model="form_data.at_price" onkeypress="return (event.charCode !=8 && ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46 && this.value.indexOf('.') == -1)))"
                           onpaste="return false"/>
                      </div>
                      <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.at_price.$error" >
                        {{ v$.form_data.at_price.$errors[0].$message }}
                      </span>
                    </div>
                    <div class="total_amount_input">
                      <label for="exampleInputEmail1" class="form-label" >Total Amount</label>
                      <div class="input-group input_field">
                        <input @dragover="handleDragOver"  type="text" class="form-control shadow-none border-end-0" placeholder="100" aria-label="Username"
                          v-model="form_data.amount" onkeypress="return (event.charCode !=8 && ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46 && this.value.indexOf('.') == -1)))"
                           onpaste="return false"
                        />
                        <span class="input-group-text" id="basic-addon1">{{form_data?.currency}}</span>
                      </div>
                      <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.amount.$error">
                        {{ v$.form_data.amount.$errors[0].$message }}
                      </span>
                      <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="data_text_one">
                          <p class="mb-0">
                            <span>Available:</span> {{currencyAmount?.balance}}
                            <span>{{form_data?.currency}}</span
                            ><button type="button" class="btn All_btn py-0" @click="setAmount">
                              All
                            </button>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Total Amount column end -->
                <!-- Order limit column start -->
                <div class="row pb-4 border_b">
                  <div class="col-md-12 col-lg-6">
                    <p class="mb-2">Order Limit</p>
                    <div class="order_limit_box d-sm-flex align-items-center justify-content-between">
                      <div class="order_input w-100 mb-4 mb-sm-0">
                        <div class="input-group input_field">
                          <input @dragover="handleDragOver" type="text" class="form-control shadow-none border-end-0" placeholder="1,000"
                            v-model="form_data.min_qty" onkeypress="return (event.charCode !=8 && ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46 && this.value.indexOf('.') == -1)))"
                           onpaste="return false"/>
                          <span class="input-group-text">{{form_data.currency}}</span>
                        </div>
                        <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.min_qty.$error">
                          {{ v$.form_data.min_qty.$errors[0].$message }}
                        </span>
                      </div>
                      <div class="order_icon mx-3 d-none d-sm-block">
                        <span style="font-size: var(--fs-25)">&#8764;</span>
                      </div>
                      <div class="order_input w-100">
                        <div class="input-group input_field">
                          <input @dragover="handleDragOver"  type="text" class="form-control shadow-none border-end-0" placeholder="1,000"
                            v-model="form_data.max_qty" onpaste="return false" onkeypress="return (event.charCode !=8 && ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46 && this.value.indexOf('.') == -1)))"
                          />
                          <span class="input-group-text">{{form_data.currency}}</span>
                        </div>
                        <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.max_qty.$error">
                          {{ v$.form_data.max_qty.$errors[0].$message }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Order limit column end -->
                <!-- Payment Method column -->
                <!-- {{order_type_items[1].type}} --> 
                <!-- {{change}} --> 
                <div v-if="this.form_data.order_type=='SELL'">
                <div class="payment_method mt-4" id="thedivid">
                  <h6>Payment method</h6> 
                  <p class="mb-2">Select up to 5 methods</p>
                  <div v-if="form_data.payment_type == ''"></div>
                  <div class="method_inner_col p-3 rounded-2 my-2" v-else v-for="(data, index) in form_data.payment_type" :key="index">
                    <div class="col_head d-flex align-items-center justify-content-between mb-2">
                      <router-link to="" class="text-decoration-none">
                        {{ data?.payment_slug ? underScore(data?.payment_slug): ""}}</router-link
                      >
                      <img class="img-fluid" src="/p2p/icon/close-icon.svg" alt="svg" @click="remove_event(index)"/>
                    </div>
                    <div class="col_content" v-for="(key, index) in data.payment_detail" :key="index">
                      <div class="user_data d-flex align-items-center justify-content-between">
                        <p class="mb-2 text-grey w-25 text-break"> {{ underScore(index) }}</p>
                        <p class="mb-2 w-75 text-break">{{ key }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="add_btn_col my-3">
                  <button type="button" class="btn add_btn py1 px-4" data-bs-toggle="modal" data-bs-target="#Add_Madal">
                    <img class="img-fluid" src="/p2p/icon/plus-icon.svg" alt="plus"/>
                       Add
                  </button>
                </div>
                <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.payment_type.$error">
                    {{ v$.form_data.payment_type.$errors[0].$message }}
                </span>
                <!-- Payment Method column -->
              </div>
              </div>

              <!-- Add Modal Start -->
                <div class="modal fade" id="Add_Madal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" backdrop="static" >
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
                    <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Select payment method</h5>
                        <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" id="payment_model" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" >
                          <div class="method_modal mb-3" v-for="(payment, index) in allPaymentData" :key="index" @click="setData(payment)">
                            <div class="method_inner_col my-2 p-3 rounded-2" v-if="payment.status == 1"> 
                        <div class="col_head d-flex align-items-center justify-content-between mb-2">
                            {{underScore(payment?.payment_slug)}}
                            <img class="img-fluid" src="/p2p/icon/edit-icon.svg" alt="svg">
                        </div >
                        {{payment.payment_detail?.account}}   
                    <div class="user_main_box">
                      <div class="col_content" v-for="(key,index) in payment.payment_detail" :key=" index" >
                          <div class="user_data  d-flex align-items-center">
                            <p class="mb-2 text-grey w-25 text-break">{{underScore(index)}}</p>
                            <p class="mb-2 w-75 text-break">{{key}}</p>
                          </div>
                    </div>
                  </div>
                </div>
             </div>
            </div>
              <div class="modal-footer border-top-0 justify-content-center justify-content-sm-end">
                  <div class="add_btn_col my-3 d-flex align-items-center  gap-3">
                  <button type="button" class="btn add_btn px-3 py-2">
                      <img class="img-fluid" src="/p2p/icon/plus-icon.svg" alt="plus">
                        <router-link target="_blank"  to="/payment" type="button" class="btn border-0 add_btn p-0"> Add New</router-link>
                      </button>
                  <button type="button" class="btn refresh_btn px-3 py-2 d-flex align-items-center gap-2" @click="toggleView">
                      <img class="img-fluid" src="/p2p/icon/refresh-icon.svg" alt="plus" v-if="text == 'Refresh'">
                       <spinner width="20px" height="20px" enableBackground="new 0 0 50 50" color="#000" v-else/>
                      {{ text }}
                  </button>
                  </div>
               </div>
            </div>
          </div>
        </div>
              <!-- Add Modal End -->
     </div>
            <!-- End second step -->
            <!-- third Step -->
              <div class="third_step mt-5" v-if="third == 'active'">
                  <div class="main_box p-4">
                      <!-- Warning msg Start-->
                      <div class="warning_col">
                          <div class="alert alert-warning d-sm-flex border-0 text-center text-sm-start" role="alert">
                              <svg xmlns="http://www.w3.org/2000/svg" class="me-2 yellow_img mb-2 mb-sm-0" viewBox="0 0 24 24" style="fill: #F0B90B"><path d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM13 17h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>
                              <div class=" alert_text">
                                <p class="mb-0" style="color: var(--black);">Please note that charging the counterparty with additional fees is prohibited. If such information is stated in remarks or auto-reply, the Ad posting function of your account may be permanently blocked</p>
                              </div>
                           </div>
                          </div>
                      <!-- Warning msg End-->
                      <!-- Remarks col start -->
                      <div class="textarea_col mb-4">
                      <label for="exampleFormControlTextarea1" class="form-label">Terms & Conditions (Optional)</label>
                          <textarea class="form-control shadow-none " placeholder="Please do not incluide any crypto-related words, such ase crypto, P2P,C2C,BTC,USDT,ETH etc." id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <!-- Remarks col end -->
                      <!-- Select region col Start -->
                      <div class="select_region_col">
                      <!-- {{CountryRegionData}} -->
                      <p class="mb-2 d-flex align-items-center gap-1">Select Region(s) Availability <img class="min-fluid" src="/p2p/icon/error_icon.svg" alt="error"></p>
                        <div class="multiselect_box">
                          <Multiselect
                          v-model="selected_region.region"
                          mode="tags"
                          placeholder="Select Conuter"
                          :close-on-select="false"
                          :searchable="true"
                          :options="CountryRegionData"
                          @change="test"
                      >
                      <template v-slot:option="{ option }">
                          <input @dragover="handleDragOver"  style="width: 20px; height: 20px;" class="form-check-input" type="checkbox" value="">
                          <img class="character-option-icon rounded-circle" style="width: 20px; height: 20px;" :src="option.image"> {{ option.label }}
                      </template>
                      
                          <template v-slot:tag="{ option, handleTagRemove ,disabled }">
                              <div class="multiselect-tag is-user" :class="{'is-disabled': disabled}">
                              <img :src="option.image">{{ option.label }}
                              <span v-if="!disabled" class="multiselect-tag-remove p-0"
                                  @click="handleTagRemove(option, $event)"
                              ><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" style="fill:#76808f;transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
                              </span>
                              </div>
                          </template>
                      </Multiselect>
                        </div>
                        <span class="error-msg" style="color: rgb(242, 48, 81); font-size:12px" v-if="v$.selected_region.region.$error">
                                  {{ v$.selected_region.region.$errors[0].$message }}
                        </span>
                      </div>
                      <!-- Select region col End  -->
                  </div>
              </div>
            <!-- End third Step -->
          </form>
        </div>
      </div>
      <!-- Post Normal Footer Start -->
      <div class="post_footer py-3">
        <div class="container">
          <div class="from_btn text-center text-md-end">
            <button type="button" class="btn shadow-none back_step py-2 px-4" @click="backStep">
                  Back
            </button>
            <button type="button" class="btn shadow-none next_step py-2 px-4 ms-3" @click="nextStep(),confirm_data()" v-if="this.third == 'active' && modalState == true"
              data-bs-toggle="modal" data-bs-target="#ConfirmPost">
                  Post
            </button>
            <button type="button" class="btn shadow-none next_step py-2 px-4 ms-3" @click="nextStep" v-else>
                  Next
            </button>
          </div>
        </div>
      </div>
      <!-- Post Normal Footer End -->
    </section>
    <!-- Post Normal content Area End -->

    <!-- Confirm Post modal start -->

  <div  class="modal fade" id="ConfirmPost" tabindex="-1" aria-labelledby="ConfirmPostLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          <div class="modal-header border-bottom-0">
              <h5 class="modal-title" id="ConfirmPostLabel">Confirm to Post</h5>  
              <button type="button" class="btn-close shadow-none" id="submit_model" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0">
            <!-- Warning msg col -->
            <div class="warning_text p-2 rounded-1 mb-3">
              <p class="mb-0">After publishing the SELL Post, the trading assets well be frozen.</p>
            </div>
            <!-- Warning msg col -->
            <!-- Confirm Data list box -->
            <div class="confirm_list_box">
              <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Type</p>
              <p class="red_text mb-0">{{form_data.order_type}}</p>
            </div>
              <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Asset</p>
              <p class="mb-0">{{form_data.currency}}</p>
            </div>
              <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Currency</p>
              <p class="mb-0">{{form_data.with_currency}}</p>
            </div>
              <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Fixed Price</p>
              <p class="mb-0">{{form_data.at_price}}</p>
            </div>
              <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Order Limit</p>
              <p class="mb-0">{{form_data.min_qty}} - {{form_data.max_qty}} {{form_data.currency}}</p>
            </div>
            <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Total Trading Amount</p>
              <p class="mb-0">{{form_data.amount}} {{form_data.currency}}</p>
            </div>
            <div class="confirm_list d-flex align-items-center justify-content-between mb-3 pb-3 border_b">
              <p class="mb-0 gray_text d-flex align-items-center gap-1">Reserved Fee <img class="min-fluid" src="/p2p/icon/error_icon.svg" alt="error"></p>
              <p class="mb-0">0.00 USDT</p>
            </div>
            <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Counterparty Condition</p>
              <p class="mb-0">Registered 0 day(s) ago</p>
            </div>
            <div class="confirm_list text_width d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Payment Method</p>
              <p class="mb-0 text-capitalize">{{data_}}</p>
            </div>
            <div class="confirm_list d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Payment Time Limit</p>
              <p class="mb-0">15 min</p>  
            </div>
            <div class="confirm_list text_width d-flex align-items-center justify-content-between mb-2">
              <p class="mb-0 gray_text">Available Region(s)</p>
              <p class="mb-0">{{region}}</p>
            </div>
            </div>
            <!-- Confirm Data list box -->
          </div>
          <div class="modal-footer flex-nowrap gap-2">
              <button type="button" class="btn cancel_btn w-100 py-2" data-bs-dismiss="modal">Cancel</button>
                  <button class=" confirm_btn modal_loading_btn px-3 py-2" type="button"
                        disabled v-if="loading">
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Loading...
                   </button>
              <button v-else type="button" class="btn confirm_btn w-100 py-2" @click="submitForm()">Confirm to Post</button>
          </div>
      </div>
  </div>
</div>
    <!-- Confirm Post modal end -->
</div>
</template>

<script>
import Multiselect from "@vueform/multiselect";
import P2PHeader from "../../P2P/components/P2PHeader.vue";
import spinner from "../components/spinner.vue"
// dynamic import started here
import ApiClass from "../../api/api";
import _ from "lodash";
import useVuelidate from "@vuelidate/core";
import { required,helpers,minValue,maxValue} from "@vuelidate/validators";
import { onHandleKeyPress,onHandlePaste,onHandleKeyUp,onHandleKeyDown} from "../../api/inputText.js";
import exactMath from "exact-math";
const config = {
  ePlus: Infinity,
  ePlus: Infinity,
  returnString: false,
  maxDecimal: 8
};

export default {
  name: "PostNormal",
  components: {
    Multiselect,
    P2PHeader,
    spinner
  },
  setup() {
    return {  
      v$: useVuelidate(),
    };
  },
  data() {
    return {
      c_currency:'',
      c_w_currency:'',
      c_price:'',
      c_w_price:'',
      max_total:'',
      loading: false,
      first: "active",
      second: "next",
      third: "next",
      curr: {
        icon: "BTC.png",
        name: "BTC",
      },
      asset: {
        icon: "INR.png",
        name: "INR",
      },


      // dyncamic variable here
      order_type_items: [
        { tab: "I want to Buy", type: "BUY" },
        { tab: "I want to Sell", type: "SELL" },
      ],
      currencyData: [],
      image: {
        currency: "",
        with_currency: "",
      },
      change:"",
      asset_decimal: "",
      fiat_decimal: "",
      allPaymentData:[],
      expanded: false,
      text: "Refresh",
      CountryRegionData:[],
      currencyAmount: {},
      form_data: {
        currency: "BTC",
        with_currency: "INR",
        at_price: "",
        order_type: "BUY",
        min_qty: "",
        max_qty: "",
        amount: "",
        regions: '',
        payment_type: [],
      },
      filters_: {
        currency_search: "",
        with_currency_search: "",
      },
      selected_region: {
          region:[],
      },
      data_:[],
      payment_data:[],
      modalState:false,
      region:[]
    };
  },


  //form validation
  validations() {
    return {
      form_data: {
        at_price: {
          required: helpers.withMessage("Enter Trading Price", required),
        },
        amount: {
          required: helpers.withMessage("Enter Trading Amount", required),
          minValue: helpers.withMessage(
            `Total amount should not be less than ${this.max_total}`,minValue(this.max_total)
          ),
          maxValue: helpers.withMessage(`Amount should be less than or equal to available balance`,maxValue(this.currencyAmount?.balance)),
        },
        min_qty: {
          required: helpers.withMessage("Please enter min order limit", required),
            minValue: helpers.withMessage('Min value should be 0.00000001',minValue(0.00000001)),
            maxValue: helpers.withMessage(`Max value should smaller than ${this.form_data.max_qty}`, maxValue(this.form_data.max_qty)),
        },
        max_qty: {
          required: helpers.withMessage("Please enter max order limit", required),
          maxValue: helpers.withMessage(`Max value should smaller than ${this.form_data.amount}`, maxValue(this.form_data.amount)),
        },
        payment_type: {
          required:   ( this.form_data.order_type == 'SELL' )? helpers.withMessage("Please select at least 1 payment method", required):'',
        }
      },
       selected_region:{
          region: {
            required:helpers.withMessage("Selected Region is Required", required),
        }
      },
    };
  },
  //mounted functions
  async mounted() {
    this.getCurrencies();
    this.getPayments();
    this.getCountryRegions();
    this.getCurrencyAmount(this.curr.name);
  },

  // computed functions
  computed: {
    //currency
    showCurrencyList() {
      let currency_Data = this.currencyData?.currency;
      let $this = this;
      if ($this.filters_.currency_search) {
        return (currency_Data = _.filter(currency_Data, (v) =>
          v.currency
            .toLowerCase()
            .includes($this.filters_.currency_search.trim().toLowerCase())
        ));
      }
      return currency_Data;
    },


    //with_currency
    show_With_CurrencyList() {
      let with_Currency_Data = this.currencyData?.fiat;
      let $this = this;
      if ($this.filters_.with_currency_search) {
        return (with_Currency_Data = _.filter(with_Currency_Data, (v) =>
          v.currency
            .toLowerCase()
            .includes($this.filters_.with_currency_search.trim().toLowerCase())
        ));
      }
      return with_Currency_Data;
    },
  },

//methods
  methods: {
    async nextStep() {
      if (this.first == "active") {
        this.second = "active";
        this.first = "prev";
       
        this.setTotal()  //max total cal
      } else {
        if (this.second == "active") {
          let validate = await this.v$.form_data.$validate();
          if (!validate) return;
          this.third = "active";
          this.second = "prev";
        } else {
          this.second = "prev";
          this.third = "active";

          let validate = await this.v$.selected_region.$validate();
          if(!validate) return; 
        }
      }
    },

    setTotal(){
      console.log('ccc', {c:this.c_currency,p:this.c_price})
      console.log('ww', {w:this.c_w_currency,wp:this.c_w_price})
      let currency_price = this.c_price
      let fiat_price = this.c_w_price
      let required_total = 100
      this.max_total =   exactMath.div(required_total,currency_price, config);

    },

    backStep() {
      if (this.third == "active") {
        this.second = "active";
        this.third = "next";
      } else {
        if (this.second == "active") {
          this.first = "active";
          this.second = "next";
        }
      }
    },


 // dynamic methods
    onHandleKeyPress,
    onHandlePaste,
    onHandleKeyUp,
    onHandleKeyDown,


 //additional function
    changeOrderTab(tab) {
      this.form_data.order_type = tab;
      console.log(this.form_data.order_type, "eeer")
      // change  = tab;
    },

    currencyChange(value) {
      console.log('ccc',value)
      this.c_currency =  value?.currency
      this.c_price=  value?.price
      this.form_data.currency = value?.currency || "";
      this.image.currency = value?.image;
      this.asset_decimal = value?.decimal;
      this.getCurrencyAmount(value?.currency || '')
     
    },

    with_Currency_Change(value) {
      console.log('wwwwwww',value)
      this.c_w_currency =  value?.currency
      this.c_w_price=  value?.price
      this.form_data.with_currency = value?.currency || "";
      this.image.with_currency = value?.image;
      this.fiat_decimal = value?.decimal;
      this.getPayments()
    },

    isLetterOrNumber(e) {
      let char = String.fromCharCode(e.keyCode);
      if (/^[0-9]+$/.test(char)) return true;
      else e.preventDefault();
    },

    setData(data) {
        var isIndex = _.findIndex(this.form_data.payment_type, function(o) {
        return o.id == data.id;
      });
      isIndex >= 0 ? '' : this.form_data.payment_type.push(data);
      document.getElementById("payment_model").click();
    },

    remove_event(index) {
        this.form_data.payment_type.splice(index, 1); 

        if(this.form_data.order_type=='SELL' && this.form_data.payment_type.length == 0){
          this.message = 'Please select at least 1 payment method' 
        } 
    },

    toggleView() {
      this.getPayments()
      this.expanded = !this.expanded;
          if (this.expanded) { 
              this.text = "Refreshing";
          }else {
              this.text = "Refresh";
          }
          setTimeout(() => {
              this.expanded = false
              this.text = "Refresh"
          }, 3000);
    },

    underScore(str) {  
        var i, frags = str.split('_');
        for (i=0; i<frags.length; i++) {
            frags[i] = frags[i].charAt(0).toUpperCase() + frags[i].slice(1);
        }
        return frags.join(' ');
    },

    async test() {
      let validate = await this.v$.selected_region.$validate();

      if(!validate) return; 

      if(!this.v$.invalid){
          this.modalState = true;
      }
    },

    setAmount () {
     this.form_data.amount = this.currencyAmount?.balance
    },


    // api integration
    async getCurrencies() {
      let result = await ApiClass.getNodeRequest("p2p/order/get_crypto", true);
      if (result.status == 200) {
        this.currencyData = result?.data || [];
        console.log('sjdhjasdh',this.currencyData )
        this.c_currency = this.currencyData.currency[0].currency
        this.c_price = this.currencyData.currency[0].price
        this.c_w_currency = this.currencyData.fiat[0].currency
        this.c_w_price = this.currencyData.fiat[0].price
      }
    },


    async getPayments() {
    let result = await ApiClass.getNodeRequest(`p2p/paymentType/all-payment?with_currency=${this.form_data.with_currency}`, true);

      if (result.status == 200) {    
          this.allPaymentData = result?.data?.data?.data || [];
      }
    },


    async getCountryRegions() {
    let result = await ApiClass.getNodeRequest("p2p/order/country", false);
      if (result.status == 200) {
      let payopt = [];
          result?.data?.data.map((v, i) => { payopt.push({ label: v?.name, value: v?.name, image:v?.image })});
          this.CountryRegionData = payopt || [];
      }
   },

    async getCurrencyAmount(currency) {
      
    let result = await ApiClass.getNodeRequest("p2p/wallet/getp2pCurrency?currency="+ currency , true);
      if (result.status == 200) {
          this.currencyAmount = result?.data?.data || {};
     }
    },


   confirm_data() {
      this.form_data.order_type = this.form_data.order_type;
      this.form_data.currency = this.form_data.currency;
      this.form_data.with_currency = this.form_data.with_currency;
      this.form_data.at_price = parseFloat(this.form_data.at_price);
      this.form_data.min_qty = parseFloat(this.form_data.min_qty);
      this.form_data.max_qty = parseFloat(this.form_data.max_qty);
      this.form_data.amount = parseFloat(this.form_data.amount);
      this.form_data.regions = this.selected_region.region;
      this.region = this.selected_region.region.join('  ')
      let data = []
      if(this.form_data.order_type=='SELL'){

        this.form_data.payment_type.map((v)=>{
                            data.push(v.payment_slug)
                        });
      }
      this.data_ = data.join(' ').split('_').join(' ');
      this.payment_data = data
      this.modalState = true; 
    },

     submitForm() {
      this.loading = true;

      let form = {
        order_type: this.form_data.order_type,
        currency:  this.form_data.currency,
        with_currency: this.form_data.with_currency,
        at_price: this.form_data.at_price,
        min_qty: parseFloat(this.form_data.min_qty),
        max_qty: this.form_data.max_qty,
        regions: this.form_data.regions
      }
      if(this.form_data.order_type == 'SELL'){
        form.payment_type = this.payment_data;
      }
   
      this.form_data.regions = this.form_data.regions;
      if (localStorage.getItem("token")) {
        // console.log(this.form_data,"in_submit");
        this.apifunction(form);
        return;
      }
 
    },                                                                                                                                            
                                                                                                                                          

    
    async apifunction(form) {
    await ApiClass.postNodeRequest("p2p/order/place", true, form).then(
        (res) => {
          this.loading = false;
          if (res.data.status_code == 1) {
            this.loading = false;
            this.$swal({
              toast: true,
              position: "top-end",
              icon: "success",
              title: res.data.message,
              showConfirmButton: false,
              timer: 3000,
            });
              document.getElementById("submit_model").click();
            this.$router.push({ name: "My Ads" });
          } else {
            this.loading = false;
            this.$swal({
              toast: true,
              position: "top-end",
              icon: "error",
              title: res.data.message,
              showConfirmButton: false,
              timer: 3000,
            });
          }
        }
      );
    },
  },

};
</script>
<style src="@vueform/multiselect/themes/default.css"></style>
<style scoped>
.main_box {
  min-height: 525px;
}
.spinner-border {
  width: 1rem;
  height: 1rem;
}

.modal {
  z-index: 3000;
}

.modal-body {
  overflow: auto;
  max-height: 400px;
}
.form-control:focus {
  border-color: #dee2e6;
}

.bg_color {
  background-color: var(--tab-bg);
  min-height: 100vh;
  height: calc(100% - 71px);
}
/* Post Normal Header start */
.post_ad_header {
  background-color: var(--white);
  box-shadow: var(--tab-box-shadow);
}
/* Post Normal Header end */
/* from progress bar css */
.from_progress_bar {
  counter-reset: circle 0;
}
.from_progress_bar li {
  list-style: none;
  counter-increment: circle 1;
  position: relative;
  font-size: var(--fs-14);
  width: 100%;
  text-align: center;
}
.from_progress_bar li::before {
  content: counter(circle);
  position: absolute;
  top: 40px;
  height: 30px;
  width: 30px;
  border: 3px solid var(--white);
  background-color: var(--tab-border);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s;
  left: 0;
  right: 0;
  margin: auto;
}
.from_progress_bar li::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 50%;
  background-color: var(--tab-border);
  top: 55px;
  cursor: pointer;
  transition: all 0.5s;
}
.from_progress_bar li:last-child:after {
  content: unset;
}
.from_progress_bar .active:before {
  background-color: var(--active-yellow);
}
.from_progress_bar .prev:before {
  background-color: var(--active-yellow);
}
.from_progress_bar .prev:after {
  background-color: var(--active-yellow);
}
/* End from progress bar css */
/* Tabs start */
.pill_btn li .nav-link {
  padding: 0.7rem 0;
  background-color: var(--filter-bg);
  border-radius: 0;
  box-shadow: rgb(149 157 165 / 10%) 0px 8px 24px inset;
  color: var(--black);
}
.pill_btn li .nav-link.active {
  background-color: var(--white);
  color: var(--active-yellow);
  box-shadow: unset;
}
/* Tabs end */
/* First step start */
.main_box {
  background-color: var(--white);
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}
.main_box p,
.price_type_box .form-check-label {
  font-size: var(--fs-14);
}
.main_box input {
  font-size: var(--fs-14);
  padding: 0.6rem;
}
.main_box label,
.col_head a,
.confirm_list p {
  font-size: var(--fs-14);
}
.btn_exchange_box .icon {
  margin-top: 30px;
}
.btn_exchange_box,
.border_b {
  border-bottom: 1px dashed var(--tab-border);
}
.exchange_box_one,
.exchange_box_two {
  width: 25%;
}
.dropdown .dropdown_btn {
  background-color: var(--filter-bg);
  color: var(--black);
  border-color: var(--filter-bg);
  padding: 0.6rem;
}
.dropdown .dropdown_btn span {
  font-size: var(--fs-14);
}
.dropdown-menu {
  overflow-y: scroll;
  height: 230px;
}
.dropdown-menu li {
  padding: 0.4rem;
  font-size: var(--fs-15);
}
.dropdown-menu li:hover {
  background-color: var(--filter-bg);
  cursor: pointer;
}
.custom_val {
  color: var(--active-red);
  font-size: 13px;
}

/* ::-webkit-scrollbar {
  width: 6px;
  background: var(--white);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--grey) ;
  border-radius: 10px;
} */

.price_type_box .form-check-input:checked[type="radio"] {
  background-image: url("/p2p/icon/circle-icon.svg");
  background-color: var(--white);
  background-size: 12px 12px;
  border-color: var(--active-yellow);
}
.Fixed_input {
  max-width: 250px;
}
.Fixed_input .border_group {
  border-right: unset;
}
.Fixed_input .input-group-text {
  background-color: var(--white);
  cursor: pointer;
}
.Fixed_input .input-group-text img {
  background-color: var(--filter-bg);
}
.Fixed_input .form-control:focus {
  border-color: var(--bs-border-color);
}
.buy_price_box h4 {
  font-size: var(--fs-20);
}
.price_type_box .form-check-input {
  padding: unset !important;
  font-size: inherit !important;
}

/* First step End */
/* Scound step start */
.data_text_one span,
.data_text_two p {
  color: var(--grey);
}
.data_text_one p,
.data_text_one .All_btn,
.data_text_two p {
  font-size: var(--fs-12);
}
.data_text_one .All_btn {
  color: var(--active-yellow);
  border-color: var(--white);
}
.input_field .input-group-text,
.search-box .input-group-text {
  background-color: transparent;
  font-size: var(--fs-14);
}
.input_field .form-control:focus,
.search-box .form-control:focus {
  border-color: var(--bs-border-color);
}
.payment_method h6 {
  font-size: var(--fs-14);
  font-weight: 400;
}
.method_inner_col {
  border: 1px solid transparent;
  background-color: var(--tab-bg);
  transition: all 0.3s ease;
}
.method_inner_col:hover {
  border: 1px solid var(--active-yellow);
  /* background-color: var(--tab-bg); */
}
.col_head a {
  background-color: var(--white);
  padding: 0.3rem;
}
.col_head {
  color: var(--light-yellow);
}
.col_head img {
  cursor: pointer;
}
/* .user_main_box:nth-child(2) {
    overflow-y: scroll;
    height: 170px;
    background: crimson;
} */
.add_btn_col .add_btn {
  background-color: var(--active-yellow);
  font-size: var(--fs-14);
  border-color: var(--active-yellow);
}
.payment_time .dropdown {
  max-width: 200px;
}
.payment_time .dropdown .dropdown_btn {
  background-color: transparent;
  border-color: var(--bs-border-color);
}

/* Add Modal start */

.method_modal .col_head a {
  color: var(--active-red);
}
.method_modal .user_data,
.method_modal_two .user_data {
  max-width: unset;
}
.method_modal .user_data p,
.method_modal_two .user_data p {
  font-size: var(--fs-14);
}
.add_btn_col .refresh_btn {
  background-color: var(--filter-bg);
  font-size: var(--fs-14);
  border-color: var(--filter-bg);
}
.refresh_btn .loader_img {
    width: 20px;
    height: 20px;
}
.modal-header .modal-title {
  font-size: var(--fs-18);
}
/* Add Modal end */

/* Scound step End */
/* Third step Start */
.textarea_col textarea {
  font-size: var(--fs-13);
}
.textarea_col .form-control:focus {
  border-color: var(--bs-border-color);
}
.multiselect_box .form-check-input:checked {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
}
.yellow_img {
  min-width: 25px;
  height: 25px;
}
/* Confirm Post modal css */
.warning_text {
  background-color: var(--bs-warning-bg-subtle);
  font-size: var(--fs-13);
  color: var(--black);
}
.text_width p{
   max-width: 230px;
    word-break: break-all
}
.confirm_list .red_text {
  color: var(--active-red);
}
.confirm_list .gray_text {
  color: var(--grey);
}
.cancel_btn,
.confirm_btn {
  font-size: var(--fs-14);
}
.modal_loading_btn{
  min-width:50% ;
  color: var(--black);
  border: 1px solid transparent;
  border-radius: 5px;
}
/* Confirm Post modal css */
/* Third step End */
/* Post Footer Start */
.post_footer {
  background-color: var(--white);
  box-shadow: 0px -5px 6px rgb(24 26 32 / 4%);
  position: fixed;
  bottom: 0;
  width: 100%;
}
.post_footer .next_step,
.confirm_btn {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
}
.post_footer .next_step,
.post_footer .back_step {
  min-width: 200px;
  font-size: var(--fs-14);
}
.post_footer .back_step,
.cancel_btn {
  background-color: var(--filter-bg);
  border-color: var(--filter-bg);
}

/* Post Footer End */

/* Media Query Start */

@media all and (min-width: 767px) and (max-width: 992px) {
  .exchange_box_one,
  .exchange_box_two {
    width: 48%;
  }
  .post_footer {
    position: relative;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .exchange_box_one,
  .exchange_box_two {
    width: 49%;
  }
  .from_progress_bar li {
    font-size: var(--fs-12);
  }
  .pill_btn li .nav-link {
    font-size: var(--fs-13);
  }
  .post_footer .back_step,
  .post_footer .next_step {
    min-width: unset;
  }
}
@media all and (min-width: 320px) and (max-width: 576px) {
  .exchange_box_one,
  .exchange_box_two {
    width: 100%;
  }
  .post_footer {
    position: relative;
  }
  .method_modal .user_data p {
    width: 50%;
  }
  .method_modal_two .user_data p {
    width: 50%;
  }
  .cancel_btn,
  .confirm_btn {
    font-size: var(--fs-13);
  }
  .confirm_list p {
    font-size: var(--fs-12);
  }
}
@media all and (min-width: 320px) and (max-width: 398px) {
  .from_progress_bar li:before {
    top: 75px;
  }
  .from_progress_bar li:after {
    top: 90px;
  }
}

/* Media Query End */
</style>