<template>
  <div>
    <!-- qqqq {{JSON.stringify(this.ws_connection)}} -->
    <!-- P2p Header start -->
    <P2PHeader />
    <!-- P2p Header end -->
    <section class="order-detail">
      <div class="order-created-info">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-8">
              <div class="order-info mb-3 mb-lg-0 text-center text-sm-start">
                <h3 class="mb-0 pb-2">
                  Sell {{ order_details.currency }} to
                  {{ split_email(order_details?.buyer?.user?.email) }}
                </h3>
                <div class="order_time_box d-lg-flex align-items-center gap-2">
                  <p class="mb-md-0 mb-2">
                    Please confirm that you have received payment from the
                    buyer.
                  </p>
                </div>
              </div>
              <!--order-info-->
            </div>
            <!--col-md-6-->

            <div class="col-md-6 col-lg-4">
              <div class="order-number text-center text-sm-start text-md-end">
                <p class="mb-0 pb-2">
                  Order Number
                  <span
                    >{{ order_details?.seller?.id }}
                    <span style="cursor: pointer">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        width="14"
                        style="fill: var(--grey)"
                      >
                        <path
                          d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z"
                        /></svg
                    ></span>
                  </span>
                </p>

                <p class="mb-0">
                  Time Created
                  <span>{{
                    formatDate(order_details?.seller?.created_at)
                  }}</span>
                </p>
              </div>
              <!--order-number-->
            </div>
            <!--col-md-6-->
          </div>
          <!--row-->
        </div>
        <!--container-->
      </div>
      <!--order-created-info-->
      <div class="chat-box-main-btn pt-3 d-lg-none">
        <div class="container">
          <div class="chat-box-btn d-flex justify-content-end">
            <button
              @click="ChatBox = true"
              class="border-0 bg-transparent mx-2"
            >
              <img src="../assets/svg/chat-box-btn.svg" alt="chat-box-btn" />
            </button>
          </div>
        </div>
      </div>

      <div class="order-process mt-5">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-7">
              <div class="notify-box mb-4">
                <div class="notify_inner_box" :class="first">
                  <div class="notify_number">
                    <span>1</span>
                    <hr style="border: 1px dashed #bec1c5; width: 100%" />
                  </div>
                  <!--notify_number-->

                  <div class="notify-heading">
                    <p @click="hidden = true, hiddenOne=false">Pending Payment</p>
                  </div>
                  <!--notify-heading-->
                </div>
                <!--notify_inner_box-->

                <div class="notify_inner_box" :class="second">
                  <div class="notify_number">
                    <span>2</span>
                    <hr style="border: 1px dashed #bec1c5; width: 100%" />
                  </div>
                  <!--notify_number-->

                  <div class="notify-heading">
                    <p @click="hiddenOne = true,hidden=false">
                      Release cryptos to the buyer?
                    </p>
                  </div>
                  <!--notify-heading-->
                </div>
                <!--notify_inner_box-->

                <div class="notify_inner_box" :class="third">
                  <div class="notify_number">
                    <span>3</span>
                  </div>
                  <!--notify_number-->
                  <div class="notify-heading">
                    <p>Completed</p>
                  </div>
                  <!--notify-heading-->
                </div>
                <!--notify_inner_box-->
              </div>
              <!--notify-box-->
            
              <div class="notify_msg_box mb-4" v-show="hidden">
                <div class="notify_msg d-flex rounded-2 p-3">
                  <p class="mb-0">
                    You need to leave the Binance website and pay with the
                    selected payment platform. Meadwhile. Binance will keep the
                    crypto in custody.Binance only supports real-name verified
                    payment methods. <br />Upon successful payment to the
                    seller, go back to the Binance website and click the
                    "Transferred, notify seller" button 
                  </p>
                  <span class="close_btn" @click="hidden = false"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      style="fill: #76808f; transform: ; msfilter: "
                    >
                      <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                      ></path></svg
                  ></span>
                </div>
              </div>
              <div class="notify_msg_box mb-4" v-show="hiddenOne">
                <div class="notify_msg d-flex rounded-2 p-3">
                  <p class="mb-0">
                    You need to leave the Binance website and pay with the
                    selected payment platform. Meadwhile. Binance will keep the
                    crypto in custody.Binance only supports real-name verified
                    payment methods. <br />Upon successful payment to the
                    seller, go back to the Binance website and click the
                    "Transferred, notify seller" button
                  </p>
                  <span class="close_btn" @click="hiddenOne = false"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      style="fill: #76808f; transform: ; msfilter: "
                    >
                      <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                      ></path></svg
                  ></span>
                </div>
              </div>
              <div class="order-placed-box">
                <div class="order-inner-box">
                  <div class="confirm-order-box mb-5">
                    <div class="heading-box">
                      <h3>Confirms order info</h3>
                    </div>
                    <!--heading-box-->

                    <div class="order-main">
                      <div class="main-box">
                        <p class="mb-0 pb-2">Amount</p>
                        <h3 class="mb-0" style="color: var(--active-red)">
                          ₹ {{ cal_amount() }}
                        </h3>
                      </div>
                      <!--main-box-->

                      <div class="main-box">
                        <p class="mb-0 pb-2">Price</p>
                        <h3 class="mb-0">₹ {{ order_details?.at_price }}</h3>
                      </div>
                      <!--main-box-->

                      <div class="main-box">
                        <p class="mb-0 pb-2">Quantity</p>
                        <h3 class="mb-0">
                          {{ order_details?.quantity }}
                          {{ order_details?.currency }}
                        </h3>
                      </div>
                      <!--main-box-->
                    </div>
                  </div>
                  <!--confirm-order-box-->

                  <div class="payment-author mb-5">
                    <div class="heading-box mb-3">
                      <h5 class="mb-0 pb-3">
                        Confirm that the payment is made using the buyer's real
                        name ({{ order_details?.buyer?.user?.name }})
                        <span
                          ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            width="15"
                            style="fill: var(--grey)"
                          >
                            <path
                              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                            /></svg
                        ></span>
                      </h5>
                    </div>
                    <!--heading-box-->

                    <div class="author_info_o rounded-2">
                      <div class="row">
                        <div class="col-sm-5 col-md-4 border_right">
                          <div
                            class="nav nav_btn flex-column nav-pills p-2"
                            id="v-pills-tab"
                            role="tablist"
                            aria-orientation="vertical"
                            v-for="(pm, i) in order_details?.seller
                              ?.seller_payment_detail"
                            :key="i"
                          >
                            <button
                              :class="i == current_tab ? 'active' : ''"
                              @click="(current_tab = i), (p_details = pm)"
                              class="nav-link py-1 px-2"
                              id="pdetails-ta`"
                              data-bs-toggle="pill"
                              data-bs-target="#pdetails"
                              type="button"
                              role="tab"
                              aria-controls="pdetails"
                              aria-selected="true"
                            >
                              <span class="d-flex align-items-center px-2 py-1">
                                <img
                                  style="width: 20px"
                                  class="me-1"
                                  src="/payment-data/google-pay.svg"
                                  alt="img"
                                />
                                {{ pm.payment_type }}
                              </span>
                            </button>
                          </div>
                        </div>
                        <div class="col-sm-7 col-md-8">
                          <div class="tab-content p-2" id="v-pills-tabContent">
                            <div
                              class="tab-pane active show"
                              id="pdetails"
                              role="tabpanel"
                              aria-labelledby="pdetails-tab"
                              tabindex="0"
                            >
                              <div class="author_name">
                                <div class="author_box mb-3">
                                  <p class="mb-0 pb-2">Full Name</p>
                                  <h6 class="mb-0" id="name_id">
                                    {{ order_details?.seller?.user?.name }}
                                    <span @click="copy('name_id')" style="cursor: pointer;"
                                      ><svg  
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512"
                                        width="14"
                                        fill="var(--grey)"
                                      >
                                        <path
                                          d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H304v64c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224c0-8.8 7.2-16 16-16h64V160H64z"
                                        /></svg
                                    ></span>
                                  </h6>
                                </div>
                                <div
                                  class="author_box"
                                  v-for="(
                                    dt, k, index
                                  ) in p_details.payment_detail"
                                  :key="index"
                                >
                                  <p class="mb-0 pb-1">{{ chnage_slug(k) }}</p>
                                  <h6 class="mb-2" :id="`${k}`">{{dt}} <span @click="copy(k)" style="cursor: pointer;"><svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512"
                                        width="14"
                                        fill="var(--grey)"
                                      >
                                        <path
                                          d="M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H304v64c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224c0-8.8 7.2-16 16-16h64V160H64z"
                                        /></svg
                                    ></span>
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--payment&author-->

                  <div class="transfer-button">
                    <div class="heading-box mb-4">
                      <span
                        >After confirming the payment. be sure to click the
                        "Payment received" button. button.
                        <span>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 512 512"
                            width="15"
                            style="fill: var(--grey)"
                          >
                            <path
                              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
                            />
                          </svg>
                        </span>
                      </span>
                    </div>
                    <!--heading-box-->

                    <div class="transfer-button">

                      <button class="btn btn-secondary" id="seller-btn" v-show="second == 'active' && buyer_confirmation == 1" data-bs-toggle="modal" data-bs-target="#PaymentReceived">
                        Payment received
                      </button>

                      <button class="btn" id="appeal-btn" v-show="second == 'active' && buyer_confirmation == 1 && !appeal_btn && !contact_support">
                        Transaction issue; appeal after {{ appeal_time }}
                      </button>

                      
                      <div v-if=" Appeal_data.status !='opened'">
                        <button class="btn" id="appeal-btn" v-show="second == 'active' && appeal_btn && !contact_support" data-bs-toggle="modal" data-bs-target="#AppealModal">
                          Transaction issue; I want to appeal
                        </button>
                      </div>

                      <div v-if="(Appeal_data.appeal_by == order_details.buyer_user_id) && Appeal_data.status=='opened'">Counterparty appealed</div>

                        <div v-if="this.Appeal_data.appeal_by == this.order_details.seller_user_id">
                            <button class="btn" id="appeal-btn" v-if="second == 'active' && contact_support && Appeal_data != ''">
                                Support {{ appeal_exp_time }}
                            </button>

                            <button class="btn" id="appeal-btn" v-if="second == 'active' && contact_support && Appeal_data != ''" @click="cancel_appeal">
                                Cancel Appeal
                            </button>
                        </div>
                       

                      <button style="display: none" id="smbtn" data-bs-toggle="modal" data-bs-target="#SupportModal">
                        open Support Model
                      </button>

                     
                    </div>
                    <!--transfer-button-->
                  </div>
                  <!--transfer-button-->
                </div>
                <!--order-inner-box-->
              </div>
              <!--order-placed-box-->
            </div>
            <!--col-md-6-->
            <div
              class="d-lg-block col-12 col-lg-4 p-0 p-sm-2"
              v-show="ChatBox == true"
            >
              <div class="chat-outer-box">
                <ChatBox
                  type="sell"
                  :closeChatBox="ChatBox"
                  :OtherUserDetail="user_details"
                  :chatData="order_details"
                  :socket="ws_connection"
                  :UserId="c_user_id.toString()"
                  @closeChatBox="closeChat"
                />
              </div>
            </div>
          </div>
          <!--row-->
        </div>
        <!--container-->
      </div>
      <!--order-process-->

      <!-- Payment Received Modal -->
      <div
        class="modal fade"
        id="PaymentReceived"
        data-bs-backdrop3="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdrop3Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header border-0">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                id="pm_close"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="payment-info">
                <div class="text-center">
                  <div
                    class="edit_icon mx-auto d-flex align-items-center justify-content-center rounded-circle"
                  >
                    <img class="img-fluid" src="/p2p/icon/worning-icon.svg" />
                  </div>
                  <h5 class="text-center mt-3">Confirm release</h5>
                </div>
                <ul class="m-0 p-0 mb-2">
                  <li class="mb-3">
                    <div class="form-check">
                      <input @dragover="handleDragOver" 
                        class="form-check-input"
                        type="radio"
                        @click="confirm_btn = false"
                        name="exampleRadios"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        id="exampleRadios1"
                        value="option2"
                      />
                      <label class="form-check-label" for="exampleRadios1">
                        I have not received payment from the buyer.
                      </label>
                    </div>
                  </li>
                  <li class="mb-3">
                    <div class="form-check">
                      <input @dragover="handleDragOver" 
                        class="form-check-input"
                        type="radio"
                        name="exampleRadios"
                        id="exampleRadios2"
                        value="option2"
                        @click="confirm_btn = true"
                      />
                      <label class="form-check-label" for="exampleRadios2">
                        I have received the correct amount. payment sender
                        matches the buyer's verified name on binance and i agree
                        to releasr my crypto to the buyer.
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="tips-info p-3">
                <h6>Tips</h6>
                <ul class="m-0 p-0">
                  <li class="mb-3">
                    1. Do not only check the buyer's payment proof. make sure to
                    log into your account and verify payment is received!
                  </li>
                  <li class="mb-3">
                    2. If the payment is still processing wait until you have
                    received payment in your account before releasing the
                    crypto!
                  </li>
                  <li class="mb-3">
                    3. Do not accept payment from a third-party account. refund
                    the full amount immediately if you receive such payment to
                    avoid financial lossess caused by bank chargeback after you
                    have released the crypto!
                  </li>
                </ul>
              </div>

              <!-- confirm_btn_load  {{this.confirm_btn_load}}
                          confirm_btn  {{this.confirm_btn}} -->

              <button
                v-if="confirm_btn && confirm_btn_load == false"
                class="btn btn-secondary"
                @click="nextStep"
              >
                Confirm
              </button>
              <button v-else-if="confirm_btn_load" class="btn btn-secondary">
                Loading
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Payment Received Modal -->
      <!-- Appeal Modal -->
      <div
        class="modal fade"
        id="AppealModal"
        data-bs-backdrop2="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdrop2Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <form @submit.prevent="send_appeal">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdrop2Label">Tips</h1>
                <button
                  type="button"
                  class="btn-close"
                  id="appeal_close_btn"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="before-appealing">
                  <p>before appealing</p>
                  <div
                    class="msg-box d-flex align-items-center gap-3 mb-3 p-3 rounded-2"
                  >
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="
                          fill: var(--active-yellow);
                          transform: ;
                          msfilter: ;
                        "
                      >
                        <path
                          d="M5 18v3.766l1.515-.909L11.277 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h1zM4 8h12v8h-5.277L7 18.234V16H4V8z"
                        ></path>
                        <path
                          d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"
                        ></path></svg
                    ></span>
                    <p class="m-0">
                      You can upload proof of payment and account info in the
                      chatbox to help both sides to verify the payment.
                    </p>
                  </div>
                  <div
                    class="msg-box d-flex align-items-center gap-3 mb-3 p-3 rounded-2"
                  >
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="
                          fill: var(--active-yellow);
                          transform: ;
                          msfilter: ;
                        "
                      >
                        <path
                          d="M20 12v-1.707c0-4.442-3.479-8.161-7.755-8.29-2.204-.051-4.251.736-5.816 2.256A7.933 7.933 0 0 0 4 10v2c-1.103 0-2 .897-2 2v4c0 1.103.897 2 2 2h2V10a5.95 5.95 0 0 1 1.821-4.306 5.977 5.977 0 0 1 4.363-1.691C15.392 4.099 18 6.921 18 10.293V20h2c1.103 0 2-.897 2-2v-4c0-1.103-.897-2-2-2z"
                        ></path>
                        <path d="M7 12h2v8H7zm8 0h2v8h-2z"></path></svg
                    ></span>
                    <p class="m-0">
                      If you cannot reach the buyer/seller, or reach an
                      agreement with the other user, please file an appeal
                    </p>
                  </div>
                  <div class="modal_text">
                    <label for="exampleFormControlTextarea1" class="form-label"
                      >Reason
                    </label>
                    <textarea
                      class="form-control shadow-none"
                      id="exampleFormControlTextarea1"
                      rows="3"
                      maxlength="250"
                      v-model="appeal_form.appeal_reason"
                    ></textarea>

                    <span
                      class="error-msg"
                      style="color: rgb(242, 48, 81); font-size: 12px"
                      v-if="v$.appeal_form.appeal_reason.$error"
                    >
                      {{ v$.appeal_form.appeal_reason.$errors[0].$message }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="modal-cancel rounded-2 py-2 px-3"
                  data-bs-dismiss="modal"
                >
                  cancel
                </button>
                <button type="submit" class="modal-confirm rounded-2 py-2 px-3">
                  appeal
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Appeal Modal -->

      <!-- Support Modal -->
      <div
        class="modal fade"
        id="SupportModal"
        data-bs-backdrop2="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdrop2Label"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdrop2Label">
                Confirm Support
              </h1>
              <button
                type="button"
                class="btn-close"
                id="close_support"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="modal-cancel rounded-2 py-2 px-3"
                data-bs-dismiss="modal"
                @click="cancel_appeal"
              >
                Cancel Appeal
              </button>
              <button
                type="button"
                class="modal-confirm rounded-2 py-2 px-3"
                @click="contact_to_support"
              >
                Contact to Support Team
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Support Modal -->
    </section>
    <!--order-detail-->
  </div>
</template>

<script>
import ChatBox from '../components/ChatBox.vue';
import P2PHeader from '../../P2P/components/P2PHeader.vue';
import ApiClass from '@/api/api.js';
import wsmsg from "@/P2P/assets/json/ws_msg.json"
import exactMath from "exact-math";
const config = {
  ePlus: Infinity,
  ePlus: Infinity,
  returnString: true,
};

import useVuelidate from "@vuelidate/core";
import { required,helpers} from "@vuelidate/validators";

export default {
    name: "SellDetailView",
    components: { ChatBox, P2PHeader },
    setup() {
        return {
            v$: useVuelidate(),
        };
    },
    data() {
        return {
            c_user_id:'',
            ChatBox: false,
            first: "active",
            second: "next",
            third: "next",
            hidden: false,
            hiddenOne: false,
            order_details:[],
            confirm_btn :false,
            current_tab :0,
            p_details :{},
            SendObject:{},
            buyer_confirmation:0,
            confirm_btn_load: false,
            user_details:[],
            ws_connection:{},
            appeal_time:'',
            ivl:'',
            appeal_btn:false,
             appeal_form:{
                appeal_reason:''
            },
            appeal_exp_time:'',
            contact_support: false,
            Appeal_data:{},
        };
    },

    //form validation
    validations() {
        return {
            appeal_form:{
                appeal_reason:{
                     required: helpers.withMessage("Please Enter Appeal reason", required),
                }
            }


        };
    },
    mounted(){
        let c_user = JSON.parse(localStorage.getItem("user"))
        this.c_user_id = c_user?.id
        this.getTradeDetails()

        let token = localStorage.getItem("token")
        if(token){
            this.connectWS(token)
        }
    },
    methods: {
        async getTradeDetails(){
            let t_res =  await ApiClass.getNodeRequest(`p2p/trade/get?trade_id=${this.$route.query.trade_id}`,true)
            // console.log({t_res});

            if(t_res.data.status_code == 1){
                this.order_details = t_res?.data?.data
                 //check Authentication
                if(this.order_details?.seller_user_id != this.c_user_id){
                    alert('UNAUTHENTICATED')
                    this.$router.push('p2p')
                    return

                }
                this.SendObject = {
                    receiver_id:  this.order_details?.buyer?.user_id,
                    trade_id: this.$route.query.trade_id,
                }
                this.user_details = this.order_details.buyer

                var type
                var time
                if(this.order_details.appeal_at != null && this.order_details.appeal_at != ''){
                    console.log('appeal_at not null')
                    var type  =  'appeal_time'
                    var time  =  this.order_details.appeal_at
                }

                if(this.order_details.Appeal_data.length > 0 && this.order_details.Appeal_data[0].status == 'opened'){
                        this.Appeal_data =  this.order_details.Appeal_data[0]
                        this.contact_support = true
                        var type  =  'appeal_exp'
                        var time  =  this.Appeal_data.expired_at
                }

                if(time != null && time !='' && time != undefined){
                    this.startTimer(time,type)  //call timer for appeal
                }

                // console.log('ddddddddddd',this.user_details)
                this.p_details = this.order_details?.seller?.seller_payment_detail[0]
                this.buyer_confirmation =    this.order_details.buyer_confirmation
                this.second = this.buyer_confirmation == 1? 'active': 'next'

                if(this.order_details.status != 'processing'){
                    // this.third = 'active'
                    this.$router.push(`orderstatus?trade_id=${this.$route.query.trade_id}`)
                }
            }
        },

        async connectWS(token){
            let $this = this
            let $document = document
            if(!token){
                this.ws_connection.close();
            }
            this.ws_connection = new WebSocket(ApiClass.nodeWebsocket, token);

            this.ws_connection.onopen = function (event) {
                console.log("socket connected for seller",event);
            }

             this.ws_connection.onmessage = function (event) {
                let parseEvent = JSON.parse(event.data);
                // console.log({'sell ka outside':parseEvent})
                //TIME_OUT
                if (parseEvent.type == wsmsg.TYPES_SOCKET.TIME_OUT) {
                    $this.$router.push(`orderstatus?trade_id=${$this.$route.query.trade_id}`)
                }

                //TRANSFERRED
                if(parseEvent.type == wsmsg.TYPES_SOCKET.TRANSFERRED) {
                    // console.log("transfer notified to seller");
                    $this.buyer_confirmation = 1

                    $this.second = "active";
                    $this.first = "prev";

                    //call trade api for updated appeal time
                    $this.getTradeDetails()
                    // console.log({aaa: $this.buyer_confirmation})
                    // $this.$router.push(`orderstatus?trade_id=${$this.$route.query.trade_id}`)
                }

                //PAYMENT_RECIEVE
                if (parseEvent.type == wsmsg.TYPES_SOCKET.PAYMENT_RECIEVE) {
                    // console.log("PAYMENT_RECIEVE here");
                     $this.confirm_btn_load = false;
                     $document.getElementById("pm_close").click()
                     $this.sleep(2000)
                     $this.$router.push(`orderstatus?trade_id=${$this.$route.query.trade_id}`)
                }

                //ORDER_CANCEL
                if (parseEvent.type == wsmsg.TYPES_SOCKET.ORDER_CANCEL) {
                    // console.log("Order cancelled buy buyer received in seller");
                    $this.$router.push(`orderstatus?trade_id=${$this.$route.query.trade_id}`)
                }

               //MESSAGE
                if (parseEvent.type == wsmsg.TYPES_SOCKET.MESSAGE) {
                    $this.$emitter.emit("MESSAGE",parseEvent);
                }

               //CANCEL_APPEAL
                if (parseEvent.type == wsmsg.TYPES_SOCKET.CANCEL_APPEAL) {
                     $this.clear()
                    $this.appeal_btn = false
                    $this.contact_support = false

                    $this.startTimer(parseEvent?.send?.appeal_at,'appeal_time')
                     $this.Appeal_data.status =parseEvent?.send?.status
                }

                //APPEALED Sucessfully
                if (parseEvent.type == wsmsg.TYPES_SOCKET.APPEAL) {
                    console.log('xxxxxxxxxxx', parseEvent)
                    $this.appeal_form.appeal_reason = ''
                    $document.getElementById("appeal_close_btn").click()
                    $this.v$.appeal_form.$reset()

                   
                       $this.contact_support = true
                       $this.Appeal_data = parseEvent
                       $this.startTimer($this.Appeal_data.expired_at,'appeal_exp')
                      if(parseEvent.status_code == 1){
                        $this.success(parseEvent.msg);
                      }
                    // else{
                    //     $this.failed(parseEvent.msg);
                    // }
                }

                //SUPPORT
                 if (parseEvent.type == wsmsg.TYPES_SOCKET.SUPPORT) {
                  console.log(parseEvent);
                  $this.$router.push(`orderstatus?trade_id=${$this.$route.query.trade_id}`)

                    if(parseEvent.status_code == 1){
                        $document.getElementById("close_support").click()
                    }
                }
             }
        },

        startTimer(val,type) {
            console.log('inside timer =====',val,type)
            val = new Date(parseFloat(val)).getTime();

            this.ivl = setInterval(() => {
                var timeGap = (val - new Date().getTime());

                // console.log({val,timeGap})
                var min = Math.floor((timeGap % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2,'0');
                var sec = Math.floor((timeGap % (1000 * 60)) / 1000).toString().padStart(2,'0');
                // console.log({min,sec})

                if(min < 0 && sec < 0){
                    min = '00'
                    sec = '00'
                }

               if(type == 'appeal_time'){
                   this.appeal_time =  `${min} : ${sec}`
               }else {
                this.appeal_exp_time  =  `${min} : ${sec}`
               }

                if (timeGap < 0) {

                    if(type == 'appeal_exp' && this.Appeal_data.appeal_user_id == this.order_details.seller_user_id){

                        document.getElementById("smbtn").click()
                    }else{
                        this.appeal_btn = true
                    }

                    this.clear()
                }

            }, 1000)

        },

        copy(a){
           var r = document.createRange();
            r.selectNode(document.getElementById(a));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            // window.getSelection().removeAllRanges();
        },

        contact_to_support(){
            let body = {
                "type":wsmsg.TYPES_SOCKET.SUPPORT,
                "user_id": this.order_details?.seller_user_id,
                "receiver_id": this.order_details?.buyer?.user_id,
                "trade_id": this.$route.query.trade_id,
                "appeal_id":this.Appeal_data.id
            }
            const json = JSON.stringify(body);
            this.ws_connection.send(json);
        },

        clear(){
            clearInterval(this.ivl);
            this.appeal_time = ''
        },
        async send_appeal(){
            const result = await this.v$.appeal_form.$validate()
            if (!result) {return}

            this.SendObject.type = wsmsg.TYPES_SOCKET.APPEAL
            this.SendObject.reason = this.appeal_form.appeal_reason
            this.SendObject.user_id = this.order_details?.seller_user_id
            this.SendObject.appeal_raisedBy = this.order_details?.seller_user_id

            const json = JSON.stringify(this.SendObject);
            this.ws_connection.send(json);
        },
        cancel_appeal(){
              clearInterval(this.ivl);
             let body = {
                "type":wsmsg.TYPES_SOCKET.CANCEL_APPEAL,
                "user_id":this.order_details?.seller_user_id,
                "receiver_id":this.order_details?.buyer?.user_id,
                "trade_id":this.$route.query.trade_id,
                "appeal_id": this.Appeal_data.id
            }

            const json = JSON.stringify(body);
            this.ws_connection.send(json);
        },
        split_email(data){
            if(data){
            let s = data.split("@")

            let a = s[0].slice(0,2)
            let b = s[1].slice(s[1].indexOf("."))

            return `${a}*****${b}`
            }

        },

        cal_amount() {
            if(this.order_details.quantity && this.order_details.at_price){
                return exactMath.mul(this.order_details.quantity, this.order_details.at_price, config);
            }

            return 0
        },

         chnage_slug(t) {
            let c
            if(t.includes("_")){
                c = t.replace("_", " ").toUpperCase();
            }else{
                c = t.toUpperCase();
            }
            return c;
        },

        nextStep() {
            // if (this.first == "active") {
            //     this.second = "active";
            //     this.first = "prev";
            // }
            // else {
                if (this.second == "active") {
                    this.third = "active";
                    this.second = "prev";
                    this.confirm_btn_load = true;

                    //PAYMENT_RECIEVE
                    this.SendObject.type = wsmsg.TYPES_SOCKET.PAYMENT_RECIEVE
                    const json = JSON.stringify(this.SendObject);
                    this.ws_connection.send(json)
                }
                else {
                    this.second = "prev";
                    this.third = "active";
                }
            // }
        },
        backStep() {
            if (this.third == "active") {
                this.second = "active";
                this.third = "next";
            }
            else {
                if (this.second == "active") {
                    this.first = "active";
                    this.second = "next";
                }
            }
        },
        closeChat(payload){
            this.ChatBox = payload
        }
    },

}
</script>

<style scoped>
/**============== ORDER CREATED INFO CSS START ==============**/
.order-created-info {
  padding: 25px 0;
  background-color: var(--filter-bg);
}

.order-info h3 {
  font-size: var(--fs-18);
  font-weight: 600;
  color: var(--black);
}

.order-info p {
  font-size: var(--fs-14);
  font-weight: 400;
  color: var(--black);
}

.order-number {
  text-align: end;
}

.order-number p {
  font-size: var(--fs-13);
  color: var(--grey);
  font-weight: 400;
}

.order-number p span {
  color: var(--black);
  font-weight: 500;
}

.notify-box {
  display: flex;
  align-items: center;
}

.notify_number {
  display: flex;
  align-items: center;
}

.notify_inner_box {
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;
}
.notify_inner_box:last-child {
  flex-basis: 0%;
}
.notify_inner_box.next:last-child {
  flex-basis: content;
}
.notify_inner_box.active .notify_number span {
  background: var(--active-yellow);
}
.notify_inner_box.prev .notify_number span {
  background: var(--active-yellow);
}
.notify_number span {
  min-width: 30px;
  height: 30px;
  background-color: var(--tab-border);
  border-radius: 22px;
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.notify_msg {
  background-color: var(--filter-bg);
}
.notify_msg p {
  font-size: var(--fs-13);
}

.notify-heading p {
  font-size: var(--fs-12);
  font-weight: 500;
  color: var(--black);
  margin: 0;
  padding-top: 5px;
}

.confirm-order-box .heading-box {
  margin-bottom: 15px;
}

.confirm-order-box .heading-box h3 {
  font-size: var(--fs-14);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
  margin: 0;
  padding-bottom: 5px;
}
.notify_inner_box.active .notify-heading p {
  text-decoration: underline;
}

.order-placed-box {
  position: relative;
}

.order-placed-box::before {
  content: "";
  position: absolute;
  border-left: 2px dotted #bec1c5;
  width: 5px;
  height: 87%;
  left: -24px;
}

.order-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-box p {
  font-size: var(--fs-15);
  font-weight: 400;
  color: var(--grey);
}

.main-box h3 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
}

.payment-author .heading-box h5 {
  font-size: var(--fs-15);
  font-weight: 500;
  color: var(--black);
}

.payment-author .heading-box h6 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--active-yellow);
}

.author_info_o .nav_btn .active {
  background-color: var(--payment-badge);
}
.author_info_o .nav_btn button {
  font-size: var(--fs-15);
  color: var(--black);
}
.author_info_o .border_right {
  border-right: 3px solid var(--market-border);
}
.author_info_o {
  border: 2px solid var(--market-border);
}
.author_info {
  display: flex;
  gap: 70px;
  border: 2px solid var(--market-border);
  border-radius: 5px;
  padding: 25px 25px;
  position: relative;
}

.author_info::before {
  position: absolute;
  content: "";
  background-color: var(--market-border);
  width: 3px;
  height: 100%;
  top: 0;
  left: 202px;
}

.payment-type span {
  border-radius: 2px;
  font-size: var(--fs-14);
  padding: 4px;
  display: inline-block;
  background-color: var(--payment-badge);
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
}

.author_box p {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--grey);
}

.author_box h6 {
  font-size: var(--fs-13);
  color: var(--black);
  font-weight: 500;
}

.transfer-button .heading-box span {
  font-size: var(--fs-15);
  font-weight: 500;
  color: var(--black);
}

button#seller-btn {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
  font-size: var(--fs-13);
  text-transform: capitalize;
  color: var(--black);
  font-weight: 500;
}

button#cancel {
  margin-left: 12px;
  background: transparent;
  border: navajowhite;
  color: var(--light-yellow);
  text-transform: capitalize;
  font-weight: 500;
  font-size: var(--fs-14);
}

.heading-box {
  position: relative;
}

.heading-box::before {
  content: "";
  position: absolute;
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border: 2px solid var(--light-yellow);
  border-radius: 5px;
  left: -28px;
}

.transfer-button .heading-box::before {
  bottom: 6px;
}

.payment-author .heading-box::before {
  bottom: 20px;
}

button#appeal-btn {
  background: transparent;
  border: navajowhite;
  color: var(--light-yellow);
  text-transform: capitalize;
  font-weight: 500;
  font-size: var(--fs-14);
}

.notify_inner_box.prev .notify_number hr {
  border: 1px solid var(--active-yellow) !important;
}

/**============== ORDER CREATED INFO CSS FINISH ==============**/

/**============== MODAL CSS START ==============**/
.modal-title {
  font-size: var(--fs-18);
  text-transform: capitalize;
}

.tips-box {
  background-color: var(--filter-bg);
}

.tips-info h6 {
  color: var(--black);
}

.tips-info ul li {
  list-style: none;
  font-size: var(--fs-12);
  color: var(--black);
}

.tips-info ul li span {
  color: var(--active-yellow);
}

.why-cancel h6 {
  color: var(--black);
}

.why-cancel ul li {
  list-style: none;
  font-size: var(--fs-13);
  color: var(--black);
}

.form-check-input:checked {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
}

.form-floating .form-control:focus {
  box-shadow: none;
  border-color: var(--active-yellow);
}

.form-floating label {
  font-size: var(--fs-14);
  color: var(--black);
}

.modal-cancel {
  background-color: var(--filter-bg);
  color: var(--black);
  font-size: var(--fs-15);
  border: 1px solid var(--filter-bg);
  font-weight: 600;
}

.modal-confirm {
  background-color: var(--active-yellow);
  color: var(--white);
  font-size: var(--fs-15);
  border: 1px solid var(--active-yellow);
  font-weight: 600;
}

.modal-confirm:hover {
  background-color: transparent;
  color: var(--active-yellow);
  border: 1px solid var(--active-yellow);
}
.payment-line {
  box-sizing: border-box;
  margin: 0px 4px 0px -4px;
  min-width: 0px;
  width: 4px;
  height: 14px;
  border-radius: 2px;
  background-color: rgb(240, 185, 11) !important;
}

/**============== MODAL CSS FINISH ==============**/
/* Payment modal css */
.modal-title {
  font-size: var(--fs-18);
}

.payment-box {
  background-color: var(--filter-bg);
}

.google-pay h6 {
  font-size: var(--fs-14);
  color: var(--black);
}

.person-info p {
  font-size: var(--fs-14);
  color: var(--grey);
}

.person-info span {
  font-size: var(--fs-14);
  color: var(--black);
  text-transform: uppercase;
}
/* Payment modal css */

/* Payment received modal css */
.edit_icon {
  width: 70px;
  height: 70px;
  background: var(--icon-bg);
}
.edit_icon img {
  width: 55px;
  height: 55px;
}
.tips-info {
  background: var(--filter-bg);
}

.tips-info h6 {
  color: var(--black);
}

.tips-info ul li {
  list-style: none;
  font-size: var(--fs-14);
  color: var(--black);
}

.payment-info ul li {
  list-style: none;
}
.payment-info .form-check-input:checked {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
}
.payment-info .form-check label {
  font-size: var(--fs-14);
  color: var(--black);
}

/* Appeal Modal css */
.transaction-btn {
  color: var(--active-yellow);
  font-size: var(--fs-14);
  border: 1px solid transparent;
  background: transparent;
}

.before-appealing p {
  text-transform: capitalize;
  font-size: var(--fs-13);
}

.msg-box {
  border: 1px solid var(--tab-border);
}
.modal_text label {
  font-size: var(--fs-13);
}
.modal_text textarea {
  border: 1px solid var(--tab-border);
  font-size: var(--fs-13);
}
.modal_text .form-control:focus {
  border-color: var(--tab-border);
}

#AppealModal .modal-cancel {
  background-color: var(--filter-bg);
  color: var(--black);
  font-size: var(--fs-15);
  border: 1px solid var(--filter-bg);
  text-transform: capitalize;
  font-weight: 400;
}

#AppealModal .modal-confirm {
  background-color: var(--active-yellow);
  color: var(--white);
  font-size: var(--fs-15);
  border: 1px solid var(--active-yellow);
  text-transform: capitalize;
  font-weight: 400;
}

/* Appeal Modal css */

/* Media query css  */
@media all and (min-width: 992px) and (max-width: 1200px) {
  .order-info p {
    font-size: var(--fs-13);
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .notify-box {
    align-items: start;
  }
}
@media all and (min-width: 320px) and (max-width: 576px) {
  .notify_inner_box {
    flex: 1 0 40%;
  }
  .author_info {
    padding: 10px;
    justify-content: space-between;
    gap: 10px;
  }
  .author_info:before {
    left: 165px;
  }
  .payment-type span {
    font-size: 11px;
  }
}
/* Media query css  */
</style>
