<template>
  <!-- chat main div  -->
  <div class="chat-main-box rounded-3 ">
    <!-- user details div -->
    <div class="user-details position-relative d-flex p-3">
      <div class="user-logo px-1">
        <div class="chat-logo-circle rounded-circle d-flex justify-content-center align-items-center">
          {{ (OtherUserDetail?.user?.name)?.slice(0, 1) }}
        </div>
      </div>
      <div class="user-data px-1">
        <h6 class="user-name m-0">{{ OtherUserDetail?.user?.name }}</h6>
        <p class="user-verified m-0">Verified User  </p>
        <div class="user-trade d-flex gap-5 mt-2">
          <!-- <div class="no-trade">
            <p class="m-0 text-grey text-nowrap">30d Trades</p>
            <p class="m-0">0</p>
          </div>
          <div class="no-rate">
            <p class="m-0 text-grey text-nowrap">30d Completion Rate</p>
            <p class="m-0">0%</p>
          </div> -->
        </div>
      </div>
      <div class="close-btn position-absolute d-lg-none">
        <button class="border-0 bg-transparent" @click="$emit('closeChatBox', false)"><img src="../assets/svg/close.svg"
            alt="close"></button>
      </div>
    </div>
    <!-- chat box -->
    <div class="chat-box  p-3">
      <div class="date-time text-grey d-flex justify-content-center gap-2 p-2">
        <span> {{ new Date(chatData?.created_at).toLocaleString() }}</span>

      </div>
      <!-- chat sender msg-box -->
      <div v-for="(v, index) in msg_data" :key="index">
        <div v-if="v.sender_id == UserId" class="your-msg d-flex w-75 justify-content-end ms-auto">
          <div v-if="v?.msg && v?.file">
            <p class="position-relative p-2 rounded-3 text-wrap"> {{ v?.msg }} &nbsp; &nbsp; &nbsp;</p>
            <img :src="(v.file)" height="50" />
          </div>
          <div v-if="v?.msg && !v.file">
            <p class="position-relative p-2 rounded-3 text-wrap"> {{ v?.msg }} &nbsp; &nbsp; &nbsp;</p>
          </div>
          <div v-if="v?.file && !v.msg">
            <img :src="(v.file)" height="50" />
          </div>
        </div>


        <div v-else class="sender-msg d-flex w-75 ">
          <span class="user-chat-circle rounded-circle d-flex justify-content-center align-items-center me-2">{{
            (OtherUserDetail?.user?.name)?.slice(0, 1) }}</span>
          <div v-if="v?.msg && v?.file">
            <p class="position-relative p-2 rounded-3 text-wrap"> {{ v?.msg }} &nbsp; &nbsp; &nbsp;</p>
            <img :src="v?.file" height="50" />
          </div>
          <div v-if="v?.msg && !v.file">
            <p class="position-relative p-2 rounded-3 text-wrap"> {{ v?.msg }} &nbsp; &nbsp; &nbsp;</p>
          </div>
          <div v-if="v?.file && !v?.msg">
            <img :src="v?.file" height="50" />
          </div>

        </div>
      </div>


    </div>
    <form v-if="page != 'final'" action="" @submit.prevent="sendMsg">
      <div class="typing-box border-top px-3 d-flex align-items-center">
        <textarea class="w-100 input-typing border-0 py-1 px-2" rows="1" placeholder="write a message..." v-model="msg"
          type="text"></textarea>
        <!-- <input @dragover="handleDragOver" id="getFile" type="file" hidden> -->
        <ChooseImage v-model="setPic" />
        <!-- <button @click="getFileBtn" class="file-btn border-0 bg-transparent">
        <svg class="file-btn-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          style="fill:#AEB4BC;  transition: all 0.3s ease;">
          <path
            d="M13.71 3.892a2.434 2.434 0 012.433 2.434v11.666a4.101 4.101 0 01-8.202 0V6.326h-1.8v11.666a5.901 5.901 0 0011.802 0V6.326a4.234 4.234 0 00-8.468 0v11.666a2.567 2.567 0 005.134 0V6.326h-1.8v11.666a.767.767 0 01-1.534 0V6.326a2.434 2.434 0 012.434-2.434z">
          </path>
        </svg>
      </button> -->

        <button class="send-btn border-0 bg-transparent" type="submit">
          <svg class="send-btn-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            style="fill:#AEB4BC;  transition: all 0.3s ease;">
            <path
              d="m21.426 11.095-17-8A1 1 0 0 0 3.03 4.242l1.212 4.849L12 12l-7.758 2.909-1.212 4.849a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81z">
            </path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import ApiClass from '../../api/api'
import wsmsg from "@/P2P/assets/json/ws_msg.json"
import ChooseImage from './ChooseImage.vue'

export default {
  name: "ChatBox",

  data() {
    return {
      msg_data: [],
      trade_id: '',
      m_dat: {},
      setPic: {},
      SendObject: {},
      msg: '',
      connection: {},
      final_url: ApiClass.nodeUrl.concat('p2p/image/chatImages/')
    }
  },
  components: {
    ChooseImage
  },

  emits: ['closeChatBox'], // Declare closeChatBox as an emitted event

  props: {
    type: String,
    closeChatBox: Boolean,
    chatData: Object,
    OtherUserDetail: Object,
    UserId: String,
    socket: Object,
    page: String
  },


  async mounted() {
    this.trade_id = this.$route.query.trade_id
    this.getMsg();

    //listening event
    await this.sleep(1000)
    this.$emitter.on("MESSAGE", this.handleEvent);
  },

  watch: {
    chatData: {
      deep: true,
      handler(v) {
        this.SendObject = {
          receiver_id: this.type == "sell" ? v?.buyer?.user_id : v?.seller?.user_id,
          user_id: this.type == "sell" ? v?.seller?.user_id : v?.buyer?.user_id,
          trade_id: this.trade_id,
        }
      },
    },
  },

  methods: {
    async getMsg() {
      let response = await ApiClass.getNodeRequest(`P2P/Msg/get?trade_id=${this.trade_id}`, true);
      if (response?.data?.status_code == "1") {
        this.msg_data = response?.data?.data
      }
    },
    async image_uploading() {

    },

    handleEvent(data) {
      this.m_dat = {
        msg: data.msg,
        sender_id: data.sender_id,
        file:data.file
      }
      this.msg_data.push(this.m_dat)
    },

    async sendMsg() {
      this.SendObject.type = wsmsg.TYPES_SOCKET.MESSAGE
      this.SendObject.msg = this.msg

      this.m_dat = {
        msg: this.msg,
        sender_id: this.type == 'sell' ? this.chatData?.seller?.user_id : this.chatData?.buyer?.user_id,
      }


      if (this.setPic) {
        var formData = new FormData();
        formData.append("file", this.setPic);
        let res = await ApiClass.postNodeRequest('p2p/order/upload_image', true, formData);
        if (res.data.status_code == '1') {
          this.m_dat["file"] = res?.data?.data
          this.SendObject.file = res?.data?.data    
         document.getElementById('setwithimage').src='/src/images.jfif'
        }

      }
      if(this.SendObject.file || this.msg){

        const json = JSON.stringify(this.SendObject);
        this.socket.send(json) 
        this.SendObject.file=''
        this.SendObject.msg=''
this.setPic={}
  
        this.msg_data.push(this.m_dat) 
        this.msg = ''
      }
    },

    getFileBtn() {
      document.getElementById('getFile').click()
    }

  }

}
</script>

<style scoped>
.chat-main-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-size: var(--fs-12);
  min-height: 608px;
  background-color: var(--white);
}

/* user-details style */
.user-details {
  background-color: var(--filter-bg);
}

.close-btn {
  right: 8px;
}

.user-logo .chat-logo-circle {
  width: 30px;
  height: 30px;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--fs-18);
}

.user-verified {
  font-weight: 500;
}

.report-user {
  color: var(--light-yellow);
}

.no-trade,
.no-rate {
  font-weight: 500;
}

/* chat-box style */

.chat-box {
  min-height: 440px;
  max-height: 440px;
  overflow: auto;
  background-color: var(--white);
}

.date-time {
  font-weight: 500;
}

.sender-msg p,
.your-msg p {

  font-size: var(--fs-13);
  font-weight: 500;
  word-break: break-word;
}

.sender-msg p {
  background-color: var(--filter-bg);
}

.your-msg p {
  background-color: var(--badge-yellow);
}

.your-msg span {
  right: 7px;
  bottom: 7px;
}

.user-chat-circle {
  min-width: 22px;
  min-height: 22px;
  max-width: 22px;
  max-height: 22px;
  background-color: var(--black);
  color: var(--white);
}

/* typing box style */
.input-typing::placeholder {
  color: var(--badge-border);
  font-weight: 500;
}

.input-typing:focus-visible {
  outline: unset;

}

.input-typing {
  color: var(--black);
  font-weight: 500;
  resize: none;
  white-space: nowrap;

}

.send-btn:hover .send-btn-svg {
  fill: var(--grey) !important;
}

.file-btn:hover .file-btn-svg {
  fill: var(--grey) !important;
}
.input-typing::-webkit-scrollbar {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--badge-border);
  border-radius: 10px;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .chat-box {

    min-height: calc(100vh - 163px);
    max-height: calc(100vh - 163px);
  }

  .chat-main-box {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  .sender-msg img,
  .your-msg img {
    max-width: 350px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .chat-box {

    min-height: calc(100vh - 163px);
    max-height: calc(100vh - 163px);
  }

  .chat-main-box {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .sender-msg img,
  .your-msg img {
    max-width: 250px;
  }
}
</style>