<template>
    <div class="base-image-input justify-content-end"  @click="chooseImage">
        <!-- <span v-if="!imageData" class="placeholder">
        Choose an Image
    </span> -->
        <span>
            <img :src="imageData ? imageData : `/public/images.jfif`" alt="img" height="30" width="30" id="setwithimage" />
        </span>
        <input class="file-input" ref="fileInput" type="file" accept="image/*" @input="onSelectFile" id="khali">
    </div>
</template>

<script> 
export default {
    name: 'BaseInput',

    data() {
        return {
            imageData: null
        }
    },

    props: ['modelvalue'],

    methods: {
        chooseImage() {
            this.$refs.fileInput.click()
        },

        onSelectFile() {

            const inputt = this.$refs.fileInput
            const files = inputt.files
            // console.log(files);
            if (files.length == 0) {
                this.imageData = null;
                this.$emit("update:modelValue", this.imageData)
            }
            if (files && files[0]) {
                const reader = new FileReader
                reader.onload = e => {
                    this.imageData = e.target.result
                    // console.log(this.imageData);
                }
                reader.readAsDataURL(files[0])
                this.$emit("update:modelValue", files[0])

            }
        }
    }
}
</script>

<style scoped>
.base-image-input {
    display: flex;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    align-items:center;
}

.placeholder {
    background: var(--bit-light);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--just-bit-black);
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}



.file-input {
    display: none;
}
</style>
