<template>
    <div>
        <section class="p2p-nav p-2">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p2p-info d-flex justify-content-between align-items-center">
                            <div class="header_links_box d-flex align-items-center">
                                <Router-link to="/p2p" class="text-decoration-none heading_link mx-2">P2P</Router-link>
                                <Router-link to="" class="text-decoration-none heading_link mx-2">Order
                                    Detail</Router-link>
                                <!-- <Router-link to="/orderstatus" class="text-decoration-none heading_link mx-2">Order
                                    Status</Router-link> -->
                                <!-- <Router-link to="/advertiser-details"
                                    class="text-decoration-none heading_link mx-2">advertiser details</Router-link> -->
                            </div>

                            <div class="d-flex gap-2 align-items-center">
                                <div class="order-box">
                                    <button type="button" v-on:mouseover="mouseover" @click="$router.push('/orders')"
                                        class="btn order_btn d-flex align-items-center gap-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                            style="fill: #fff ;transform: ;msFilter:;">
                                            <path
                                                d="M19.903 8.586a.997.997 0 0 0-.196-.293l-6-6a.997.997 0 0 0-.293-.196c-.03-.014-.062-.022-.094-.033a.991.991 0 0 0-.259-.051C13.04 2.011 13.021 2 13 2H6c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V9c0-.021-.011-.04-.013-.062a.952.952 0 0 0-.051-.259c-.01-.032-.019-.063-.033-.093zM16.586 8H14V5.414L16.586 8zM6 20V4h6v5a1 1 0 0 0 1 1h5l.002 10H6z">
                                            </path>
                                            <path d="M8 12h8v2H8zm0 4h8v2H8zm0-8h2v2H8z"></path>
                                        </svg>orders
                                        <!-- <div class="order-info px-0" v-show="isOpen" v-on:mouseleave="mouseleave">
                                            <div class="order_header d-flex align-items-center justify-content-between p-3">
                                                <p class="mb-0">Processing</p>
                                                <Router-link to="/orders" class="view_link text-decoration-none">View
                                                    All</Router-link>
                                            </div>
                                            <div class="first-sell-usdt p-3 my-2" v-for="(data, index) in ProcessListData"
                                                :key="index">
                                                <div class="d-flex justify-content-between mb-2">
                                                    <p class="m-0 sell"><span class="text-danger">{{ data.BuySell }}</span>
                                                        {{
                                                            data.CryptoType }}</p>
                                                    <Router-link v-bind:to="data.ProcesLinks" class="payment">{{
                                                        data.LinkText
                                                    }}
                                                        <span> {{ data.StatusData }}<svg xmlns="http://www.w3.org/2000/svg"
                                                                width="24" height="24" viewBox="0 0 24 24"
                                                                style="fill: #76808F;transform: ;msFilter:;">
                                                                <path
                                                                    d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z">
                                                                </path>
                                                            </svg></span></Router-link>
                                                </div>
                                                <div class="price d-flex justify-content-between mb-2">
                                                    <p class="m-0 "> {{ data.PriceText }}<span class="fs_text">{{
                                                        data.PriceData
                                                    }}</span></p>
                                                    <label>{{ data.DateData }}</label>
                                                </div>
                                                <div class="price text_color d-flex justify-content-between mb-2">
                                                    <p class="m-0 ">{{ data.CryptoText }} <span class="fs_text"> {{
                                                        data.AmountType }}</span></p>
                                                    <label>{{ data.CryptoAmount }}</label>
                                                </div>
                                                <div class="price d-flex justify-content-between mb-2">
                                                    <p class="m-0 "><span class="me-1"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                viewBox="0 0 24 24"
                                                                style="fill: #F0B90B;transform: ;msFilter:;">
                                                                <path
                                                                    d="m20.43 5.76-8-3.56a1 1 0 0 0-.82 0l-8 3.56a1 1 0 0 0-.59.9c0 2.37.44 10.8 8.51 15.11a1 1 0 0 0 1 0c8-4.3 8.58-12.71 8.57-15.1a1 1 0 0 0-.67-.91zm-4.43 7h-3v3h-2v-3H8v-2h3v-3h2v3h3z">
                                                                </path>
                                                            </svg></span>{{ data.GamilData }}</p>
                                                    <label><span class="me-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                                viewBox="0 0 24 24"
                                                                style="fill: #F0B90B;transform: ;msFilter:;">
                                                                <path
                                                                    d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm3.293 14.707L11 12.414V6h2v5.586l3.707 3.707-1.414 1.414z">
                                                                </path>
                                                            </svg></span>{{ data.TimerData }}</label>
                                                </div>
                                            </div>

                                        </div> -->
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn text-light border-0 dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 24 24" style="fill:#fff ;transform: ;msFilter:;">
                                                <path d="M10 10h4v4h-4zm0-6h4v4h-4zm0 12h4v4h-4z"></path>
                                            </svg></span> More
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><Router-link class="dropdown-item" to="/postnormal"><span><svg
                                                        class="dropdown_icon" xmlns="http://www.w3.org/2000/svg" width="20"
                                                        height="20" viewBox="0 0 24 24" style="transform: ;msFilter:;">
                                                        <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                                                    </svg></span> Post New ad</Router-link></li>
                                        <li><Router-link class="dropdown-item" to="/myads"><span><svg class="dropdown_icon"
                                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                        viewBox="0 0 24 24" style="transform: ;msFilter:;">
                                                        <path
                                                            d="M18 2H6c-1.103 0-2 .897-2 2v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4c0-1.103-.897-2-2-2zm0 18H6V4h12v16z">
                                                        </path>
                                                        <path
                                                            d="M8 6h3v2H8zm5 0h3v2h-3zm-5 4h3v2H8zm5 .031h3V12h-3zM8 14h3v2H8zm5 0h3v2h-3z">
                                                        </path>
                                                    </svg></span> My ads</Router-link></li>
                                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                                data-bs-target="#logoutModal"><span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" style="transform: ;msFilter:;"
                                                        height="20" viewBox="0 -960 960 960" width="20">
                                                        <path
                                                            d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h291v60H180v600h291v60H180Zm486-185-43-43 102-102H375v-60h348L621-612l43-43 176 176-174 174Z" />
                                                    </svg>
                                                </span>Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- //////////////////////////////////////////////////////////// -->

                    <div class="modal fade common-modal" id="logoutModal" tabIndex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content logout-modal">
                                <div class="close-btn-box">
                                    <button type="button" class="btn shadow-none" id="closeModal" data-bs-dismiss="modal"
                                        aria-label="Close" v-html="close_btn"></button>
                                </div>

                                <div class="modal-body text-center">
                                    <div class="mb-2" v-html="question_svg"></div>
                                    <h5 class="fw-bolder"> Please Confirm...</h5>
                                    <p class="">Please Confirm you want to logout ?</p>

                                </div>

                                <div class="row justify-content-center p-3 mb-3">
                                    <template v-if="loading">
                                        <div>
                                            <div class="col mb-sm-0">
                                                <div class="export-btn">
                                                    <button class="btn blue-ex-btn w-100" type="button" disabled>
                                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                                            aria-hidden="true"></span>
                                                        Loading...</button>
                                                </div>
                                            </div>

                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="col-6 mb-sm-0">
                                            <div class="export-btn">
                                                <button class="btn blue-ex-btn w-100" type="submit"
                                                    style="font-size: 14px ; font-weight: bold" @click="ClearData">Logout
                                                    from this device</button>
                                            </div>
                                        </div>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</template>

<script>
import ProcessListDatajson from '../../P2P/assets/json/ProcessListData.json';
import ApiClass from '../../api/api';
export default {
    name: 'P2pView',
    data() {
        return {
            ProcessListData: ProcessListDatajson.ProcessListData,
            // showByIndex: null
            isOpen: false,
            loading: false
        }
    },

    methods: {
        mouseover: function () {
            this.isOpen = true;
        },
        mouseleave: function () {
            this.isOpen = false;
        },

        async ClearData() {
            this.loading = true
            const response = await ApiClass.deleteNodeRequest("user/logout", true);
            if (response === undefined) {
                this.loading = false
                return;
            }

            if (response?.data?.status_code == 0) {
                this.loading = false
                return;
            }

            if (response?.data?.status_code == 1) {
                this.loading = false
                localStorage.removeItem("token");
                localStorage.removeItem("user");
                this.$router.push({ path: '/' })
                document.getElementById('closeModal').click();
                return;
            }
        }

    }
}

</script>

<style scoped>
.common-modal .modal-dialog .modal-content{
    background-color: var(--white);
}
.common-modal .modal-dialog .modal-content .modal-title{
    color: var(--white);
}
.blue-ex-btn{
    background-color: var(--active-yellow);
}
.p2p-nav {
    background-color: var(--black);
}

.p2p-info .heading_link {
    font-size: var(--fs-14);
    color: var(--white);
    text-transform: capitalize;
}

.p2p-info .btn {
    color: var(--white);
    font-size: var(--fs-14);
    border-color: var(--black);
}

.order-info {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 350px;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    background-color: var(--white);
    z-index: 1;
    /* display: none; */
    transform: translateY(45px);
}

.p2p-info .order_btn:hover .order-info {
    display: block;
}

.order_header {
    border-bottom: 1px solid var(--bs-border-color);
}

.text_color label {
    color: var(--black) !important;
}

.order_header p {
    font-size: var(--fs-14);
    color: var(--black);
}

.first-sell-usdt:hover {
    background-color: var(--filter-bg);
}

.first-sell-usdt .sell {
    font-size: var(--fs-14);
    color: var(--black);
    font-weight: 600;
    text-transform: uppercase;
}

.first-sell-usdt .payment,
.order_header .view_link {
    font-size: var(--fs-13);
    color: var(--active-yellow);
}

.price p {
    font-size: var(--fs-13);
    color: var(--black);
    text-transform: capitalize;
}

.price .fs_text {
    font-size: var(--fs-15);
}

.price label {
    font-size: var(--fs-13);
    color: var(--grey);
    text-transform: capitalize;
}

.dropdown-menu {
    background-color: var(--black);

}

.dropdown-item {
    color: var(--white);
    font-size: var(--fs-14);
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--black);
    background-color: var(--filter-bg);
}

.dropdown-item span {
    fill: var(--white);
}

.dropdown-menu .dropdown-item:hover .dropdown_icon {
    fill: var(--black) !important;
}
</style>