<template>
  <div>
    <!-- selectedCurrency:{{sel_curr}}
    with_Currency:{{sel_w_curr}} -->

    <!-- order_side:{{ order_side }} c_loading:{{ c_loading }} MarketData.length:{{MarketData.length}} -->

    <div class="p2p_buysell">
      <div class="p2p_heading">
        <div class="heading_box" id="advertiser">
          <h3>Advertiser (Completion rate)</h3>
        </div>
        <!--advertiser-->

        <div class="heading_box" id="price">
          <h3>
            Price
            <span>{{
              order_side == "buy" ? "lowest to highest" : "highest to lowest"
            }}</span>
          </h3>
        </div>
        <!--price-->

        <div class="heading_box" id="limit">
          <h3>Limit/Available</h3>
        </div>
        <!--limit-->

        <div class="heading_box" id="payment">
          <h3>payment</h3>
        </div>
        <!--payment-->

        <div class="heading_box" id="trade">
          <h3>trade <span>0 Fee</span></h3>
        </div>
        <!--trade-->
      </div>
    </div>
    <!--p2p_buysell-->
    <!-- MarketData:{{MarketData}} -->

    <div class="market-box" v-if="MarketData.length != 0 && !c_loading">
      <div
        class="market-inner-box"
        v-for="(market, index) in MarketData"
        :key="index"
      >
        <div
          class="market_inner_card"
          v-if="!(collapsed && sel_index == index)"
        >
          <div class="market_box" id="advertiser">
            <div class="auther_name_icon">
              <div class="auther_name_letter">
                <span>{{ market?.user?.name?.substring(0, 1) }}</span>
              </div>
              <!--uther_name_letter-->

              <div class="author_name">
                <span>{{ market?.user?.name }}</span>
              </div>
              <!--author_name-->
            </div>
            <!--"auther_name_icon-->

            <div class="total_orders">
              <div class="order_count">
                <span>47 orders</span>
              </div>

              <div class="order_complete">
                <span>97.40% completion</span>
              </div>
            </div>
            <!--total_orders-->
          </div>
          <!--market_box advertiser-->

          <div class="market-box" id="price">
            <div class="price_box">
              <span>{{ market.at_price }} {{ market.with_currency }} </span>
            </div>
            <!--price-box-->
          </div>
          <!--market-box price-->

          <div class="market-box" id="limit">
            <div class="limit-box">
              <h3 class="mb-0">
                <span>Available</span> {{ parseFloat(market.available_qty) }}
                {{ market.currency }}
              </h3>
              <h4>
                <span>Limit</span> {{ symbol }}
                {{  parseFloat(market.search_min_qty) }} - {{ symbol }}
                {{  parseFloat(market.search_max_qty) }}
              </h4>
            </div>
            <!--limit-box-->
          </div>
          <!--market-box limit-->

          <div class="market-box" id="payment">
            <div
              class="payment-box me-2 mb-2"
              v-for="(p_t, i) in market.payment_type"
              :key="i"
              @click="$emit('setPayment', p_t)"
            >
              <span :style="getPaymentColor()">
                {{ chnage_slug(p_t) }}
              </span>
            </div>
          </div>
          <!--market-box payment-->

          <div class="market-box" id="trade">
            <div class="trade-btn">
              <button
                @click="open_form(market, index)"
                class="btn btn-primary"
                :style="
                  order_side == 'buy'
                    ? 'background-color:var(--active-green); border-color: var(--active-green);'
                    : 'background-color:var(--active-red); border-color: var(--active-red);'
                "
              >
                {{ order_side == "buy" ? "Buy" : "Sell" }} {{ market.currency }}
              </button>
            </div>
          </div>
        </div>
        <!--market_inner_card-->

        <div class="market_full_box" v-show="!hidden && sel_index == index">
          <div class="author_info">
            <div class="row author_row">
              <div class="col-md-7">
                <div class="full_author_name">
                  <div class="author_box">
                    <div class="author_name_letter">
                      <span>{{ market?.user?.name?.substring(0, 1) }}</span>
                    </div>

                    <h3 class="mb-0">{{ market?.user?.name }}</h3>
                  </div>
                  <!--author_box-->

                  <div class="author_order">
                    <div class="author_total_order">
                      <span>47 orders</span>
                    </div>
                    <!--author_total_order-->
                    <div class="author_order_complete">
                      <span>97.40% completion</span>
                    </div>
                    <!--author_order_complete-->
                  </div>
                  <!--author_order-->
                </div>
                <!--full_author_name-->

                <div class="row inner-price-row mt-4">
                  <div class="col-md-6 mb-4">
                    <div class="price-box">
                      <h3 class="mb-0">
                        <span>Price</span> {{ market.at_price }}
                        {{ market.with_currency }}
                      </h3>
                    </div>
                  </div>
                  <!--col-md-6-->

                  <div class="col-md-6 mb-4">
                    <div class="avaliable-box">
                      <h3 class="mb-0">
                        <span>Available</span>
                        {{ parseFloat(market.available_qty) }}
                        {{ market.currency }}
                      </h3>
                    </div>
                  </div>
                  <!--col-md-6-->
                  <div class="col-md-6">
                    <div class="avaliable-box" id="time_limit">
                      <h3 class="mb-0">
                        <span>Payment Time Limit</span>
                        15 Minutes
                      </h3>
                    </div>
                  </div>
                  <!--col-md-6-->

                  <div class="col-md-6">
                    <div class="avaliable-box" id="upi_payment">
                      <h3 class="mb-0">
                        <span>Seller's payment method</span>
                        <span
                          class="upi-box"
                          v-for="(p_t, i) in market.payment_type"
                          :key="i"
                          @click="$emit('setPayment', p_t)"
                        >
                          <span class="ms-0" :style="getPaymentColor()">{{
                            chnage_slug(p_t)
                          }}</span>
                        </span>
                      </h3>
                    </div>
                  </div>
                  <!--col-md-6-->
                </div>
                <!--row inner-price-row mt-4-->

                <div
                  class="row terms_condition_row mt-4"
                  v-if="market.terms_and_conditions"
                >
                  <div class="col-md-12">
                    <div class="terms_heading">
                      <p>Terms and conditions</p>
                    </div>
                    <ul class="terms_list">
                      <li>
                        <p>{{ market.terms_and_conditions }}</p>
                      </li>
                    </ul>
                  </div>
                  <!--col-md-12-->
                </div>
                <!--row terms_condition_row-->
              </div>
              <!--col-md-7-->

              <div class="col-md-5">
                <div class="buysell_form">
                  <form class="row from_row" @submit.prevent="place_order()">
                    <div v-if="order_side == 'buy'">
                      <div class="col-md-12 mb-3">
                        <div class="label mb-2">
                          <label>I want to pay</label>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control border-end-0"
                            v-model="want_pay"
                            :placeholder="`${parseFloat(market.search_min_qty)}-${parseFloat(market.search_max_qty)}`"
                            @keypress="
                              onHandleKeyPress($event, sel_w_curr.decimal)
                            "
                            @keyup="
                              onHandleKeyUp($event, sel_w_curr.decimal),
                                changeRecieve(market.at_price, sel_curr.decimal)
                            "
                            @keydown="
                              onHandleKeyDown($event, sel_w_curr.decimal)
                            "
                            onpaste="return false"
                            @dragover="handleDragOver"
                            aria-label="Username"
                            aria-describedby="basic-addon1"
                          />
                          <span
                            class="input-group-text border-start-0"
                            id="basic-addon1"
                          >
                            <button
                              type="button"
                              class="btn"
                              @click="
                                all_receive_set(
                                  market.available_qty,
                                  sel_curr.decimal
                                )
                              "
                            >
                              All
                            </button>
                          </span>
                          <span
                            class="input-group-text border-start-0"
                            id="basic-addon2"
                            >{{ market.with_currency }}</span
                          >
                        </div>
                        <div v-if="v$.want_pay.$errors">
                          <div class="error-msg">
                            {{ v$.want_pay.$errors[0]?.$message }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 mb-3">
                        <div class="label mb-2">
                          <label>I will receive</label>
                        </div>

                        <div class="input-group"> 
                          <input
                            type="text"
                            class="form-control border-end-0"
                            placeholder="0.00"
                            aria-label="Username"
                            @keypress="
                              onHandleKeyPress($event, sel_curr.decimal)
                            "
                            @keyup="
                              onHandleKeyUp($event, sel_curr.decimal),
                                changePay(market.at_price, sel_w_curr.decimal)
                            "
                            @keydown="onHandleKeyDown($event, sel_curr.decimal)"
                            onpaste="return false"
                            @dragover="handleDragOver"
                            aria-describedby="basic-addon1"
                            v-model="will_receive"
                          />
                          <span
                            class="input-group-text border-start-0"
                            id="basic-addon2"
                            >{{ market.currency }}</span
                          >
                        </div>
                        <div v-if="v$.will_receive.$errors">
                          <div class="error-msg">
                            {{ v$.will_receive.$errors[0]?.$message }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div v-else>
                      <div class="col-md-12 mb-3">
                        <div class="label mb-2">
                          <label>I want to sell</label>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control border-end-0"
                            placeholder="0.00"
                            aria-label="Username"
                            @keypress="
                              onHandleKeyPress($event, sel_curr.decimal)
                            "
                            @keyup="
                              onHandleKeyUp($event, sel_curr.decimal),
                                changePay(market.at_price, sel_w_curr.decimal)
                            "
                            @keydown="onHandleKeyDown($event, sel_curr.decimal)"
                            onpaste="return false"
                            @dragover="handleDragOver"
                            aria-describedby="basic-addon1"
                            v-model="will_receive"
                          />
                          <span
                            class="input-group-text border-start-0"
                            id="basic-addon2"
                            >{{ market.currency }}</span
                          >
                        </div>
                        <div v-if="v$.will_receive.$errors">
                          <div class="error-msg">
                            {{ v$.will_receive.$errors[0]?.$message }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12 mb-3">
                        <div class="label mb-2">
                          <label>I will receive</label>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control border-end-0"
                            v-model="want_pay"
                            :placeholder="`${parseFloat(market.search_min_qty)}-${parseFloat(market.search_max_qty)}`"
                            @keypress="
                              onHandleKeyPress($event, sel_w_curr.decimal)
                            "
                            @keyup="
                              onHandleKeyUp($event, sel_w_curr.decimal),
                                changeRecieve(market.at_price, sel_curr.decimal)
                            "
                            @keydown="
                              onHandleKeyDown($event, sel_w_curr.decimal)
                            "
                            @dragover="handleDragOver"
                            onpaste="return false"
                            aria-label="Username"
                            aria-describedby="basic-addon1"
                          />

                          <span
                            class="input-group-text border-start-0"
                            id="basic-addon2"
                            >{{ market.with_currency }}</span
                          >
                        </div>
                        <div v-if="v$.want_pay.$errors">
                          <div class="error-msg">
                            {{ v$.want_pay.$errors[0]?.$message }}
                          </div>
                        </div>
                      </div>
                      <div class="select_payment_col col-md-12 mb-3">
                        <div class="label mb-2">
                          <label>Payment Method </label>
                        </div>

                        <div class="multiselect_box">
                          <VueMultiselect
                            v-model="selected2"
                            :options="userPayments"
                            :multiple="true"
                            :close-on-select="true"
                            placeholder="Pick some"
                            :custom-label="customLabel"
                            track-by="payment_slug"
                          />

                          <div v-if="v$.selected2.$errors">
                            <div class="error-msg">
                              {{ v$.selected2.$errors[0]?.$message }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="submit_button button_postion">
                        <button
                          @click="cancel_btn()"
                          type="button"
                          class="btn btn-primary"
                          id="cancel"
                        >
                          Cancel
                        </button>

                        <button v-if="form_loader" class="btn btn-success">
                          Loading
                        </button>

                        <button
                          v-else
                          type="submit"
                          class="btn btn-success"
                          :id="order_side == 'buy' ? 'buy' : 'sell'"
                        >
                          {{ order_side == "buy" ? "Buy" : "Sell" }}
                          {{ market.currency }}
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--row from_row-->
                </div>
                <!--buysell_form-->
              </div>
              <!--col-md-5-->
            </div>
            <!--row author_row-->
          </div>
          <!--author_info-->
        </div>
        <!--market_full_box-->
      </div>
      <!--market-innr-box-->

      <div
        class="pagination_box d-flex justify-content-end mt-4"
        style="color: white"
      >
        <pagination
          v-model="Bpage"
          :records="record"
          :per-page="perPageData"
          :options="options"
          @paginate="
            $emit('paginateEvent', order_side, Bpage, perPageData), cancel_btn()
          "
        />
      </div>

      <!-- page:{{Bpage}}  records:{{record}}   perPageData:{{perPageData}} -->
    </div>
    <div class="spinner-box text-center py-5" v-if="c_loading">
      <spinner />
    </div>

    <div class="no-record-box text-center py-5" v-if="MarketData.length==0 && !c_loading">
      No Record Found
   </div>

    <!--market-box-->
  </div>
</template>

<script>
import P2PDataJson from "../assets/json/P2PData.json";
import VueMultiselect from "vue-multiselect";
import Multiselect from "@vueform/multiselect";
import ApiClass from "@/api/api.js";
import {
  onHandleKeyPress,
  onHandleKeyUp,
  onHandleKeyDown,
  onHandlePaste,
} from "../../api/inputText.js";
import exactMath from "exact-math";
import spinner from "../components/spinner.vue";
const config = {
  ePlus: Infinity,
  ePlus: Infinity,
  // returnString: true,
};

import useVuelidate from "@vuelidate/core";
import {
  required,
  helpers,
  minValue,
  maxValue,
  requiredIf,
} from "@vuelidate/validators";
const orderSide = ["buy", "sell"];

export default {
  name: "P2PMarket",
  components: {
    spinner,
    Multiselect,
    VueMultiselect,
  },

  props: {
    order_side: String,

    orders_detail: Object,
    sel_w_curr: Object,
    recordData: Number,
    current_page: Number,
    sel_curr: Object,
    loading: Boolean,
  },

  data() {
    return {
      // MarketData: P2PDataJson.MarketData,
      // market_terms: P2PDataJson.MarketData,

      c_loading: true,
      collapsed: false,
      hidden: true,
      MarketData: [],
      sel_index: null,
      symbol: "",
      buyPagination: {},
      Bpage: 1,
      record: 0,
      perPageData: 5,
      options: {
        edgeNavigation: false,
        chunksNavigation: false,
        chunk: 3,
        texts: false,
        format: false,
      },
      Spage: 1,
      SrecordData: 100,
      form_loader: false,
      want_pay: null,
      will_receive: null,
      min_limit: "",
      max_limit: "",
      with_currency: "",
      currency: "",
      order_id: "",
      userPayments: [],

      selected2: null,
      options2: [{ name: "hello" }, { name: "hello2" }],
    };
  },

  setup() {
    return {
      v$: useVuelidate(),
    };
  },

  validations() {
    return {
      want_pay: {
        required: helpers.withMessage("Amount is required", required),
        minValue: helpers.withMessage(
          `Minimum Order Amount is ${this.min_limit} ${this.with_currency}`,
          minValue(this.min_limit)
        ),
        maxValue: helpers.withMessage(
          `Maximum Order Amount is ${this.max_limit} ${this.with_currency}`,
          maxValue(this.max_limit)
        ),
      },
      will_receive: {
        required: helpers.withMessage("Quantity is required", required),
      },
      selected2: {
        required: helpers.withMessage(
          "Payment method is required",
          requiredIf(this.order_side == "sell")
        ),
      },
    };
  },

  watch: {
    loading: {
      deep: true,
      handler(v) {
        this.c_loading = v;
      },
    },
    orders_detail: {
      // immediate: true,
      deep: true,
      handler(v) {
        // this.loading = false

        this.MarketData = v;
      },
    },

    sel_w_curr: {
      deep: true,
      handler(v) {
        this.symbol = v.symbol;
        this.getuserPayments(v.currency);
      },
    },

    recordData: {
      deep: true,
      handler(v) {
        this.record = v;
      },
    },
    current_page: {
      deep: true,
      handler(p) {
        this.Bpage = p;
      },
    },
  },

  mounted() {
    if (this.order_side == "sell") {
      this.getuserPayments(this.sel_w_curr.currency);
    }
  },

  methods: {
    async getuserPayments(with_currency) {

      if(!localStorage.getItem('token')){
        return
      }
      let p_m = await ApiClass.getNodeRequest(
        `p2p/paymentType/all-payment?with_currency=${with_currency}`,
        true
      );

      if (p_m.data) {
        let pm = p_m.data.data.data;
        this.userPayments = pm.filter((e) => {
          return e.is_verify == 1 && e.status == 1;
        });

      }
    },
    cancel_btn() {
      (this.hidden = true), (this.collapsed = false), this.v$.$reset();
    },

    qty_cal(price, qty) {
      return exactMath.mul(price, qty, config);
    },

    getPaymentColor() {
      const colors = [
        "#F5791F",
        "#F0B90B",
        "#6D6E72",
        "#00C087",
        "#4285F4",
        "#5F259F",
      ];
      const random = Math.floor(Math.random() * colors.length);
      return {
        minWidth: "0px",
        width: "4px",
        height: "14px",
        borderRadius: "2px",
        Color: colors[random].toString(16) + " !important",
      };
    },
    getPaymentColor2() {
      const colors = [
        "#F5791F",
        "#F0B90B",
        "#6D6E72",
        "#00C087",
        "#4285F4",
        "#5F259F",
      ];
      const random = Math.floor(Math.random() * colors.length);
      return {
        Color: colors[random].toString(16) + " !important",
      };
    },

    chnage_slug(t) {
      let c;
      if (t.includes("_")) {
        c = t.replace("_", " ").toUpperCase();
      } else {
        c = t.toUpperCase();
      }
      return c;
    },

    customLabel(t) {
      let pp = t.payment_slug;
      t.payment_slug = this.chnage_slug(pp);
      return `${t.payment_slug}`;
    },

    //inputText methods
    onHandleKeyPress,
    onHandleKeyUp,
    onHandleKeyDown,
    onHandlePaste,

    changeRecieve(price, decimal) {
      if (this.want_pay == "" || this.want_pay == null) {
        this.will_receive = "";
        return;
      }
      let receive = exactMath.div(this.want_pay, price, config);
      this.will_receive = receive.toFixed(decimal);
    },
    changePay(price, decimal) {
      if (this.will_receive == "" || this.will_receive == null) {
        this.want_pay = "";
        return;
      }
      let pay = exactMath.mul(this.will_receive, price, config);
      this.want_pay = pay.toFixed(decimal);
    },

    all_receive_set(q, d) {
      this.will_receive = parseFloat(parseFloat(q).toFixed(d));
    },

    open_form(data, index) {
        (this.hidden = false),
        (this.sel_index = index),
        (this.collapsed = true),
        (this.min_limit = data.search_min_qty),
        (this.max_limit = data.search_max_qty);
        this.with_currency = data.with_currency;
        this.currency = data.currency;
        this.order_id = data.id;
    },

    async place_order() {
      const isFormCorrect = await this.v$.$validate();
      if (!isFormCorrect) {
        return;
      }
      this.form_loader = true;

      let p_type;
      if (this.order_side == "sell") {
        p_type = this.selected2.map((e) => {
          let c = e.payment_slug;
          if (c.includes(" ")) {
            c = c.replace(" ", "_").toLowerCase();
          } else {
            c = c.toLowerCase();
          }

          return c;
        });
      }

      let form = {
        currency: this.currency,
        with_currency: this.with_currency,
        order_id: this.order_id,
        order_type: this.order_side.toUpperCase(),
        quantity: this.will_receive,
        payment_type: this.order_side == "sell" ? p_type : "",
      };

      let res = await ApiClass.postNodeRequest("p2p/trade/place", true, form);
      if (res.data.status_code == 1) {
        this.success(res.data.message);
        this.sleep(5000);
        this.$router.push(
          `${this.order_side}_detail?trade_id=${res.data.data}`
        );
      } else {
        this.failed(res.data.message);
      }

      this.form_loader = false;
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.css"></style>

<style scoped>
/**=========== P2P HEADING CSS START ===========**/
.p2p_heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--market-border);
}

.error-msg {
  color: red;
  font-weight: 400;
  font-size: smaller;
}

.heading_box {
  padding: 15px 0px;
}

.heading_box h3 {
  font-size: var(--fs-12);
  font-weight: 500;
  color: var(--black);
  margin: 0;
  text-transform: capitalize;
}

div#price h3 span {
  color: var(--active-yellow);
  background-color: var(--badge-yellow);
  padding: 2px 4px;
  border-radius: 2px;
}

div#trade h3 span {
  color: var(--green);
  background-color: var(--badge-green);
  padding: 2px 4px;
  border-radius: 2px;
}

div#advertiser {
  flex: 260 1 0%;
}

div#price {
  flex: 242 1 0%;
}

div#limit {
  flex: 265 1 0%;
}

div#payment {
  flex: 185 1 0%;
}

div#trade {
  flex: 118 1 0%;
}

/**=========== P2P HEADING CSS FINISH ===========**/

/**=========== P2P MARKET CSS START ===========**/
.market_inner_card {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid var(--market-border);
}
.payment-type {
  background-color: var(--tab-bg);
}
.payment-type,
.order-number {
  font-size: var(--fs-12);
  font-weight: 500;
}
.auther_name_icon {
  display: flex;
  gap: 10px;
  align-items: center;
}

.auther_name_letter {
  margin: 0px;
  border-radius: 50%;
  background-color: var(--author-bg);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auther_name_letter span {
  font-size: var(--fs-12);
  color: var(--white);
}

.author_name span {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
}

.total_orders {
  display: flex;
  gap: 5px;
  margin-left: 24px;
}

.order_count span {
  font-size: var(--fs-12);
  font-weight: 500;
}

.order_complete span {
  font-size: var(--fs-12);
  font-weight: 500;
}

.price_box span {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
}

.limit-box h3 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
  padding-bottom: 7px;
}

.limit-box h3 span {
  margin-right: 6px;
}

.limit-box h4 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
}

.limit-box h4 span {
  margin-right: 26px;
}

.limit-box span {
  font-size: var(--fs-12);
  color: var(--grey);
}

.payment-box {
  border-radius: 2px;
  font-size: 10px;
  padding: 4px;
  display: inline-block;
  background-color: var(--tab-bg);
}

.payment-box span {
  font-size: var(--fs-10);
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
}

.trade-btn .btn-primary {
  padding: 5px 12px;
  min-width: 130px;
  font-size: var(--fs-14);
  font-weight: 500;
  /* background: var(--active-green);
  border-color: var(--active-green); */
  border-radius: 4px;
}

/**=========== P2P MARKET CSS FINISH ===========**/

/**=========== MARKET FULL BOX CSS START ===========**/
.market_full_box {
  background-color: var(--white);
  box-shadow: var(--tab-box-shadow);
  padding: 15px 15px;
  border-radius: 4px;
  position: relative;
}

.author_info {
  position: relative;
}

.full_author_name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author_box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.author_name_letter {
  margin: 0px;
  border-radius: 50%;
  background-color: var(--author-bg);
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author_name_letter span {
  color: var(--white);
  font-size: var(--fs-12);
}

.author_box h3 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
}

.author_order {
  display: flex;
  align-items: center;
  gap: 5px;
}

.author_total_order span {
  font-size: var(--fs-12);
  font-weight: 500;
  color: var(--black);
}

.author_order_complete span {
  font-size: var(--fs-12);
  font-weight: 500;
  color: var(--black);
}

.price-box {
  margin-left: 20px;
}

.price-box h3 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--active-green);
}

.price-box h3 span {
  font-size: var(--fs-12);
  color: var(--black);
  margin-left: 10px;
}

.avaliable-box h3 {
  font-size: var(--fs-14);
  font-weight: 500;
  color: var(--black);
}

.avaliable-box h3 span {
  font-size: var(--fs-10);
  margin-left: 10px;
}

div#time_limit {
  margin-left: 18px;
}

div#upi_payment span.upi-box {
  border-radius: 2px;
  padding: 4px;
  display: inline-block;
  background-color: var(--tab-bg);
}

.terms_heading p {
  padding-left: 29px;
  font-size: var(--fs-14);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--black);
}

ul.terms_list {
  margin-bottom: 0px;
  list-style: none;
}

ul.terms_list li {
  margin-bottom: 5px;
}

ul.terms_list li p {
  margin: 0;
  font-size: var(--fs-13);
  font-weight: 500;
  color: var(--terms-text);
}

.label label {
  font-size: var(--fs-13);
  font-weight: 600;
  text-transform: capitalize;
}

.form-control {
  border-radius: 5px;
  font-size: var(--fs-13);
  color: var(--black);
  min-height: 45px;
  background-color: var(--white);
  border-color: var(--active-yellow);
}

.form-control:focus {
  box-shadow: none;
}

.form-control::placeholder {
  font-weight: 500;
  color: var(--placeholder);
}

.input-group .input-group-text {
  background-color: var(--white);
  border-color: var(--active-yellow);
}

span#basic-addon1 {
  padding: 0;
}

span#basic-addon1 button.btn {
  color: var(--light-yellow);
  font-size: var(--fs-14);
  text-transform: capitalize;
  font-weight: 500;
}

span#basic-addon1 button.btn:hover {
  color: var(--active-yellow);
}

span#basic-addon2 {
  font-size: var(--fs-14);
  color: var(--grey);
  font-weight: 500;
  position: relative;
}

.submit_button {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

/* .button_postion {
    position: absolute;
  bottom: 0;
} */

button#cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--filter-bg);
  border-color: var(--filter-bg);
  min-height: 45px;
  font-size: var(--fs-13);
  font-weight: 500;
  color: var(--black);
  min-width: 150px;
  text-transform: capitalize;
  margin-top: 25px;
}

.btn-success {
  width: 360px;
  padding: 5px 12px;
  min-width: 130px;
  font-size: var(--fs-14);
  font-weight: 500;
  border-radius: 4px;
  min-height: 45px;
}

#buy {
  background: var(--active-green);
  border-color: var(--active-green);
}

#sell {
  background: var(--active-red);
  border-color: var(--active-red);
}

/**=========== MARKET FULL BOX CSS FINISH ===========**/

@media all and (min-width: 1200px) and (max-width: 1399px) {
  button#cancel {
    min-width: 60%;
  }

  .btn-success {
    width: 100%;
    min-width: 247px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  button#cancel {
    min-width: 60%;
  }

  .btn-success {
    width: 100%;
    min-width: 182px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .heading_box h3 {
    font-size: var(--fs-10);
  }
  .limit-box span {
    display: block;
  }

  .total_orders {
    display: block;
  }

  .price_box span {
    margin-left: 17px;
  }

  .price-box {
    margin-left: 0;
  }

  .price-box h3 span {
    margin-left: 0;
  }

  .avaliable-box h3 span {
    margin-left: 0;
  }

  div#time_limit {
    margin-left: 0;
  }

  ul.terms_list {
    padding: 0;
  }
  button#cancel {
    min-width: 100px;
  }

  .btn-success {
    width: 100%;
  }
}

@media all and (min-width: 320px) and (max-width: 767px) {
  .p2p_heading {
    display: none;
  }

  .market_inner_card {
    display: block;
    border-width: 2px;
  }

  div#advertiser {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order_count {
    text-align: center;
  }

  .order_complete {
    text-align: center;
  }

  div#price {
    margin-bottom: 10px;
  }

  div#limit {
    margin-bottom: 13px;
  }

  div#payment {
    margin-bottom: 12px;
  }

  .submit_button {
    position: static;
    display: block;
  }

  button#cancel {
    min-width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .btn-success {
    width: 100%;
  }

  .buysell_form {
    margin-bottom: 25px;
  }

  ul.terms_list {
    padding-left: 0;
  }

  .price-box {
    margin-left: 0;
  }
  .price-box h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .avaliable-box h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div#time_limit {
    margin-left: 0;
    margin-bottom: 11px;
  }
}
</style>
