<template>
    <div>
        <span> Hi, P2P Module</span>
    </div>
</template>


<script>
import ApiClass from "@/api/api.js"
export default {
    name: 'HomeView',

    data(){
        
    },
}
</script>