<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.css"></style>
<style>
body {
  margin: 0;
  font-family: 'Poppins' !important;
}



@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-Thin.ttf);
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url(@/assets/font/Poppins-Black.ttf);
  font-weight: 900;
  font-display: swap;
}



/**============== VARIBALE CSS ==============**/
:root {
  --white: #fff;
  --black:#1E2026;
  --tab-bg:#FAFAFA;
  --active-green:#0ECB81;
  --active-red:#f6465d;
  --tab-border:#E6E8EA;
  --tab-active-shadow:rgb(0 0 0 / 25%) 1px 0px 4px;
  --tab-box-shadow:0px 0px 1px rgb(24 26 32 / 10%), 0px 3px 6px rgb(71 77 87 / 4%), 0px 1px 2px rgb(24 26 32 / 4%);
  --active-yellow:#F0B90B;
  --light-yellow:#C99400;
  --grey:#76808F;
  --placeholder: #b3b4bc;
  --blue: #285C93;
  --filter-bg:#F5F5F5;
  --badge-yellow:rgb(254, 246, 216);
  --green:rgb(3, 166, 109);
  --badge-green:rgb(230, 255, 241);
  --author-color:rgb(40, 92, 147);
  --author-bg:rgb(70, 83, 200);
  --payment-badge:rgb(239 238 238);
  --market-border:rgb(245, 245, 245);
  --terms-text:rgb(118, 128, 143);
  --badge-border:#cdcdcd;
  --icon-bg:linear-gradient(90deg, rgba(255,255,255,1) 5%, rgba(255,254,252,1) 5%, rgba(240,185,11,1) 100%);
  --bs-border-color:#dee2e6;
  --refresh-btn-bg:#EAECEF;

    /*=============== new ================= */
  --trans-yellow:#fef6d8;
  --btn-auth:#fcd535;
  

  /** FONT VARIABLE **/
  --fs-8: 0.5rem;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-17: 1.063;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-25: 1.5625rem;
  --fs-30: 1.875rem;
  --fs-33: 2.0625rem;
  --fs-35: 2.188rem;
  --fs-40: 2.5rem;
  --fs-45: 2.8125rem;
  --fs-50: 3.125rem;
  --fs-55: 3.438rem;
}
.text-red{
  color: var(--active-red) !important;
}
.text-green{
  color: var(--green) !important;
}
.text-grey{
  color: var(--grey) !important;
}


/* multiselet css */

.select_region_col .multiselect-tag.is-user {
    padding: 5px 8px;
    border-radius: 22px;
    background: var(--active-yellow);
    margin: 3px 3px 8px;
  }
.select_region_col .multiselect-placeholder{
    font-size: var(--fs-14);
}
  .select_region_col .multiselect-tag.is-user img {
    width: 18px;
    border-radius: 50%;
    height: 18px;
    margin-right: 8px;
    border: 2px solid var(--bs-border-color);
  }

  .select_region_col .multiselect-tag.is-user i:before {
    color: var(--white);
    border-radius: 50%;;
  }
   .select_region_col .user-image {
    margin: 0 6px 0 0;
    border-radius: 50%;
    height: 22px;
  }
 .select_region_col .multiselect-dropdown .multiselect-option{
    gap: 5px !important;
    font-size: var(--fs-13);
  }
 .select_region_col .multiselect.is-active{
    box-shadow: unset !important;
  }


ul.VuePagination__pagination {
  gap: 7px;
}

  ul.VuePagination__pagination li.VuePagination__pagination-item button.page-link {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  line-height: 0;
  font-weight: 600;
  font-size: var(--fs-14);
  background-color: var(--filter-bg);
  border-color: var(--filter-bg);
}

ul.VuePagination__pagination li.VuePagination__pagination-item button.page-link:focus {
  box-shadow: none;
}

ul.VuePagination__pagination li.VuePagination__pagination-item button.page-link.active {
  background-color: var(--active-yellow);
  border-color: var(--active-yellow);
}
.select_payment_col  .multiselect{
  border: 1px solid var(--active-yellow)
}
.select_payment_col  .multiselect-option{
  display: flex;
}
.select_payment_col .multiselect-tag{
  background: unset;
  color: var(--black);
}

/* multiselect */

.select_payment_col .multiselect_box .multiselect__content-wrapper{
  border:1px solid var(--bs-warning);
}
.select_payment_col .multiselect_box .multiselect__content-wrapper {
  max-height: 310px;
width: 514px;
}
.select_payment_col .multiselect_box .multiselect--above .multiselect__content-wrapper{
  border-bottom: 1px solid var(--active-yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  bottom: -120px;
  left: -1px;
}
.select_payment_col .multiselect_box .multiselect__tag-icon::after{
  color: var(--white);
}
.select_payment_col .multiselect_box .multiselect__tag-icon:hover::after{
  color: var(--black);
}
.select_payment_col .multiselect_box .multiselect__option--highlight{
  background: var(--active-yellow);
}
.select_payment_col .multiselect_box .multiselect__option--highlight::after{
  background: var(--active-yellow);
}
.select_payment_col .multiselect_box .multiselect__tag{
  background: var(--active-yellow);
}
.select_payment_col .multiselect_box .multiselect__tags{
  width: 100%;
}



/*===================== AUTH CSS START====================== */
.auth_page{
    min-height: 85vh; 
}
.main_auth_box .auth_head h3{
    font-weight: 600;
    font-size:var( --fs-30);
    line-height: 40px;
    color: var(--black);
}
.form_box .form_body label{
    color: var(--black);
    font-size: var(--fs-14);
    font-weight: 500;
    margin-bottom: 5px;
}
.form_box .form_body .form-control{
    color: var(--black);
    font-size: var(--fs-13);
    font-weight: 500;
    padding: 10px 10px;
    border: 1px solid rgb(234, 236, 239);
}
.form_box .form_body input::placeholder{
    color: var(--black);
    font-size: var(--fs-13);
    font-weight: 500;
}
.form_box .form_body .btn_next{
    color: var(--black);
    font-size: var(--fs-15);
    font-weight: 500;
    padding: 10px 10px;
    background-color:var(--btn-auth) ;
    border-radius: 5px;
}
.form_box .form_body a{
    color: var(--light-yellow);
    font-size: var(--fs-14);
    font-weight: 500;
}
/* ===================== AUTH CSS END====================== */

/* loader css */
.spinner-border{
  height: 22px !important;
  width:22px !important;
}


@media all and (min-width:992px) and (max-width:1024px){
  .multiselect__content-wrapper {
  width: 362px;
  }
}
@media all and (min-width:768px) and (max-width:991px){
  .multiselect__content-wrapper {
  width: 264px;
  }
}
@media all and (min-width:320px) and (max-width:767px){
  .multiselect__content-wrapper {
  width: 270px;
  }
}
</style>