<template>
    <div>
        <section  class="auth_page d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="main_auth_box py-5">
                             <div class="auth_head mb-5">
                                <h3 class="mb-0 text-capitalize"> Reset Your Password</h3>
                             </div>
                             <!-- auth head -->
                             <div class="form_box">
                                <form class="row" @submit.prevent="changePwd">
                                     <!-- Password-->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                            <label for="exampleInputEmail1" class="form-label ">New Password</label>
                                            <div class="input-group">
                                                <input :type="type1" class="form-control shadow-none border-end-0 " v-model="password" aria-label="Username" aria-describedby="basic-addon1">
                                            <span v-if="type1=='password'" @click="type1='text'" class="input-group-text bg-transparent"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"></path>
                                                </svg></span>
                                            <span v-else @click="type1='password'" class="input-group-text bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path>
                                                    <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                                                </svg></span>
                                                
                                            </div>
                                            <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.password.$error">
                                                {{ v$.password.$errors[0].$message }}
                                             </span>
                                        </div>
                                    </div>
                                      <!-- New Password-->
                                     
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                            <label for="exampleInputEmail1" class="form-label ">Confirm Password</label>
                                            <div class="input-group">
                                                <input :type="type2" class="form-control shadow-none border-end-0 " v-model="confirm_password" aria-label="Username" aria-describedby="basic-addon1">
                                            <span v-if="type2=='password'" @click="type2='text'" class="input-group-text bg-transparent"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"></path>
                                                </svg></span>
                                            <span v-else @click="type2='password'" class="input-group-text bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path>
                                                    <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                                                </svg></span>
                                                
                                            </div>
                                            <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.confirm_password.$error">
                                                {{ v$.confirm_password.$errors[0].$message }}
                                             </span>
                                        </div>
                                    </div>
                                    <!-- Buttons-->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                         <button v-if="!loading" type="submit" class="btn_next shadow-none border-0 w-100">Login</button>
                                        <button class="btn_next shadow-none border-0 w-100" type="button"  v-if="loading"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                Loading...
                                        </button> 
                                        </div>
                                    </div>
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body">
                                         <label for=""><p class="mb-0"><router-link to="/resetpassword" class="text-decoration-none">Forgot Password ?</router-link></p></label>
                                        </div>
                                    </div>
                                    <!-- email/phone number -->
                                </form>
                             </div>
                             <!-- form end -->
                        </div>
                    </div>
                     <!--===========col-md-12 col-lg-12 col-xl-12 ================== -->
                </div>
            </div>

         </section>
          <!-- =====================section end===================== -->
    </div>
</template>
<script>
import useVuelidate from "@vuelidate/core";
import { required,helpers,sameAs } from "@vuelidate/validators";
import ApiClass from '../../api/api';

export default {
    name:"ChangePassword",
     setup() {
        return {  
            v$: useVuelidate(),
        };
    },
    data() {
        return {
            type: "password",
            typee: "password",
            type1: 'password',
            type2: 'password',
            loading:false,
            password:'',
            confirm_password:'',
            reset_type:'',
            user_email:'',
            user_mobile:'',

        }
    },
     validations() {
        return {
            password: {
                required: helpers.withMessage("Password is required", required),
            },
            confirm_password: {
                sameAsPassword: helpers.withMessage("Confirm Password should be same", sameAs(this.password))
            },
        }
    },
    mounted(){
        this.reset_type = this.$store.getters.getLoginType
        this.user_email =  this.reset_type == 'email' ? this.$store.getters.getUserEmail : ''
        this.user_mobile =  this.reset_type == 'mobile' ? this.$store.getters.getUserMobile : ''
    },
    methods:{ 
        async changePwd(){
            let validate = await this.v$.$validate();
            if (!validate) return;

            let data ={
                "reset_type": this.reset_type,
                "email":this.user_email,
                "mobile":this.user_mobile,
                "new_password":this.password,
                "confirm_password":this.confirm_password
            }

            console.log('kdjkasdjsa==',data)

            this.loading = true
            let res = await ApiClass.postAuthNodeRequest('user/reset', false, data)
            console.log({changePwd: res});
            if(res.data.status_code == 1){
                //clear login type or reset type
                this.$store.commit('SET_LOGIN_TYPE','')
                    this.success(res.data.message);
                    this.$router.push('/');
                    return;
            }
            if(res.data.status_code == 0){
                this.loading = false
                this.failed(res.data.message)
                return 
            }
        }
    }

 
}
</script>
<style scoped>
.auth_head p{
    color: var(--black);
    font-size: var(--fs-20);
    font-weight: 500; 
}
</style>