<template>
    <div>
        <section  class="auth_page d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="main_auth_box py-5">
                             <div class="auth_head mb-4">
                                <h3 class="mb-0">Create Personal Account</h3>
                             </div>
                             <!-- auth head -->
                             <div class="btn_tabs_box d-flex gap-4 mb-4">
                                <button @click="loginBy='email'" type="button" class="btn_tabs shadow-none border-0" :style="loginBy=='email' ?'background-color: var(--filter-bg)':''">Email</button>
                                <button @click="loginBy='mobile'" type="button" class="btn_tabs shadow-none border-0" :style="loginBy=='mobile' ?'background-color: var(--filter-bg)':''">Phone Number</button>
                             </div>
                             <!-- tabs div -->
                             <div class="form_box">
                                <form class="row" @submit.prevent = register>

                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                            <label for="exampleInputEmail1" class="form-label ">UserName</label>
                                            <div class="input-group">
                                                <input type="name" class="form-control shadow-none" id="exampleInputEmail1" @dragover="handleDragOver" onpaste="return false" v-model="form_data.name" aria-describedby="emailHelp">
                                            </div>
                                             <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.name.$error">
                                                    {{ v$.form_data.name.$errors[0].$message }}
                                                </span>
                                        </div>
                                    </div>

                                    <div v-if="loginBy=='email'" class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-4">
                                            <label for="exampleInputEmail1" class="form-label ">Personal Email</label>
                                            <input type="email" class="form-control shadow-none" id="exampleInputEmail1" @dragover="handleDragOver" onpaste="return false" v-model="form_data.email" aria-describedby="emailHelp">

                                             <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.email.$error">
                                                {{ v$.form_data.email.$errors[0].$message }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- Personal Email -->
                                    <div v-else class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-4">
                                            <label for="exampleInputEmail1" class="form-label ">Personal Phone Number</label>
                                            <input type="text" class="form-control shadow-none" id="exampleInputEmail1" v-model="form_data.phone" aria-describedby="emailHelp"
                                              @dragover="handleDragOver" onpaste="return false" onkeypress="return (event.charCode !=8 && event.charCode !=46 &&((event.charCode >= 48 && event.charCode <= 57) ))">

                                            <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.phone.$error">
                                                {{ v$.form_data.phone.$errors[0].$message }}
                                            </span>
                                                                    
                                        </div>
                                    </div>
                                    <!-- phone number Email -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                            <label for="exampleInputEmail1" class="form-label ">Password</label>
                                            <div class="input-group">
                                                <input :type="type1" class="form-control shadow-none border-end-0" v-model="form_data.password" aria-label="Username" aria-describedby="basic-addon1">
                                                <span v-if="type1=='password'" @click="type1='text'" class="input-group-text bg-transparent"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"></path>
                                                </svg></span>
                                                <span v-else @click="type1='password'" class="input-group-text bg-transparent"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(183, 183, 183, 1);transform: ;msFilter:;">
                                                    <path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"></path>
                                                    <path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"></path>
                                                </svg></span>
                                            </div>
                                             <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.password.$error">
                                                    {{ v$.form_data.password.$errors[0].$message }}
                                                </span>
                                        </div>
                                    </div>
                                    <!-- Password-->
                                    <!-- <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                             <button @click="show=(!show)"  type="button" class="btn_optional shadow-none border-0 shadow-none bg-transparent">Referral ID (Optional) <svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 24 24" style="fill:var(--grey)"><path d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569l9 13z"></path></svg></button>
                                             <div v-if="show">
                                                <input type="email" class="form-control shadow-none" id="exampleInputEmail1" aria-describedby="emailHelp">
                                             </div>
                                        </div>
                                    </div> -->
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                            <div class="form-check">
                                                <input class="form-check-input shadow-none" type="checkbox" v-model="form_data.agree_check" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                  <p>I have read and agree to Binance’s <a href="">Terms of Service</a> and <a href="">Privacy Policy</a>.</p>
                                                </label>
                                            </div>
                                              <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.form_data.agree_check.$error">
                                                {{ v$.form_data.agree_check.$errors[0].$message }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-3">
                                       <button v-if="!loading" type="submit" class="btn_next shadow-none border-0 w-100">Create Personal Account</button>
                                        <button v-if="loading" class="btn_next shadow-none border-0 w-100" type="button">
                                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                            Loading...
                                            </button>   
                                        </div>
                                    </div>
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body">
                                         <label for=""><p class="mb-0">Not looking for a personal account? <a href="" class="text-decoration-none">Sign up for an entity account</a></p></label>
                                        </div>
                                    </div>
                                    <!-- email/phone number -->
                                </form>
                             </div>
                             <!-- form end -->
                        </div>
                    </div>
                     <!--===========col-md-12 col-lg-12 col-xl-12 ================== -->
                </div>
            </div>

         </section>
          <!-- =====================section end===================== -->
    </div>
</template>

<script>
import useVuelidate from "@vuelidate/core";
import { required,helpers,requiredIf,sameAs} from "@vuelidate/validators";
import ApiClass from '@/api/api.js';
const password_Requirement = helpers.regex(
  /[A-Z]/,
  /[a-z]/,
  /[0-9]/,
  /[#?!@$%^&*-]/
);

export default {
    name:"CreatePage",
    setup() {
        return {  
            v$: useVuelidate(),
        };
    },
    data() {
        return {
            type: "password",
            type1: 'password',
            show:false,
            loginBy:'email',
            loading:false,
          
            form_data:{
                name:'',
                email:'',
                password:'',
                phone:'',
                agree_check:''
            }
        }
    },

//form validation
  validations() {
    return {
        form_data:{
            name: {
                required: helpers.withMessage("Name is required",required),
            },
            email: {
                required: helpers.withMessage("Email is required", requiredIf(this.loginBy == 'email')),
            },
            phone: {
                required: helpers.withMessage("Phone No is required", requiredIf(this.loginBy == 'mobile')),
            },
            password: {
                required: helpers.withMessage("Password is required", required),
            },
            agree_check: {
                sameAs: helpers.withMessage("You need to accept our terms and privacy policy to create an account", sameAs(true)),
            }
        }
    }
  },

   methods:{
    async register(){
       let validate = await this.v$.form_data.$validate();
       if (!validate) return;
        let data ={
            "name":this.form_data.name,
            "type": this.loginBy,
            "email" : this.form_data.email,
            "mobile" : this.form_data.phone,
            "password" : this.form_data.password,
        }

        console.log({data})

        let res =  await ApiClass.postAuthNodeRequest('user/signup',false, data)
        
        if(res.data?.status_code == 1){
            this.loading = false
            this.success(res.data.message)
            this.$router.push('/')
            return
        }else{
             this.loading = false
             return this.failed(res.data.message)
        }
    }
  }

 
}
</script>
<style scoped>
.btn_tabs_box .btn_tabs{
color: var(--black);
font-size: var(--fs-15);
font-weight: 500;
padding: 7px 20px;
border-radius: 5px;
background-color: transparent;
}
.btn_optional {
    color: var(--black);
    font-size: var(--fs-14);
    font-weight: 500;
    margin-bottom: 5px;
}
.form_body .form-check .form-check-input{
    border: 1px solid rgb(234, 236, 239);
}
.form_body .form-check .form-check-input:checked{
    background-color: var(--btn-auth);
    border: 1px solid var(--btn-auth);
}
.form-check-label p a{
    color: var(--black);
    font-size: var(--fs-14);
    font-weight: 500; 
}
</style>