<template>
    <div>
        <section class="top_section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12 px-0">
                        <div class="top_header d-flex align-items-center justify-content-center p-2">
                            <div><svg xmlns="http://www.w3.org/2000/svg" width="22" class="me-1" height="22" viewBox="0 0 24 24" style="fill:var(--green)"><path d="M12 2C9.243 2 7 4.243 7 7v3H6a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8a2 2 0 0 0-2-2h-1V7c0-2.757-2.243-5-5-5zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7zm4 10.723V20h-2v-2.277a1.993 1.993 0 0 1 .567-3.677A2.001 2.001 0 0 1 14 16a1.99 1.99 0 0 1-1 1.723z"></path></svg></div>
                            <div class="me-2"><p class="mb-0">URL verification:</p></div>
                            <div><a href="" class="text-decoration-none"><span>https://</span>accounts.binance.com</a></div>
                        </div>
                    </div>
                    <!--===========col-md-12 col-lg-12 col-xl-12 ================== -->
                </div>
            </div>
        </section>
         <!-- =====================section end===================== -->
         <section  class="auth_page d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="main_auth_box">
                             <div class="auth_head mb-4">
                                <h3 class="mb-0">Binance Login</h3>
                             </div>
                             <!-- auth head -->
                             <div class="form_box">
                                <form class="row" @submit.prevent="check_username">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-4">
                                            <label for="exampleInputEmail1" class="form-label ">Email / Phone Number</label>
                                            <input type="text" class="form-control shadow-none" id="exampleInputEmail1" v-model="username" aria-describedby="emailHelp" >
                                              <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.username.$error">
                                                {{ v$.username.$errors[0].$message }}
                                        </span>
                                        </div>
                                       
                                    </div>
                                    <!-- email/phone number -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-2">
                                           <button v-if="loading" class="btn_next shadow-none border-0 w-100" type="button">
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>  
                                            <button v-if="!loading" type="submit" class="btn_next shadow-none border-0 w-100" >Next</button>  
                                        </div>
                                    </div>
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body">
                                           <router-link to="/create" class="text-decoration-none">Create a Binance Account</router-link>
                                        </div>
                                    </div>
                                    <!-- email/phone number -->
                                </form>
                             </div>
                             <!-- form end -->
                        </div>
                    </div>
                     <!--===========col-md-12 col-lg-12 col-xl-12 ================== -->
                </div>
            </div>
         </section>
          <!-- =====================section end===================== -->
    </div>
</template>
<script>
import useVuelidate from "@vuelidate/core";
import { required,helpers } from "@vuelidate/validators";
import ApiClass from '../../api/api';
export default {
    name:"LoginView",
    setup() {
        return {  
            v$: useVuelidate(),
        };
    },
    data(){
        return{
            loading:false,
            username:''
        }
    },
    //form validation
    validations() {
        return {
            username: {
                required: helpers.withMessage("Email/Phone Number is required", required),
            }
        }
    },
    methods:{
        async check_username(){
            let validate = await this.v$.$validate();
            if (!validate) return;
            this.loading = true;

             let data={
                "side":"login",
                "type":this.username.includes('@') ? 'email':'mobile',
                "value":this.username
            }

            console.log({data})

              //===clear store==//
            this.$store.commit('SET_USER_EMAIL', '');
            this.$store.commit('SET_USER_MOBILE', '');
            this.$store.commit('SET_LOGIN_TYPE', '');
           
            let res = await ApiClass.postAuthNodeRequest('user/is_valid',false,data)

            console.log('asdhfjjasf',res)
         
            if(res.data?.status_code == 1){
                this.loading = false
                this.$store.commit('SET_EMAIL_OTP', '');
                this.$store.commit('SET_MOBILE_OTP', '');
                this.$store.commit('SET_R_KEY', '');
                this.$store.commit('SET_VM', {});

                //set email,mobile and login type
                if(res.data.type == 'email'){
                    this.$store.commit('SET_USER_EMAIL', res.data?.data.email);
                }

                if(res.data.type == 'mobile'){
                    this.$store.commit('SET_USER_MOBILE', res.data?.data.mobile);
                }

                this.$store.commit('SET_LOGIN_TYPE', res.data?.type);
                
                this.success(res.data.message)
                this.$router.push('/verification')
                return  
            }else {
                this.loading = false
                return this.failed(res.data.message)
            }

        }
    }

}
</script>

<style scoped>
.top_section .top_header{
background-color: var(--trans-yellow);
}
.top_header p,
.top_header a{
    color: var(--black);
    font-size: var(--fs-12);
    font-weight: 500;
}
.top_header a span{
    color: var(--green);
}
/* top css end */
@media all and (min-width:320px) and (max-width:767px){
    .top_header p,
.top_header a{
    font-size: var(--fs-10);
}
}
</style>