<template>
    <div>
        <section  class="auth_page d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-4">
                        <div class="main_auth_box py-5">
                             <div class="auth_head mb-4">
                                <h3 class="mb-0">Security Verification</h3>
                             </div>
                             <!-- auth head -->
                             <div class="form_box">
                                <form class="row" @submit.prevent="verify_otp">
                                    <div class="col-md-12 col-lg-12 col-xl-12" v-if="vm.email == true">
                                        <div class="form_body mb-4">
                                            <label for="exampleInputEmail1" class="form-label ">Email Verification Code</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control shadow-none border-end-0" v-model="email" aria-label="Username" aria-describedby="basic-addon1"
                                                 @dragover="handleDragOver" onpaste="return false" @keyup="check_len()" onkeypress="return (event.charCode !=8 && event.charCode !=46 &&((event.charCode >= 48 && event.charCode <= 57) ))">
                                                <span v-if="code == 'get_code' && !span_loader" class="input-group-text bg-transparent" id="basic-addon1" @click="get_otp('email','get_code')">Get Code</span>
                                                 <!-- Verfication Code -->
                                                 <span v-if="code == 'code_sent'" class="input-group-text bg-transparent" id="basic-addon1">Verification code send
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ms-1" height="14" width="14" style="fill: rgb(112, 122, 138)" viewBox="0 0 512 512">
                                                     <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                                                    </svg>
                                                 </span>

                                                 <!-- Resend Code -->
                                                 <span v-if="code == 'resend_code' && !span_loader" class="input-group-text bg-transparent" id="basic-addon1" @click="get_otp('email','resend_code')">Resend Code</span>                                                
                                                 <span v-if="span_loader" class="input-group-text bg-transparent" id="basic-addon1">
                                                    <div class="spinner-border" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                 </span>
                                            </div>
                                             <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.email.$error">
                                                {{ v$.email.$errors[0].$message }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- email/phone number -->
                                    <div class="col-md-12 col-lg-12 col-xl-12"  v-if="vm.mobile == true">
                                        <div class="form_body mb-4">
                                            <label for="exampleInputEmail1" class="form-label ">Phone Number Verification Code</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control shadow-none border-end-0" v-model="mobile"  aria-label="Username" aria-describedby="basic-addon1" 
                                                @dragover="handleDragOver" onpaste="return false" @keyup="check_len()" onkeypress="return (event.charCode !=8 && event.charCode !=46 &&((event.charCode >= 48 && event.charCode <= 57) ))"> 
                                                <!-- Get Code -->
                                                <span v-if="code1 == 'get_code1' && !span_loader1" class="input-group-text bg-transparent" id="basic-addon1" @click="get_otp('mobile','get_code1')">Get Code</span>
                                                <!-- Verfication Code -->
                                                 <span v-if="code1 == 'code_sent1'" class="input-group-text bg-transparent" id="basic-addon1">Verification code send
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="ms-1" height="14" width="14" style="fill: rgb(112, 122, 138)" viewBox="0 0 512 512">
                                                     <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                                                    </svg>
                                                 </span>

                                                 <!-- Resend Code -->
                                                 <span v-if="code1 == 'resend_code1'  && !span_loader1" class="input-group-text bg-transparent" id="basic-addon1" @click="get_otp('mobile','resend_code1')">Resend Code</span>
                                                 <span  v-if="span_loader1" class="input-group-text bg-transparent" id="basic-addon1">
                                                     <div class="spinner-border" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                 </span>
                                            </div>
                                            <span class="error-msg" style="color: rgb(242, 48, 81); font-size: 12px" v-if="v$.mobile.$error">
                                                {{ v$.mobile.$errors[0].$message }}
                                            </span>
                                            
                                        </div>
                                    </div>
                                    <!-- email/phone number -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body mb-2">
                                           <button v-if="!validated && !loading" type="button" class="btn_next shadow-none border-0 w-100" style="opacity:0.5; cursor: not-allowed; pointer-events: all !important;" disabled> submit</button>
                                           <button v-if="validated && !loading" type="submit" id="form_sbt" class="btn_next shadow-none border-0 w-100">submit</button>
                                           <button v-if="loading" class="btn_next shadow-none border-0 w-100" type="button" >
                                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>  
                                        </div>
                                    </div>
                                    <!-- btn -->
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <div class="form_body">
                                           <a href="" class="text-decoration-none">Security verification unavailable ?</a>
                                        </div>
                                    </div>
                                </form>
                             </div>
                             <!-- form end -->
                        </div>
                    </div>
                     <!--===========col-md-12 col-lg-12 col-xl-12 ================== -->
                </div>
            </div>
         </section>
         <!-- ===================section end======================= -->
    </div>
</template>
<script>
import useVuelidate from "@vuelidate/core";
import { requiredIf,helpers} from "@vuelidate/validators";
import ApiClass from '../../api/api';

export default {
    name:"SecurityVerify",
    data(){
        return{
            loading:false,
            validated:false,
            email:'',
            mobile:'',
            totp:'',
            code : 'get_code',
            code1 : 'get_code1',
            ivl:'',
            ivl1:'',
            span_loader:false,
            span_loader1:false,
            vm:{},
            login_type:''
        }
    },
    setup() {
        return {  
            v$: useVuelidate(),
        };
    },
    //form validation
    validations() {
        return {
            email: {
                requiredIf: helpers.withMessage("Email OTP required", requiredIf(this.vm.email)),
            },
            mobile  : {
                requiredIf: helpers.withMessage("Mobile  OTP is required", requiredIf(this.vm.mobile)),
            }
        }
    },
    mounted(){
        this.login_type = this.$store.getters.getLoginType

      

        this.vm = this.$store.getters.getVM

        // console.log({vm:this.vm})

        if(this.$store.getters.getEmailOtp){
            if(this.$store.getters.getEmailOtp < Date.now()){
                this.code = 'resend_code'
            }

             if(this.$store.getters.getEmailOtp > Date.now()){
                  this.code = 'code_sent'
                  this.emailTimer(this.$store.getters.getEmailOtp,'email')
            }
        }
        if(this.$store.getters.getMobileOtp){
            if(this.$store.getters.getMobileOtp < Date.now()){
                this.code1 = 'resend_code1'
            }

            if(this.$store.getters.getMobileOtp > Date.now()){
                  this.code1 = 'code_sent1'
                  this.phoneTimer(this.$store.getters.getMobileOtp,'mobile')
            }
        }
    },
    methods:{
        async get_otp(type,btn){
            if(type == 'email'){
                 this.span_loader = true
            }
            if(type == 'mobile'){
                 this.span_loader1 = true
            }

            let data = {
                'side':'verify',
                'type':type,
                'r_key':this.$store.getters.getR_key,
            }

            let res = await ApiClass.postAuthNodeRequest('user/get_code', false, data)
            if(res.data.status_code == 1){
                if(type == 'email'){
                    this.span_loader = false
                   this.emailTimer(res.data?.data?.expired_at,type,btn)
                }
                if(type == 'mobile'){
                    this.span_loader1 = false
                     this.phoneTimer(res.data?.data?.expired_at,type,btn)
                }
                    this.success(res.data.message)
            }else{

                if(type == 'email'){
                    this.span_loader = false
                }
                if(type == 'mobile'){
                    this.span_loader1 = false
                }

                // if(res.data?.message.exp =='not_exp'){
                //      return this.failed(res.data.message.msg)
                // }
                this.failed(res.data.message)

                // await new Promise(r=> setTimeout(r,2000))
                // this.$router.push('/')
              

                if(res.data.r_key == 'expired'){
                    this.$router.push('/')
                }

                return 
            }
        },
       
        emailTimer(val,type,btn) {
            this.code = 'code_sent'
            this.$store.commit('SET_EMAIL_OTP', val);
            val = new Date(val).getTime();

            this.ivl = setInterval(() => {
                var timeGap = (val - new Date().getTime());
                var min = Math.floor((timeGap % (1000 * 60 * 60)) / (1000 * 60));
                var sec = Math.floor((timeGap % (1000 * 60)) / 1000);
                // this.timer = "Resend OTP in ( " + min + "m" + ":" + sec + "s )";
                // console.log(min,sec)
                if (timeGap < 0) {
                    this.clear(type);
                    this.code = 'resend_code'
                    this.mobile=''
                    this.email=''
                    // this.span_loader =false
                }

            }, 1000)

        },
        phoneTimer(val,type,btn) {
            this.code1 = 'code_sent1'

            this.$store.commit('SET_MOBILE_OTP', val);
            val = new Date(val).getTime();


            this.ivl1 = setInterval(() => {
                var timeGap = (val - new Date().getTime());
                var min = Math.floor((timeGap % (1000 * 60 * 60)) / (1000 * 60));
                var sec = Math.floor((timeGap % (1000 * 60)) / 1000);
                // this.timer = "Resend OTP in ( " + min + "m" + ":" + sec + "s )";
                // console.log(min,sec)
                if (timeGap < 0) {
                    this.clear(type);
                    this.code1 = 'resend_code1'
                    this.mobile=''
                    this.email=''
                    //  this.span_loader1 =false
                }

            }, 1000)

        },
        clear(type){
           type == 'email' ? clearInterval(this.ivl) : clearInterval(this.ivl1)
        },

        async verify_otp(){
            let validate = await this.v$.$validate();
            if (!validate) return;

            if(this.ivl != '') {
                clearInterval(this.ivl)
                this.code = 'resend_code'
            }  
            if(this.ivl1 != '') {
                clearInterval(this.ivl1)
                this.code1 = 'resend_code1'
            }  
        
            let data = {
                'r_key':this.$store.getters.getR_key,
                'otps':{
                    "mobile":this.mobile,
                    "email":this.email,
                    "totp": this.totp
                }
            }
            this.loading = true
            let res = await ApiClass.postAuthNodeRequest('user/verify_otp', false, data)
            if(res.data.status_code == 1){
                   localStorage.setItem('token',res.data.token)
                    localStorage.setItem("user", JSON.stringify(res.data.data.user));
                    this.resetForm();
                    this.success(res.data.message);
                    this.$router.push({ name: "p2p" });
                    return;
            }
            if(res.data.status_code == 0){
                this.loading = false
                this.failed(res.data.message)
                if(res.data.r_key == 'expired'){
                    this.$router.push('/')
                }
                return 
            }
          
        },
        resetForm(){
            this.email='',
            this.mobile=''
            this.v$.$reset()
        },
       
        async check_len(){

            if(this.vm.email && this.vm.mobile ){
                if(this.email.length > 5 && this.mobile.length > 5){
                  this.validated = true;
                  await new Promise(r=>setTimeout(r,200))
                   document.getElementById('form_sbt').click()
                } else{
                    this.validated = false
                }
            }

            if(this.vm.email && !this.vm.mobile){
                if(this.email.length > 5 ){
                    this.validated = true
                      await new Promise(r=>setTimeout(r,200))
                   document.getElementById('form_sbt').click()
                     
                } else{
                    this.validated = false
                }
            }

            if(!this.vm.email && this.vm.mobile){
                if(this.mobile.length > 5){
                    this.validated = true
                      await new Promise(r=>setTimeout(r,200))
                   document.getElementById('form_sbt').click()
                     
                } else{
                    this.validated = false
                }
            }
           
        }

    }

}
</script>
<style scoped>
.input-group .input-group-text{
    color: var(--light-yellow);
    font-weight: 500;
    font-size: var(--fs-14);
    cursor: pointer;
}
</style>

